{% block doc -%}
    <!DOCTYPE html>
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
            {%- block head %}
                <title>{% block title %}{{title|default}}{% endblock title %}</title>

                {%- block metas %}
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge，chrome=1">
                {%- endblock metas %}

                {%- block styles %}
                    <link href="{{ url_for("static", filename="index.css") }}" rel="stylesheet">
                    <style>
                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6,
                        p,
                        blockquote {
                            margin: 0;
                            padding: 0;
                        }
                        body {
                            font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
                            font-size: 16px;
                            line-height: 18px;
                            color: #737373;
                            background-color: white;
                            margin: 10px 13px 10px 13px;
                        }
                        table {
                            margin: 10px 0 15px 0;
                            border-collapse: collapse;
                        }
                        td,th {
                            border: 1px solid #ddd;
                            padding: 3px 10px;
                        }
                        th {
                            padding: 5px 10px;
                        }

                        a {
                            color: #0069d6;
                        }
                        a:hover {
                            color: #0050a3;
                            text-decoration: none;
                        }
                        a img {
                            border: none;
                        }
                        p {
                            margin-bottom: 9px;
                        }
                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                            color: #404040;
                            line-height: 36px;
                        }
                        h1 {
                            margin-bottom: 18px;
                            font-size: 30px;
                        }
                        h2 {
                            font-size: 24px;
                        }
                        h3 {
                            font-size: 18px;
                        }
                        h4 {
                            font-size: 16px;
                        }
                        h5 {
                            font-size: 14px;
                        }
                        h6 {
                            font-size: 13px;
                        }
                        hr {
                            margin: 0 0 19px;
                            border: 0;
                            border-bottom: 1px solid #ccc;
                        }
                        blockquote {
                            padding: 13px 13px 21px 15px;
                            margin-bottom: 18px;
                            font-family:georgia,serif;
                            font-style: italic;
                        }
                        blockquote:before {
                            content:"\201C";
                            font-size:40px;
                            margin-left:-10px;
                            font-family:georgia,serif;
                            color:#eee;
                        }
                        blockquote p {
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 18px;
                            margin-bottom: 0;
                            font-style: italic;
                        }
                        code, pre {
                            font-family: Monaco, Andale Mono, Courier New, monospace;
                        }
                        code {
                            background-color: transparent;
                            color: rgba(0, 0, 0, 0.75);
                            padding: 1px 3px;
                            font-size: 16px;
                            -webkit-border-radius: 3px;
                            -moz-border-radius: 3px;
                            border-radius: 3px;
                        }
                        pre {
                            background-color: #f6f8fa;
                            display: block;
                            padding: 16px;
                            margin: 0 0 18px;
                            line-height: 16px;
                            font-size: 14px;
                            border: 0px solid #d9d9d9;
                            white-space: pre-wrap;
                            word-wrap: break-word;
                        }
                        pre code {
                            background-color: transparent;
                            color:#24292e;
                            font-size: 14px;
                            padding: 0;
                        }
                        sup {
                            font-size: 0.83em;
                            vertical-align: super;
                            line-height: 0;
                        }
                        * {
                            -webkit-print-color-adjust: exact;
                        }
                        @media screen and (min-width: 914px) {
                            body {
                                width: 96%;
                                margin:10px auto;
                            }
                        }
                        @media print {
                            body,code,pre code,h1,h2,h3,h4,h5,h6 {
                                color: black;
                            }
                            table, pre {
                                page-break-inside: avoid;
                            }
                        }
                    </style>
                {%- endblock styles %}
            {%- endblock head %}
        </head>
        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
            {% block navbar %}
            {%- endblock navbar %}
            {% block content -%}
            {%- endblock content %}

            {% block scripts %}
                <script src="{{ url_for("static", filename="vue.min.js") }}"></script>
                <script src="{{ url_for("static", filename="index.js") }}"></script>
                <script src="{{ url_for("static", filename="marked.min.js") }}"></script>
                <script src="{{ url_for("static", filename="FileSaver.min.js") }}"></script>
            {%- endblock scripts %}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}
