.top-text {
    text-align: center;
    font-size: large;
}

@font-face {
    font-family: "Faune";
    font-weight: 400;
    src: url("https://cdn.exploreve.fr/content/fonts/faune/Webfonts/woff2/Faune-Text_Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Faune";
    font-weight: 600;
    src: url("https://cdn.exploreve.fr/content/fonts/faune/Webfonts/woff2/Faune-Text_Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Faune";
    font-weight: 300;
    font-style: italic;
    src: url("https://cdn.exploreve.fr/content/fonts/faune/Webfonts/woff2/Faune-Text_Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Faune";
    font-weight: 900;
    src: url("https://cdn.exploreve.fr/content/fonts/faune/Webfonts/woff2/Faune-Display_Black.woff2") format("woff2");
}

@font-face {
    font-family: "Faune";
    font-weight: 300;
    src: url("https://cdn.exploreve.fr/content/fonts/faune/Webfonts/woff2/Faune-Text_Regular.woff2") format("woff2");
}

* {
    font-family: Faune;
}

.foulardsvg {
    width: 200px;
    height: auto;
}

/*.footer {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    !* Set the fixed height of the footer here *!*/
/*    height: 60px;*/
/*    line-height: 60px; !* Vertically center the text there *!*/
/*    background-color: #f5f5f5;*/
/*    margin-top: 30px;*/
/*}*/