{% extends 'admin/master.html' %}
{% block body %}
    {{ super() }}
    <div class="row-fluid">

        <div>
            {% if current_user.is_authenticated %}
                <h1>ExploRêve Backend Admin</h1>
                <p class="lead">
                    Bienvenue dans le backoffice de Explorêve. Vous avez accès à la création d'articles et aux tables.<br>
                    Ne touchez à rien si vous ne savez pas ce que vous faites.
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 text-center mx-3">
                            <a class="btn btn-primary" href="/admin/articles/create"><i class="icon-arrow-left icon-white"></i>Créer un article</a>
                        </div>
                        <div class="col-md-4 text-center mx-3">
                            <a class="btn btn-primary" href="/admin/users/confirm"><i class="icon-arrow-left icon-white"></i>Confirmer des Admins</a>
                        </div>
                        <div class="col-md-4 text-center mx-3">
                            <a class="btn btn-primary" href="/admin/camptile/moderate/unreviewed"><i class="icon-arrow-left icon-white"></i>Modération camp tiles</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4 text-center mx-3">
                            <a class="btn btn-primary" href="/docs"><i class="icon-arrow-left icon-white"></i>Documentation de l'API</a>
                        </div>
                        <div class="col-md-4 text-center mx-3">
                            <a class="btn btn-primary" href="/stats/view"><i class="icon-arrow-left icon-white"></i>Visualisation des stats</a>
                        </div>
                        <div class="col-md-4 text-center mx-3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 text-center mx-3">
                        </div>
                        <div class="col-xs-4 text-center mx-3">
                        </div>
                        <div class="col-xs-4 text-center mx-3">
                        </div>
                    </div>
                </div>
            {% else %}
                <form method="POST" action="">
                    {{ form.hidden_tag() if form.hidden_tag }}
                    {% for f in form if f.type != 'CSRFTokenField' %}
                        <div>
                            {{ f.label }}
                            {{ f }}
                            {% if f.errors %}
                                <ul>
                                    {% for e in f.errors %}
                                        <li>{{ e }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="btn" type="submit">Submit</button>
                </form>
                {{ link | safe }}
            {% endif %}
        </div>

    </div>
{% endblock body %}
