<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    {{ pagedown.include_pagedown() }}
</head>

<style>
    .contact-clean{background:#f1f7fc;padding:80px 0}@media (max-width:767px){.contact-clean{padding:20px 0}}.contact-clean form{max-width:480px;width:90%;margin:0 auto;background-color:#fff;padding:40px;border-radius:4px;color:#505e6c;box-shadow:1px 1px 5px rgba(0,0,0,.1)}@media (max-width:767px){.contact-clean form{padding:30px}}.contact-clean h2{margin-top:5px;font-weight:700;font-size:28px;margin-bottom:36px;color:inherit}.contact-clean .form-group:last-child{margin-bottom:5px}.contact-clean form .form-control{background:#fff;border-radius:2px;box-shadow:1px 1px 1px rgba(0,0,0,.05);outline:0;color:inherit;padding-left:12px;height:42px}.contact-clean form .form-control:focus{border:1px solid #b2b2b2}.contact-clean form textarea.form-control{min-height:100px;max-height:260px;padding-top:10px;resize:vertical}.contact-clean form .btn{padding:16px 32px;border:none;background:0 0;box-shadow:none;text-shadow:none;opacity:.9;text-transform:uppercase;font-weight:700;font-size:13px;letter-spacing:.4px;line-height:1;outline:0!important}.contact-clean form .btn:hover{opacity:1}.contact-clean form .btn:active{transform:translateY(1px)}.contact-clean form .btn-primary{background-color:#055ada!important;margin-top:15px;color:#fff}
</style>

<body>
<div class="contact-clean">
    <form method="post" action="">
        <h2 class="text-center">Create a new Article (<a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Aide</a>)</h2>
        {{ form.hidden_tag() if form.hidden_tag }}
        <div class="form-group">{{ form.title(class_="form-control")}}</div>
        <div class="form-group">{{ form.main_image(class_="form-control")}}</div>
        <div class="form-group">{{ form.main_image_alt_text(class_="form-control")}}</div>
        <div class="form-group">{{ form.content(only_input=True, rows=20, class_="form-control") }}</div>
        <div class="form-group">{{ form.submit(_class="btn btn-primary") }}</div>
        <h3 style="color: black">Preview : </h3>
        <p style="text-align: center; color: black">------------------------------------</p>
        <div class="form-group">{{ form.content(only_preview=True) }}</div>
    </form>
    <a class="btn btn-warning" href="/admin"><i class="icon-arrow-left icon-white"></i>Retour à la page d'accueil</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>