<script src="https://browser.sentry-cdn.com/5.15.0/bundle.min.js"
        integrity="sha384-+ysfQckQvwCB5SppH41IScIz/Iynt2pePnJNMl+D7ZOzDJ+VYhQEuwB0pA60IDM0"
        crossorigin="anonymous"></script>

{% if sentry_event_id %}
  <script>
    Sentry.init({dsn: 'https://1c76e2b19a9f4af1811fc33ea75b5f90@sentry.exploreve.fr/2'});
    Sentry.showReportDialog({eventId: '{{ sentry_event_id }}'})
  </script>
{% endif %}
