<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tile Moderation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    {{ pagedown.include_pagedown() }}
</head>

<body>


<div class="container">
    <div class="row" style="justify-content: center; margin: 5px; padding: 5px;">
        <div class="btn-group" role="group" aria-label="Basic example">
            {% if 'all' != state %}
                <a class="btn btn-primary" type="button" href="/admin/camptile/moderate/all">All</a>
            {% endif %}
            {% if 'unreviewed' != state %}
                <a class="btn btn-secondary" type="button" href="/admin/camptile/moderate/unreviewed">Not Reviewed</a>
            {% endif %}
            {% if 'reviewed' != state %}
                <a class="btn btn-success" type="button" href="/admin/camptile/moderate/reviewed">Reviewed</a>
            {% endif %}
            {% if 'unsafe' != state %}
                <a class="btn btn-danger" type="button" href="/admin/camptile/moderate/unsafe">Unsafe</a>
            {% endif %}
        </div>
    </div>

    <div class="row" style="justify-content: center;">

        {% if not tile_list %}
            <h5>Plus de tiles à modérer !</h5>
        {% else %}
            {% for tile in tile_list %}
                <div class="col-auto card text-center" style="width: 18rem; margin: 5px; padding: 5px;">
                    <img class="card-img-top" src="{{ tile.img_url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            ({{ tile.x }}, {{ tile.y }})
                            {% if tile.is_reviewed %}
                                <span class="badge badge-success">Reviewed</span>
                            {% endif %}
                            {% if tile.is_safe %}
                                <span class="badge badge-secondary">Safe</span>
                            {% endif %}
                            {% if not tile.is_safe %}
                                <span class="badge badge-danger">Unsafe</span>
                            {% endif %}
                        </h5>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <form class="form-inline" method="post" action="safe">
                                <input id="state_safe" name="state" type="hidden" value={{ state }}>
                                <input id="safe" name="id" type="hidden" value={{ tile.id }}>
                                <button class="btn btn-success" type="submit"></i>Accepter</button>
                            </form>
                            <form class="form-inline" method="post" action="unsafe">
                                <input id="state_unsafe" name="state" type="hidden" value={{ state }}>
                                <input id="unsafe" name="id" type="hidden" value={{ tile.id }}>
                                <button class="btn btn-danger" type="submit">Refuser</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>


</body>
</html>