{% macro color_scarf(background, border, knot, name) %}
    <svg xmlns:dc="https://purl.org/dc/elements/1.1/" xmlns:cc="https://creativecommons.org/ns#" xmlns:rdf="https://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="https://www.w3.org/2000/svg" xmlns="https://www.w3.org/2000/svg" id="svg25" xml:space="preserve" style="enable-background:new 0 0 349.5 736.6;" viewBox="0 0 349.5 736.6" y="0px" x="0px" version="1.1" class="foulardsvg">
        <metadata id="metadata31">
        <rdf:RDF>
            <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="https://purl.org/dc/dcmitype/StillImage" />
                <dc:title></dc:title>
            </cc:Work>
        </rdf:RDF>
        </metadata>
        <style id="style4" type="text/css">
   	        .st4 {
                fill:#FFFFFF;
            }
            .fond-{{ name }} {
                fill:{{ background }};
                fill-opacity:1;
                fill-rule:evenodd;
                stroke:none;
            }
            .lisere-{{ name }} {
                fill:{{ border }};
                fill-opacity:1;
                stroke:none;
                stroke-width:1px;
                stroke-linecap:butt;
                stroke-linejoin:miter;
                stroke-opacity:1
            }
            .bague-{{ name }} {
                fill:{{ knot }};
                stroke:none;
            }
        </style>
        <g id="Couleurs">
            <path class="fond-{{ name }}" id="fond-foulard" d="m 161.07985,482.07149 c -0.90031,-9.88185 -13.6038,-22.08665 -25.50332,-28.91425 C 123.67701,446.32965 102.96345,425.89913 95.001109,418.23897 86.484786,410.04585 59.887763,365.1788 54.815835,355.62017 49.743907,346.06153 25.164566,294.56196 22.043379,283.63781 20.431928,277.99773 16.226934,264.15866 12.687928,250.57809 9.3723066,237.85473 6.6918431,225.35827 5.818755,220.04364 3.9920882,208.92441 1.7221979,187.27118 2.3074203,168.15391 2.8926428,149.03665 6.7843228,133.37358 9.710435,123.22972 12.636547,113.08587 17.913352,99.292739 22.009909,91.489773 26.106466,83.686807 34.102965,70.565106 36.869014,67.300579 47.540809,54.705586 58.292621,40.523761 71.397138,31.797084 92.292757,17.882086 115.67897,9.9487799 126.40805,6.2423711 c 9.88295,-3.4141141 63.5741,-6.85068396 82.90651,-4.6817795 20.29206,2.2765671 34.13179,5.0268478 47.3372,12.0127764 16.09179,8.512886 32.25361,22.329405 41.61661,31.293684 8.0209,7.679335 19.1713,22.022993 25.75979,33.916303 6.62544,11.959997 11.98024,23.219695 14.42548,30.653235 1.92175,5.84213 5.33019,16.19763 7.02875,27.95111 2.6119,18.07347 3.04404,39.06238 2.33481,52.41944 -1.17045,22.04338 -10.92415,72.76266 -13.65519,81.15085 -0.54983,1.68877 -0.828,5.35696 -2.51145,9.56843 -6.67832,16.70711 -19.92725,47.71388 -23.04327,52.85529 -3.90148,6.43745 -19.31233,36.47887 -30.23648,50.71928 -10.92416,14.24042 -35.11335,43.69661 -43.11139,51.49958 -7.99804,7.80296 -22.82367,19.89756 -28.6759,29.06605 -5.85222,9.16848 -1.75567,36.67393 -0.19507,49.54883 1.56059,12.87489 11.11923,54.23061 14.63056,63.3991 3.51134,9.16848 11.3143,40.38035 13.46011,46.42765 2.14582,6.04729 15.60594,39.60004 18.33697,44.67197 5.07193,7.99804 3.70641,12.28967 2.53597,18.1419 -1.17045,5.85222 -2.14582,18.33697 -4.09656,27.31038 -1.95074,8.97341 -2.34089,11.89952 -7.60789,0.97537 -1.96363,-4.07272 -6.74639,-12.08752 -10.93178,-20.57522 -7.04097,-14.27864 -13.59113,-32.36528 -16.3786,-36.97165 -1.89075,-3.12453 -4.76739,-11.9671 -7.5673,-20.04683 -5.42977,-15.66873 -11.10957,-33.8541 -12.52534,-39.64586 -2.14581,-8.77834 -8.19312,-30.04142 -9.16849,-37.84438 -0.97537,-7.80297 -2.14581,-23.21383 -3.7064,-26.92024 -1.56059,-3.70641 -2.73104,3.51134 -3.31626,13.06997 -0.58523,9.55863 -2.92611,37.25916 -4.29163,49.54883 -1.36552,12.28967 -4.09656,35.30842 -5.07193,45.06213 -0.97537,9.75371 -6.43745,64.17939 -8.19312,75.10355 -1.75566,10.92415 -1.35571,7.64136 -1.95074,12.87489 -0.73296,4.95766 0.90844,8.68773 -7.67482,-1.26105 -3.19202,-3.69983 -6.39566,-8.87401 -9.54753,-13.94165 -5.32344,-8.55916 -9.98806,-17.06993 -10.47818,-19.5205 -0.78029,-3.90148 3.70641,-20.48278 4.87686,-30.04142 1.17044,-9.55863 3.90148,-39.40497 5.07193,-49.54883 1.17044,-10.14386 3.90148,-42.72124 6.04729,-51.49957 2.14582,-8.77834 6.43745,-33.16261 7.6079,-40.7705 0.66162,-4.30057 0.91588,-13.4141 3.31964,-21.99076 2.11238,-4.08487 2.01953,-13.69112 1.31074,-18.15124 z m 17.72474,-23.50611 c 0.63536,-13.19842 -43.37513,-47.61829 -48.85723,-55.55981 -1.77529,-2.57173 -21.91226,-20.3174 -47.246777,-62.03967 -3.881978,-6.39306 -25.371545,-54.11321 -29.590789,-77.59264 -2.401826,-13.36579 -11.222828,-43.57185 -8.699952,-65.81152 2.063582,-18.19089 0.485483,-41.80852 23.180299,-92.05321 6.998424,-15.494008 19.757813,-28.557365 29.791098,-32.378316 16.719461,16.267728 42.624061,40.575866 61.432281,56.374326 10.85029,9.11399 19.61498,14.56764 22.18162,16.14308 0.68539,0.4207 9.92751,-12.72494 22.74516,-26.60265 18.83816,-20.396153 44.11946,-44.613793 50.81706,-48.032614 22.1701,18.713245 35.08088,40.759404 46.29533,75.781974 9.88714,30.87742 11.15925,65.62633 0.0681,105.24246 -8.41663,30.06301 -22.84637,64.87372 -37.54548,89.73876 -21.90436,37.05342 -45.28402,63.98625 -47.16309,66.49539 -10.86196,14.50409 -29.32624,44.1285 -31.30732,52.07029 -1.69406,6.79115 -6.55592,7.68913 -6.10028,-1.77585 z" />
            <path class="lisere-{{ name }}" id="lisere-foulard" d="m 219.87305,2.4921875 8,9.6562505 4.41406,11.863281 4.9668,17.378906 2.48242,10.484375 6.02929,13.701172 c -3.26396,-1.545266 -6.57026,-2.716372 -9.89062,-3.769531 -4.41402,2.758765 -45.24517,49.657779 -51.31445,56.554689 -6.06928,6.89691 -4.13775,6.89548 -10.20703,4.13672 -6.06928,-2.75877 -59.51996,-58.01288 -60.57813,-57.660159 -3.45684,1.038411 -8.00589,1.790806 -15.839843,8.554687 5.723593,4.974391 34.422193,31.655172 41.007813,38.689452 6.26651,6.69342 22.02147,19.76861 38.26758,31.30078 5.16701,6.57336 8.77343,-3.3245 12.98047,-9.45312 7.58727,-11.05275 51.78669,-52.807747 64.19531,-63.105471 -2.07032,-1.607768 -4.17388,-2.927702 -6.29688,-4.070313 l 8.75196,4.15625 -4.41407,-10.484375 -2.75976,-18.482422 -2.48242,-18.484375 -4.41407,-11.863281 -4.41406,-5.7929686 z m -95.17774,4.9667969 -18.75781,6.3437496 -9.931641,11.863282 -11.58789,19.58789 -5.242188,19.310547 -4.414062,19.3125 -3.861328,16.552737 16.552734,-20.691409 6.068359,-17.105469 7.173826,-27.035156 9.65625,-13.517578 c 0,0 13.51612,-12.9658346 14.34375,-14.6210936 z M 297.11914,44.701172 c 0,0 3.03468,7.449344 3.31055,21.794922 0.27588,14.345579 -8.82911,27.31164 -9.38086,41.105466 -0.39484,9.87104 -0.64553,11.37604 -0.75781,11.45117 l 6.82812,14.20508 c 0,0 -0.55273,-9.37946 0.55078,-16.82812 1.1035,-7.44867 10.75977,-28.416018 10.75977,-28.416018 0,0 2.48291,-4.138264 3.31054,-13.242188 0.82763,-9.103925 2.2075,-11.585966 -0.27539,-14.896484 -2.48289,-3.310518 -14.3457,-15.173828 -14.3457,-15.173828 z m -6.82812,74.351558 -0.0684,-0.14062 c 0,0 0.0237,0.17048 0.0684,0.14062 z M 37.271484,68.419922 26.107422,85.705078 v 14.22461 l 5.402344,21.787112 5.220703,16.56445 6.482422,14.94531 2.880859,12.0625 2.521484,-4.14062 0.71875,-12.60352 -0.179687,-9.90234 -7.201172,-19.80664 -4.322266,-16.38477 -2.160156,-16.746092 z m 303.929686,51.316408 -10.44336,20.88672 -15.48437,22.86523 -6.8418,15.48633 0.7207,19.44531 5.22071,-13.32422 14.22461,-18.36523 11.34375,-15.66406 5.2207,-10.44336 -0.90039,-11.34375 z m -334.7187481,17.46484 -2.8808594,19.80664 5.7617187,14.76367 9.1816408,14.04493 9.722656,12.0625 7.382813,10.44336 5.761718,9.72265 1.980469,4.14258 0.900391,-8.46289 -1.259766,-10.62305 -10.443359,-16.20508 -10.263672,-14.2246 -6.841797,-9.90235 -5.9414062,-12.42383 z m 339.4003881,71.1211 -10.26367,11.34375 -16.92383,14.04492 -13.32422,10.4414 -2.88086,3.24219 -5.58203,19.80469 8.82227,-9.36133 12.60351,-10.26367 14.76563,-10.80274 9.18164,-9.0039 z m -337.7812475,15.66406 -1.7988281,0.18164 5.0410156,19.98437 8.462891,10.625 15.664062,12.24219 14.224609,13.68555 8.822266,10.4414 0.720703,-3.24023 -4.861328,-16.20508 -9.542969,-9.72265 -10.804687,-10.26368 -10.261719,-7.92187 -10.083984,-11.88281 z m 320.6757775,60.85937 -16.02343,10.08203 -31.68946,14.58594 -8.82422,17.64453 6.66211,-3.60156 14.22461,-8.10156 14.76563,-5.58203 13.32226,-4.68164 z m -299.427731,16.20508 8.101563,17.64453 28.628906,16.56446 13.324219,7.20312 8.101562,7.20117 -8.101562,-17.10351 -12.964844,-10.625 -14.943359,-7.92188 -17.466797,-9.54297 z m 267.199221,54.91602 -15.84571,9.72265 -23.76562,5.04102 -16.56641,6.12305 -12.96289,18.0039 15.48438,-8.82226 12.42383,-4.5 15.84375,-3.60157 14.40429,-4.68164 z M 57.257812,357.94727 65,373.07227 l 5.580078,9.00195 19.085938,7.74219 25.027344,5.76171 10.26367,3.06055 -17.46484,-17.28515 -16.384768,-7.5625 -20.707031,-8.46094 z m 201.119138,50.23437 -26.82812,9.72266 -25.92774,6.84179 -11.88281,17.82618 c 0.90027,-0.18006 5.04102,-1.98047 5.04102,-1.98047 l 23.58789,-6.8418 18.72461,-5.58203 z m -171.050778,0.7207 5.402344,7.5625 16.384764,14.94336 16.56445,3.60157 19.44532,3.42187 27.36914,10.98242 0.35937,-1.98047 -12.06445,-12.7832 -15.48438,-6.48242 -19.26562,-6.30274 -21.06641,-5.76171 -12.062497,-5.76172 z m 116.855468,96.32813 -8.64258,13.32422 -9.0039,12.96484 -1.61914,10.98242 1.98046,12.60352 3.78125,-16.38477 9.54102,-15.48437 6.12305,-9.00195 -0.17969,-8.64258 z m -46.99414,8.10351 0.71875,14.76368 16.20508,24.66796 5.04297,11.16211 1.08008,-18.36523 -5.94336,-10.44336 -10.80274,-12.96289 z m 52.75586,23.58594 -5.58203,13.68555 -7.38281,10.80273 -5.40235,11.52344 -0.35937,4.14063 3.42187,12.96484 3.06055,-10.62305 7.38281,-10.625 6.66016,-12.96289 1.08203,-6.48242 -1.6211,-7.38086 z m -58.1582,18.72656 -3.60157,19.98633 c 0,0 9.54347,10.62305 10.26368,10.62305 0.72021,0 7.74218,10.08203 7.74218,10.08203 l 3.78125,10.44336 3.78125,4.68164 1.43946,-16.92578 -4.32032,-11.34375 -14.58398,-15.30274 z m 68.06054,18.36524 -3.42187,8.82226 -6.30078,11.88282 -5.22266,12.96484 -1.80078,12.60352 5.94336,16.20507 1.43945,-3.42187 2.70117,-16.56445 7.02149,-16.02539 3.96094,-10.26172 z m -75.62304,36.1914 v 16.74415 l 7.92187,8.82226 5.94336,7.02344 6.30078,12.60351 4.68164,5.22071 1.6211,-12.96289 -3.60157,-8.64258 -7.5625,-12.06445 -9.36328,-7.92188 z m 87.86718,6.30079 -6.12304,18.54492 -5.76172,16.74609 -0.71875,9.54297 5.58008,14.76367 1.62109,-9.00195 4.68164,-13.32422 3.78125,-13.32422 1.43945,-10.80273 z m -92.9082,32.94921 -0.54102,19.26758 3.96094,9.36133 9.54297,8.82227 8.2832,15.8457 1.98047,4.32031 3.42188,-7.20117 -1.98047,-9.72266 -8.46289,-15.125 -8.10352,-9.72265 -6.66211,-10.98242 z m 110.37305,13.14454 -2.3418,12.7832 -4.5,19.26758 -3.60156,10.98242 8.2832,16.02539 3.24024,-1.08008 5.9414,-45.19531 z m -114.1543,23.04687 -2.70117,7.38281 3.24219,7.74219 11.52343,18.72461 11.52344,14.58594 1.08008,-4.32227 -6.8418,-14.04492 -12.42383,-17.46484 z" />
            <path class="bague-{{ name }}" id="bague-foulard" d="m 160.54693,469.87054 c -1.5278,-0.25464 -12.85903,-0.38196 -12.85903,-0.38196 l -3.05561,3.94684 0.89122,7.51171 -1.27317,4.20146 c 0,0 -1.40049,5.09269 2.29171,11.20391 3.69219,6.11123 13.3683,9.16684 13.87757,9.16684 0.50926,0 16.67854,1.14585 19.98879,-0.89122 3.31024,-2.03708 11.20391,-8.1483 14.76879,-6.62049 3.56488,1.5278 5.85659,4.96537 10.44001,3.56488 4.58341,-1.40049 8.9122,0.25463 10.44,-1.14586 1.52781,-1.40049 4.58342,-4.20146 2.80098,-6.11122 -1.78244,-1.90976 -9.03952,-7.76635 -8.02098,-8.27562 1.01854,-0.50926 9.16683,-5.9839 9.16683,-7.25707 0,-1.27318 -0.7639,-4.4561 -3.05561,-4.32879 -2.29171,0.12732 -2.29171,-2.92829 -7.38439,-4.4561 -5.09269,-1.5278 -12.34977,-4.20146 -19.09758,-1.65512 -6.74781,2.54634 -6.74781,8.1483 -12.34976,5.98391 -5.60195,-2.1644 -17.56977,-4.4561 -17.56977,-4.4561 z" />
        </g>
        <g id="trace_crayon">
   	        <path id="path5" d="m 216.3,472.6 c 0.4,-0.1 0.6,-0.4 0.9,-0.8 0.2,-0.3 0.5,-0.7 0.7,-1 0.2,-0.2 0.7,-0.2 0.8,0.1 0.3,0.7 0.7,1.4 0.9,2.2 0.2,0.7 0.4,1.3 1,1.8 0.3,0.2 0.4,0.7 0.5,1.1 0.3,1.4 0,2.7 -0.9,3.8 -0.3,0.4 -0.6,0.8 -0.9,1.1 -1.5,1.6 -3,3.3 -4.6,4.9 -0.6,0.6 -0.6,0.9 0.1,1.6 0.5,0.5 0.9,0.9 1.4,1.3 0.8,0.8 1.7,1.5 2.3,2.4 0.2,0.3 0.4,0.5 0.7,0.7 0.7,0.6 1.2,1.3 1.8,1.9 0.1,1.1 0.4,2.2 0.1,3.3 -0.1,0.4 -0.2,0.8 -0.3,1.1 -0.7,1.4 -1.6,2.6 -2.6,3.7 -0.8,0.8 -1.8,1.3 -3,1.3 -1.2,0 -2.4,-0.2 -3.5,-0.6 -0.7,-0.3 -1.2,-0.2 -1.8,0.2 -0.5,0.3 -1,0.5 -1.5,0.7 -0.3,0.1 -0.9,0 -1,0.4 -0.1,0.4 -0.2,0.8 -0.1,1.2 0,1.5 0.1,3 0.2,4.6 0.1,1.6 0.3,3.2 0.4,4.8 0.1,0.6 0.2,1.1 0.3,1.6 0.5,2.3 0.8,4.7 1.2,7.1 0.6,3.7 1.2,7.4 2.3,11 0.3,0.9 0.5,1.9 0.7,2.8 0.3,1.6 0.7,3.3 1,4.9 0.2,0.9 0.4,1.9 0.4,2.8 0,0.3 0,0.7 0.2,0.9 0.8,1.6 1.1,3.3 1.6,5 0.7,2.5 1.3,4.9 2,7.4 0.8,2.9 1.6,5.9 2.4,8.8 0.3,1.2 0.7,2.3 0.9,3.5 0.4,2.5 1.2,4.9 1.9,7.4 0.5,2 1.1,4 1.3,6.1 0.1,1.1 0.5,2.2 0.9,3.2 0.2,0.5 0.4,1 0.6,1.6 0.8,2.8 1.6,5.5 2.4,8.3 0.7,2.4 1.4,4.8 2.1,7.1 0.6,1.8 1.1,3.7 1.6,5.5 0.1,0.5 0.2,0.9 0.4,1.4 1,2.8 1.8,5.6 2.7,8.4 0.1,0.3 0.2,0.6 0.3,0.9 1.1,2.1 1.6,4.3 2.4,6.5 0.8,2.3 1.6,4.7 2.4,7 0.7,2 1.4,4.1 2.2,6.1 0.5,1.3 1.1,2.5 1.6,3.7 0.8,2 1.7,4 2.5,6 0.5,1.3 1,2.5 1.7,3.7 0.6,1 0.9,2 1.3,3.1 0.9,2.5 2,4.9 3,7.3 0.5,1.1 1,2.2 1.6,3.2 0.8,1.5 1.6,3.1 2.3,4.7 0.3,0.6 0.7,1 1.1,1.6 0.3,0.4 0.5,0.8 0.5,1.3 0.1,3.1 0.1,6.2 -0.2,9.3 0,0.4 -0.2,0.8 -0.2,1.2 -0.2,1.6 -0.7,3.1 -0.7,4.7 0,0.5 -0.1,0.9 -0.3,1.4 -0.3,1.2 -0.6,2.5 -0.7,3.8 -0.1,0.7 -0.3,1.4 -0.4,2.1 -0.3,1 -0.4,2 -0.5,3.1 -0.1,2.2 -0.3,4.3 -0.7,6.4 -0.1,0.2 -0.1,0.5 -0.1,0.7 0.1,1.2 -0.3,2.4 -0.5,3.6 -0.5,3 -1.1,6 -1.7,8.9 -0.2,1.3 -0.5,2.5 -1.1,3.6 -0.2,0.3 -0.4,0.5 -0.8,0.5 -0.7,0 -1.4,0.1 -2.2,0.1 -0.7,-0.4 -1.1,-1 -1.4,-1.8 -0.3,-0.9 -0.8,-1.7 -1.1,-2.7 -0.2,-0.7 -0.7,-1.4 -1.1,-2.1 -2.3,-3.7 -4.6,-7.3 -6.9,-11 -0.4,-0.6 -0.7,-1.3 -1,-1.9 -0.5,-1.1 -1.1,-2.1 -1.6,-3.2 -0.3,-0.6 -0.6,-1.1 -0.8,-1.8 -0.3,-1.2 -1.3,-2 -1.6,-3.2 -0.3,-1.2 -1,-2.2 -1.5,-3.2 -0.4,-0.8 -0.8,-1.5 -1.2,-2.3 -0.9,-2.1 -2,-4.2 -2.7,-6.4 -1.1,-3.2 -2.7,-6.1 -3.7,-9.3 -0.1,-0.3 -0.2,-0.6 -0.4,-0.9 -1.7,-2.9 -2.9,-6.1 -4.1,-9.2 -0.2,-0.4 -0.3,-0.9 -0.6,-1.3 -1.6,-3 -2.7,-6.1 -4.2,-9.2 -0.4,-0.9 -0.7,-2 -1,-2.9 -0.6,-1.4 -1.1,-2.8 -1.7,-4.2 -1.9,-4.1 -3.2,-8.4 -4.6,-12.6 -0.2,-0.6 -0.3,-1.2 -0.6,-1.8 -0.8,-1.8 -1.2,-3.6 -1.7,-5.5 -0.4,-1.4 -0.8,-2.8 -1.2,-4.1 -0.9,-2.7 -1.9,-5.4 -2.7,-8.2 -0.9,-2.8 -1.9,-5.6 -2.6,-8.5 -0.1,-0.5 -0.3,-1.1 -0.5,-1.6 -1.1,-3.3 -2,-6.6 -3,-9.9 -0.7,-2.6 -1.4,-5.2 -2.1,-7.9 -1.6,-6.3 -2.9,-12.6 -4.2,-19 -0.6,-2.7 -0.9,-5.5 -1.4,-8.3 -0.5,-3.2 -1,-6.5 -1.5,-9.7 -0.4,-2.9 -1,-5.8 -1.1,-8.8 0,-0.4 -0.1,-0.8 -0.2,-1.2 -0.1,-0.8 -0.3,-1.5 -0.5,-2.4 -0.1,0.2 -0.3,0.3 -0.3,0.4 -0.2,3.2 -0.5,6.4 -0.7,9.6 -0.2,2.4 -0.4,4.8 -0.6,7.2 -0.2,2.5 -0.4,4.9 -0.7,7.4 0,0.4 0,0.8 -0.1,1.2 -0.4,2.1 -0.4,4.1 -0.5,6.2 -0.2,2.7 -0.5,5.4 -0.9,8.1 -0.4,3.3 -1,6.7 -1.3,10 -0.3,3.6 -1,7.1 -1.2,10.7 -0.1,1.8 -0.4,3.6 -0.7,5.5 -0.3,1.4 -0.4,2.8 -0.5,4.3 -0.1,1.8 -0.2,3.5 -0.3,5.3 -0.1,0.9 -0.1,1.8 -0.4,2.6 -0.1,0.2 -0.2,0.5 -0.2,0.7 0,1.8 -0.3,3.5 -0.5,5.2 -0.1,0.8 -0.1,1.6 -0.1,2.4 0,1.8 -0.1,3.5 -0.3,5.2 -0.4,2.4 -0.5,4.8 -0.6,7.2 0,1.4 -0.1,2.7 -0.3,4.1 -0.1,0.6 -0.2,1.3 -0.2,1.9 -0.1,3 -0.5,5.9 -0.8,8.8 -0.5,3.9 -0.8,7.8 -1.1,11.7 -0.2,1.7 -0.3,3.3 -0.5,5 -0.2,3 -0.5,6 -1.1,9 -0.2,0.9 -0.2,1.7 -0.3,2.6 -0.1,2.1 -0.3,4.1 -0.7,6.2 -0.3,1.8 -0.6,3.6 -0.7,5.5 -0.2,3.2 -0.8,6.3 -1.2,9.5 -0.1,1.1 -0.4,2.2 -0.6,3.3 -0.3,2 -0.6,4 -0.9,5.9 -0.1,0.9 -0.2,1.7 -0.4,2.6 -0.2,1.7 -0.6,3.5 -0.7,5.2 -0.1,1.7 -0.3,3.3 -0.8,5 -0.1,0.4 -0.2,0.8 -0.2,1.2 -0.2,2.3 -0.7,4.6 -1,6.9 -0.2,1.2 -0.1,2.4 -0.2,3.6 0,0.7 -1.1,1.4 -1.7,1.3 -0.6,-0.1 -1.2,-0.4 -1.7,-0.8 -0.3,-0.3 -0.7,-0.7 -1,-1 -2.2,-2.7 -4.5,-5.4 -6.5,-8.3 -0.2,-0.3 -0.5,-0.7 -0.7,-1 -1.1,-1.9 -2.3,-3.6 -3.8,-5.2 -0.4,-0.5 -0.8,-1 -0.9,-1.7 -0.2,-0.8 -0.7,-1.4 -1.1,-2.1 -0.7,-1 -1.5,-1.9 -2.1,-2.9 -2,-3.4 -4.2,-6.6 -5.9,-10.1 -1,-1.9 -1.9,-3.9 -2.9,-5.8 -0.3,-0.6 -0.4,-1.2 -0.6,-1.8 -0.5,-1.7 -0.8,-3.4 -0.7,-5.2 0,-1.1 0.1,-2.2 0.7,-3.3 0.3,-0.6 0.4,-1.2 0.5,-1.8 0.3,-1.6 0.3,-3.2 0.6,-4.7 0.2,-1.1 0.5,-2.2 0.7,-3.3 0.4,-2.1 0.8,-4.2 0.8,-6.4 0,-2.6 0.4,-5.1 0.8,-7.6 0.3,-1.8 0.8,-3.6 0.7,-5.4 0,-0.6 0.1,-1.1 0.1,-1.7 0.3,-2.5 0.6,-5.1 0.8,-7.6 0,-0.5 0,-1 0,-1.4 0,-0.5 0,-1 0.1,-1.4 0.4,-1.4 0.4,-2.8 0.6,-4.3 0.2,-1.4 0.4,-2.8 0.3,-4.3 0,-0.5 0.1,-1.1 0.2,-1.7 0.6,-2.6 1,-5.3 1.2,-8 0.2,-2.2 0.3,-4.5 0.4,-6.7 0.2,-2.5 0.3,-5.1 0.6,-7.6 0.5,-4.2 0.8,-8.4 1.3,-12.6 0.2,-1.2 0.3,-2.4 0.5,-3.6 0.4,-2.4 0.6,-4.8 0.9,-7.1 0.3,-2.1 0.6,-4.3 1,-6.4 0.4,-2.8 0.9,-5.7 1.3,-8.5 0.2,-1.5 0.5,-3 0.7,-4.5 0.6,-4 1.2,-8.1 1.8,-12.1 0.3,-2 0.7,-3.9 1.1,-5.9 0.6,-3.1 1.2,-6.3 1.8,-9.4 0.4,-2.2 0.9,-4.4 1.3,-6.6 0.2,-1.2 0.5,-2.3 0.6,-3.5 0.1,-1 0.3,-1.9 0.5,-2.8 0.3,-1.3 0.5,-2.7 0.6,-4 0.3,-3 0.5,-6.1 0.8,-9.1 0.2,-1.9 0.3,-3.8 0.7,-5.7 0.3,-1.4 0.3,-2.9 0.9,-4.2 0.2,-0.5 0,-0.8 -0.5,-0.9 -1.6,-0.3 -2.9,-1.3 -4.4,-1.8 -0.3,-0.1 -0.6,-0.3 -0.8,-0.5 -1,-0.9 -2.1,-1.8 -3.1,-2.7 -1.4,-1.2 -2.3,-2.8 -3.2,-4.5 -0.7,-1.3 -1,-2.7 -1.1,-4.1 -0.2,-2.1 -0.4,-4.3 -0.5,-6.5 0,-0.4 0,-0.8 0,-1.2 0,-1.1 0.2,-2.2 0.9,-3.2 0.1,-0.2 0.2,-0.4 0.3,-0.7 -0.2,-0.4 -0.4,-0.8 -0.5,-1.3 -0.1,-0.5 -0.2,-0.9 -0.3,-1.4 -0.1,-0.5 -0.1,-1 -0.2,-1.4 -0.6,-1.4 -0.3,-2.9 0,-4.2 0.3,-1.3 0.7,-2.6 1.6,-3.7 0.3,-0.4 0.5,-1 0.8,-1.5 0.6,-0.2 1.2,-0.4 1.8,-0.5 0.2,-0.1 0.5,0 0.7,0 0.5,0.1 0.9,0.1 1.4,0 1,-0.1 1.5,-0.3 1.4,-0.6 -0.2,-0.5 -0.6,-0.7 -1,-1 -4.3,-3.1 -8.8,-6.1 -13,-9.4 -1.6,-1.2 -3.2,-2.3 -4.9,-3.5 -0.4,-0.3 -0.8,-0.6 -1.1,-0.9 -2.2,-1.9 -4.5,-3.6 -6.8,-5.3 -2.8,-2.1 -5.5,-4.2 -8.1,-6.4 -3.6,-3.1 -7.3,-6.3 -10.9,-9.4 -0.5,-0.5 -1.1,-1 -1.6,-1.5 -1,-1.1 -2.1,-2 -3.2,-2.9 -0.4,-0.3 -0.8,-0.6 -1.1,-1 -1.4,-2.1 -3.3,-3.7 -5,-5.5 -1.9,-2 -3.8,-4.1 -5.5,-6.3 -3.3,-4.2 -6.6,-8.4 -9.6,-12.9 -0.3,-0.4 -0.5,-0.8 -0.8,-1.2 -0.5,-0.5 -0.9,-1.2 -1.2,-1.8 -1.2,-2.1 -2.5,-4.3 -3.8,-6.4 -1.1,-1.9 -2.1,-3.8 -3.2,-5.6 -0.9,-1.7 -1.9,-3.3 -2.9,-5 -0.8,-1.5 -1.6,-2.9 -2.4,-4.4 -1,-1.9 -2,-3.8 -3.1,-5.7 -0.8,-1.4 -1.5,-2.8 -2.3,-4.2 -1.3,-2.5 -2.8,-4.8 -4.3,-7.2 -0.6,-1 -1.2,-2.1 -1.8,-3.1 -0.8,-1.3 -1.7,-2.6 -2.3,-3.9 -0.6,-1.4 -1.2,-2.8 -1.8,-4.2 -1.7,-3.8 -3.4,-7.6 -5.1,-11.4 -1.7,-3.7 -3.4,-7.4 -5.3,-11 -0.7,-1.3 -1.3,-2.7 -2,-4.1 -2.7,-5.5 -5.2,-11.2 -7.7,-16.8 -0.7,-1.6 -1.3,-3.3 -2,-4.9 -1.2,-3 -2.4,-5.9 -3.6,-8.9 -0.5,-1.3 -0.9,-2.5 -1.4,-3.8 -0.5,-1.4 -0.9,-2.7 -1.4,-4.1 -0.1,-0.2 -0.2,-0.5 -0.2,-0.7 -1.6,-6.4 -3.8,-12.7 -5.5,-19.1 -0.2,-0.8 -0.6,-1.6 -1,-2.4 -0.5,-0.9 -0.9,-1.9 -1.2,-2.9 -0.3,-0.8 -0.6,-1.7 -0.8,-2.5 -0.4,-2.2 -1.1,-4.3 -1.7,-6.5 C 9.9,246.4 9.3,244.3 8.8,242.3 8.7,242.1 8.7,241.8 8.7,241.6 8.3,239.1 7.8,236.7 7.2,234.3 7.1,233.7 6.9,233 6.8,232.4 6,229.3 5.4,226.2 4.9,223 4.8,222.6 4.8,222.2 4.7,221.8 4.3,220.1 4.1,218.3 3.9,216.6 3.7,215 3.5,213.4 3.2,211.9 3,210.3 2.7,208.7 2.6,207.1 2.4,203.7 2.1,200.4 1.8,197.1 1.6,195 1.6,192.9 1.5,190.9 c -0.1,-1 -0.1,-2.1 -0.2,-3.1 -0.1,-1.7 -0.2,-3.4 -0.1,-5 0,-1.8 0,-3.5 0,-5.3 -0.1,-3.8 0,-7.5 0.2,-11.3 0.1,-2.7 0.2,-5.4 0.3,-8.1 0,-2.1 0.4,-4.1 0.6,-6.2 0.3,-1.9 0.6,-3.8 0.9,-5.7 0.2,-1 0.3,-2.1 0.4,-3.1 0.3,-2.4 0.7,-4.7 1,-7.1 0.1,-1 0.3,-2.1 0.4,-3.1 0,-0.4 0.1,-0.8 0.2,-1.2 0.5,-2.6 1.1,-5.2 1.7,-7.7 1,-4.1 2,-8.2 3.6,-12.2 0.4,-0.9 0.7,-1.8 1,-2.7 0.2,-0.6 0.5,-0.9 1,-1.2 0.2,-0.1 0.4,-0.3 0.5,-0.5 0.3,-0.6 0.5,-1.2 0.7,-1.8 2.1,-5 4.3,-10 6.8,-14.8 1.3,-2.6 2.7,-5.1 4.3,-7.5 1,-1.6 2,-3.3 3,-4.9 1.7,-2.7 3.5,-5.3 5.3,-8 0.1,-0.1 0.2,-0.3 0.3,-0.4 4.4,-6 8.9,-11.9 13.7,-17.6 0.3,-0.3 0.5,-0.6 0.8,-0.9 2.1,-2.1 4.1,-4.2 6.2,-6.3 0.3,-0.3 0.6,-0.6 0.9,-0.8 2.1,-1.9 4.2,-3.7 6.3,-5.5 1.4,-1.3 2.8,-2.6 4.2,-3.9 1.1,-1.1 2.3,-2 3.6,-2.8 0.7,-0.4 1.4,-0.9 2,-1.4 2.2,-1.8 4.5,-3.3 6.9,-4.7 2.5,-1.4 5,-2.8 7.6,-4.1 3,-1.5 6,-3.1 9.1,-4.4 1.8,-0.7 3.4,-1.7 5.2,-2.4 1,-0.4 2,-0.7 2.9,-1.2 0.9,-0.4 1.8,-0.7 2.7,-1 0.3,-0.1 0.6,-0.1 0.9,-0.3 1.3,-0.8 2.7,-1.3 4.1,-1.9 1.6,-0.7 3.2,-1.4 4.9,-1.9 1.8,-0.6 3.5,-1.5 5.4,-1.9 0.7,-0.2 1.3,-0.5 2,-0.8 0.7,-0.3 1.4,-0.7 2.2,-1 2.1,-0.6 4.1,-1.2 6.2,-1.7 0.5,-0.1 0.9,-0.2 1.4,-0.2 0.3,0 0.7,0 0.9,0.1 0.5,0.3 1.1,0.3 1.6,0.1 0.1,-0.1 0.3,-0.1 0.5,-0.1 3.8,-0.1 7.4,-1.1 11.2,-1.4 0.6,0 1.3,-0.1 1.9,-0.2 1,0 1.9,-0.2 2.8,-0.4 1,-0.2 2.1,-0.3 3.1,-0.4 2.9,-0.3 5.7,-0.8 8.6,-0.7 0.3,0 0.6,0 1,0 2.8,-0.5 5.6,-0.3 8.4,-0.4 0.8,0 1.6,-0.1 2.4,-0.1 1.4,-0.1 2.7,-0.2 4.1,-0.1 2.2,0.2 4.3,0.2 6.5,0.1 2.1,-0.1 4.2,0 6.2,0.1 0.9,0 1.8,0 2.6,0 1.5,0 3,0.1 4.5,0.2 1.7,0.2 3.5,0.2 5.3,0.2 1.2,0 2.4,0 3.6,0 0.9,0 1.8,0 2.6,0.1 1,0 1.9,0 2.9,0.1 2.1,0.2 4.3,0.4 6.4,0.7 1.8,0.3 3.6,0.7 5.4,0.7 1.9,0.6 3.9,0.6 5.9,1.2 1.3,0.4 2.7,0.4 4,0.6 0.8,0.1 1.6,0.2 2.3,0.5 0.4,0.2 0.8,0.3 1.1,0.4 2.8,0.5 5.4,1.6 7.8,2.8 1.9,1 3.9,1.9 5.9,2.6 0.4,0.2 0.9,0.3 1.3,0.6 3.7,2 7.5,3.9 11.2,6.1 2.5,1.5 4.9,2.9 7.3,4.5 1,0.7 2,1.4 2.9,2.2 1,0.9 2,1.6 3.1,2.3 3.7,2.3 7.1,4.9 10.2,7.9 0.6,0.5 1.2,1.1 1.8,1.6 2.7,2.1 5.2,4.5 7.6,6.9 0.3,0.3 0.6,0.8 1,1 1.8,1.4 3.2,3.1 4.7,4.8 0.5,0.6 1.1,1.2 1.6,1.8 1.4,1.4 2.7,3 3.9,4.6 0.8,1.2 1.8,2.3 2.7,3.4 1.3,1.4 2.3,3 3.4,4.6 0.4,0.5 0.7,1.1 1.1,1.6 2.6,3 4.5,6.6 6.7,9.9 0.4,0.7 0.7,1.4 1,2.2 1,1.9 2.3,3.7 3,5.7 1.3,1.7 1.9,3.7 2.9,5.5 1.3,2.5 2.5,5 3.8,7.5 1.4,2.7 2.6,5.5 3.9,8.2 1,2.2 2.1,4.5 3.1,6.8 0.1,0.2 0.2,0.5 0.2,0.7 -0.4,0.9 0.1,1.7 0.4,2.5 1,2.5 1.8,5.1 2.5,7.7 0.2,0.7 0.5,1.4 0.7,2 0.8,2.9 1.6,5.8 2.2,8.8 0.4,2.2 0.9,4.4 1.1,6.6 0.3,2.3 0.6,4.6 0.7,6.9 0.1,1.5 0.3,3 0.4,4.5 0.1,2.2 0.1,4.3 0.2,6.5 0,1.1 0.1,2.2 0.1,3.4 0,0.5 0.1,1 0,1.4 -0.2,1.8 -0.1,3.5 -0.1,5.3 0,0.8 0,1.6 0.1,2.4 0.2,1.5 0.2,3 0.1,4.6 -0.1,1 0,1.9 0.1,2.9 0.1,0.5 0.2,1.1 0.2,1.7 0,2.2 0.1,4.3 -0.1,6.5 -0.1,1.4 -0.1,2.9 0.1,4.3 0.2,2.5 0,4.9 -0.2,7.4 -0.1,1.4 -0.3,2.7 -0.3,4.1 0,1 -0.1,2.1 -0.3,3.1 -0.4,3.6 -0.9,7.1 -1.3,10.7 -0.3,2.1 -0.7,4.3 -1,6.4 -0.3,1.8 -0.6,3.6 -0.7,5.5 0,0.6 -0.2,1.1 -0.3,1.7 -0.5,2.4 -0.9,4.7 -1.4,7.1 -0.6,2.6 -0.9,5.2 -1.7,7.7 -0.3,1 -0.4,2 -0.6,3.1 -0.3,2.1 -0.9,4.2 -1.1,6.4 0,0.6 -0.2,1.3 -0.4,1.9 -1.1,3.9 -1.7,8 -2.5,12 -0.6,2.8 -1.2,5.6 -1.9,8.4 -0.1,0.5 -0.4,1.1 -0.5,1.6 -0.6,1.7 -1.3,3.3 -1.6,5 -0.1,0.5 -0.3,1.1 -0.5,1.6 -1,2 -1.6,4.2 -2.4,6.3 -0.5,1.3 -1.1,2.7 -1.7,4 -1,2.2 -2.1,4.3 -3.1,6.5 -0.4,0.9 -0.7,2 -1.1,2.9 -0.3,0.9 -1,1.6 -1.4,2.5 -1.4,3.2 -2.9,6.4 -4.2,9.7 -0.8,2 -1.8,3.9 -2.7,5.9 -0.5,1.1 -1.2,2.1 -1.4,3.3 -0.1,0.3 -0.3,0.6 -0.4,0.8 -0.9,1.4 -1.6,2.9 -2.3,4.4 -0.7,1.4 -1.4,2.9 -2.1,4.3 -1.1,2.4 -2.4,4.7 -3.6,7 -0.7,1.4 -1.5,2.8 -2.1,4.3 -0.7,1.6 -1.5,3.2 -2.2,4.8 -0.2,0.5 -0.5,1 -0.7,1.5 -0.3,0.7 -0.5,1.5 -0.8,2.2 -0.4,0.7 -1,1.3 -1.4,1.9 -0.4,0.5 -0.7,1.1 -1,1.6 -0.9,1.7 -1.7,3.4 -2.6,5.1 -0.9,1.6 -1.9,3.2 -2.8,4.8 -2.1,3.6 -4.4,7 -6.8,10.5 -1.2,1.8 -2.5,3.5 -3.8,5.2 -1.9,2.5 -3.8,5 -5.6,7.5 -0.7,1 -1.3,2 -2,3 -1.7,2.4 -3.6,4.7 -5.4,7 -0.7,0.9 -1.4,1.9 -2.2,2.9 -0.3,0.4 -0.7,0.9 -1.1,1.3 -0.4,0.5 -0.8,1 -1.1,1.5 -0.8,1.5 -1.9,2.8 -3,4 -1,1.1 -1.8,2.2 -3,3 -0.4,0.3 -0.6,0.9 -1,1.3 -2.1,2.3 -4.2,4.6 -6.3,6.9 -0.6,0.7 -1.2,1.5 -1.8,2.3 -0.6,0.8 -1.2,1.5 -1.9,2.2 -1.6,1.6 -3.2,3.3 -4.8,5 -1.8,1.9 -3.7,3.8 -5.5,5.7 -0.6,0.6 -1.2,1.3 -1.8,1.9 -0.2,0.2 -0.4,0.5 -0.6,0.7 -1.8,1.4 -3.3,3.3 -5,4.8 -1.3,1.2 -2.4,2.6 -3.7,3.8 -2.6,2.5 -5,5.2 -7.5,7.7 -0.8,0.8 -1.6,1.6 -2.4,2.3 -1,1 -2,2.1 -2.9,3.1 -1.3,1.4 -2.6,2.8 -4,4.1 -1,1 -2,1.8 -3,2.8 -0.1,0.1 -0.1,0.6 0,0.6 1.4,0.7 2.9,1.4 4.3,2 0.3,0.2 0.6,0.1 0.9,-0.2 0.9,-0.9 1.8,-1.9 2.7,-2.7 0.8,-0.7 2.1,-0.6 2.7,0.3 0.6,0.8 0.9,1.7 0.6,2.7 -0.2,0.8 -0.6,1.7 -0.9,2.5 -0.6,0.4 -0.8,0.7 -0.7,1 -0.2,0 -0.4,0.1 -0.5,0.4 -0.3,0.2 -0.5,0.4 -0.8,0.6 0,0 0.1,-0.1 0.1,-0.1 0,0 0.1,0.1 0.1,0.1 -0.1,0.1 -0.2,0.1 -0.2,-0.1 0,-0.6 0,-0.6 0.7,-0.5 0.4,0.1 0.5,-0.1 0.6,-0.4 z m 0,23.7 c -0.1,-0.2 -0.1,-0.2 0.1,-0.1 -0.1,0 -0.2,0.1 -0.1,0.1 -0.2,-0.3 -0.3,-0.6 -0.5,-0.9 -0.2,-0.1 -0.5,-0.3 -0.4,-0.6 -0.3,0.1 -0.5,0 -0.8,-0.2 -0.3,-0.5 -0.6,-0.9 -1.3,-0.8 -0.6,0 -0.7,0 -0.7,-0.7 -0.1,-0.3 -0.1,-0.5 -0.2,-0.8 0,0.2 -0.1,0.2 -0.2,0 0,0 0.1,0 0.1,0 0.1,0.3 0.2,0.5 0.3,0.8 0.3,0.1 0.5,0.3 0.6,0.6 0.4,0.3 0.9,0.6 1.4,0.8 0.1,-0.1 0.1,-0.4 0.4,-0.4 0.4,0.1 0.2,0.3 0.3,0.5 0.2,0.1 0.1,0.5 0.4,0.6 0.3,0.5 0.4,0.8 0.6,1.1 z m -6.3,-9.4 c 0.1,0.1 0.1,0.2 0.2,0.3 0,-0.1 0.1,-0.1 0.1,-0.2 -0.1,0.1 -0.2,0.1 -0.3,-0.1 -0.2,-0.1 -0.3,-0.4 -0.5,-0.6 -0.2,-0.1 -0.4,-0.2 -0.7,-0.4 -0.3,-0.4 -0.8,-0.1 -1.2,-0.3 0.1,-0.2 0.1,-0.5 -0.1,-0.7 -0.2,-0.2 -0.4,-0.5 -0.7,-0.7 -1.4,-0.9 -2.6,-2.1 -4.1,-2.9 -0.8,-0.4 -1.6,-1.1 -2.4,-1.6 -0.6,-0.4 -1.2,-0.7 -1.9,-1.1 -0.2,-0.1 -0.5,-0.1 -0.7,0 -0.4,0.1 -0.9,0.3 -1.1,0.7 0.1,0.3 0.4,0.5 0.7,0.6 1.7,0.6 3.2,1.4 4.8,2.2 1.9,1 3.9,1.9 5.5,3.3 0.5,-0.1 0.8,0.1 1.2,0.3 0.5,-0.3 0.5,-0.3 0.6,0.3 0.3,0.5 0.4,0.7 0.6,0.9 z m -22.8,-6.3 c 0,0 -0.1,0 -0.1,-0.1 0,-0.2 0.1,-0.2 0.2,-0.1 0,0 0,0.1 -0.1,0.2 l -0.1,-0.1 z m 25.6,-4.2 c 0.3,-0.2 0.5,-0.4 0.9,-0.3 l -0.1,-0.1 c 0,0 0.1,0.1 0.1,0.1 -0.2,0.3 -0.6,0.4 -0.9,0.3 0,0.1 0,0.1 0,0 -0.1,0.1 -0.1,0.1 0,0 z m 5.1,21.7 c 0.1,-0.2 0.1,-0.2 0.1,0 0,0 -0.1,-0.1 -0.1,-0.1 0.2,-0.1 0.3,0 0.3,0.2 0,0 -0.1,0.1 -0.1,0.1 -0.1,-0.1 -0.1,-0.2 -0.2,-0.2 z m -10.2,-9.4 c 0.1,0.2 0,0.3 0,0 0,0.1 0,0.1 0,0 -0.5,-0.2 -0.9,-0.6 -1.6,-0.7 -0.1,-0.3 -0.4,-0.4 -0.7,-0.4 -0.2,0 -0.4,0 -0.6,0 0.3,-0.4 0,-0.7 -0.3,-1 -2.4,-1.6 -5,-3 -7.6,-4.3 -0.4,-0.2 -0.9,-0.2 -1.4,-0.1 0,0 -0.1,0 -0.1,0 0.5,0.5 1.1,0.9 1.8,1.1 0.4,0.1 0.7,0.3 1.1,0.5 1.7,1 3.4,2.1 5.1,3 0.5,0.3 0.9,0.6 1.3,1 0.5,-0.1 0.9,0.2 1.4,0.3 0.5,0.3 0.9,0.9 1.6,0.6 z m 6.2,9.9 c 0,-0.1 0,-0.1 0,0 0,0 0,0 0,0 -0.3,-0.3 -0.6,-0.5 -0.8,-0.8 -0.2,-0.2 -0.4,-0.3 -0.8,-0.3 0.1,-0.2 0,-0.5 -0.2,-0.6 -0.9,-0.8 -1.7,-1.6 -2.7,-2.3 -1.1,-0.7 -2.1,-1.5 -3.1,-2.2 -1.8,-1.2 -3.7,-2.4 -5.8,-3.3 -0.6,-0.3 -1.3,-0.5 -1.8,-1.1 l -0.1,0.1 0.2,-0.1 c -0.2,0.3 -0.2,0.6 0.1,0.8 0.2,0.2 0.4,0.3 0.6,0.4 1.5,0.6 2.6,1.8 4.1,2.5 1.3,1.3 2.9,1.9 4.3,3 1.2,0.9 2.6,1.6 3.9,2.4 0.2,0.1 0.4,0.1 0.7,0.2 0.1,0.3 0.4,0.4 0.6,0.5 0.2,0.5 0.5,0.7 0.8,0.8 z m 0.2,-17 c 0.4,0 0.8,-0.1 1.1,-0.3 1.2,-0.9 2.2,-2 3.2,-3.2 0,-0.1 0.1,-0.1 0.1,-0.2 0.1,-0.2 0.1,-0.7 -0.1,-0.7 -0.1,0 -0.3,0 -0.4,0.1 -0.5,0.4 -0.9,0.9 -1.3,1.4 -0.8,1 -1.7,2 -2.6,2.9 0.1,0 0.2,0 0.1,0.1 0,0 -0.1,0 -0.1,-0.1 z M 202.9,470 c 0.6,0 1.3,0.1 1.9,0.1 0.2,0 0.4,-0.1 0.3,-0.2 0,-0.1 -0.2,-0.2 -0.3,-0.2 -0.7,-0.1 -1.3,0.1 -1.9,0.3 -0.1,0 -0.2,0 -0.2,0 -0.5,-0.4 -1,-0.6 -1.6,-0.7 -2.4,-0.2 -4.8,0 -7.2,0.4 -1,0.1 -2,0.5 -3,0.8 -1.4,0.6 -2.7,1.3 -4,2.2 -0.4,0.3 -0.7,0.6 -1.1,0.9 0,0 -0.1,0.2 0,0.2 0,0.1 0.1,0.1 0.2,0.1 1.1,-0.1 2,-0.6 2.9,-1.1 1.5,-0.9 3.1,-1.6 4.9,-2 1.2,-0.3 2.5,-0.5 3.7,-0.9 1.6,-0.5 3.3,-0.4 5,-0.4 0,0.1 0.2,0.4 0.4,0.5 z m -23.6,9.8 c -0.3,0.1 -0.6,0.2 -0.8,0.4 -0.6,0.6 -1.3,1.2 -1.9,1.9 -2.5,2.6 -4,6 -5.5,9.2 -0.2,0.5 -0.5,1 -0.2,1.6 0.2,-0.1 0.4,-0.2 0.6,-0.4 0.6,-0.7 1.2,-1.5 1.6,-2.3 0.9,-1.7 1.8,-3.4 2.7,-5.1 0.8,-1.5 1.7,-2.9 2.8,-4.1 0.4,-0.4 0.6,-0.8 0.7,-1.2 0,0 0,-0.1 0,0 0.1,-0.1 0.1,-0.1 0,0 z M 151,463 c -0.1,-0.1 -0.2,-0.2 -0.3,-0.3 0,0 -0.2,0.1 -0.2,0.1 0.1,0.2 0.3,0.2 0.5,0.2 0,0.2 0.1,0.4 0.3,0.5 1.3,1 2.7,2 4,3.1 0.6,0.5 1.4,0.8 2.2,0.9 1.8,0.2 3.6,0.9 5.4,0.8 0.3,0 0.6,0.2 0.9,0.2 0.4,0.1 0.8,0.1 1.2,0.2 0.1,0 0.1,-0.1 0.2,-0.1 -0.1,-0.1 -0.1,-0.3 -0.2,-0.3 -2,-1 -4.1,-1.6 -6.2,-2.6 -0.2,-0.1 -0.4,-0.2 -0.7,-0.2 -0.8,-0.1 -1.5,-0.5 -2.2,-0.8 -1.3,-0.5 -2.7,-1 -4,-1.5 -0.3,-0.2 -0.6,-0.2 -0.9,-0.2 z m 45.7,-23.8 c 0.4,0.3 0.9,0.4 1.3,0.1 1.6,-0.8 3.2,-1.3 4.9,-1.8 1.9,-0.5 3.8,-1.1 5.7,-1.7 2.3,-0.6 4.6,-1.3 7,-1.7 1.5,-0.3 3,-0.6 4.4,-1 2.8,-0.8 5.7,-1.5 8.6,-2.3 1,-0.3 2,-0.6 3,-0.9 1.3,-0.4 2.5,-1 3.8,-1.5 0.9,-0.3 1.7,-0.8 2.5,-1.3 1.5,-1 2.9,-2 4.3,-3 1.2,-0.8 2.3,-1.7 3.2,-2.9 0.4,-0.6 0.7,-1.3 1.6,-1.3 0.1,0 0.3,-0.2 0.4,-0.3 1.3,-1.5 2.8,-2.8 4.1,-4.4 0.7,-0.9 1.4,-1.7 2.2,-2.6 0.3,-0.3 0.5,-0.6 0.8,-0.9 0.1,-0.1 0.1,-0.3 0.1,-0.4 0,-0.2 -0.2,-0.2 -0.4,-0.1 -0.5,0.2 -1.1,0.3 -1.6,0.6 -1.8,1 -3.8,1.6 -5.8,2.4 -2.5,0.9 -5,1.7 -7.5,2.4 -2.2,0.6 -4.3,1.2 -6.3,2.1 -0.8,0.4 -1.6,0.7 -2.5,0.9 -1.6,0.3 -3.1,0.9 -4.6,1.3 -0.7,0.2 -1.4,0.5 -2.1,0.6 -2.6,0.3 -5.1,1.2 -7.7,1.9 -2.3,0.6 -4.6,1.4 -6.8,2.2 -1.1,0.4 -2.2,0.9 -3.2,1.6 -1.1,0.8 -2.1,1.7 -2.9,2.8 -0.8,1.2 -1.7,2.3 -2.5,3.5 -1.1,1.6 -2.2,3.2 -3.2,4.7 -0.2,0.5 -0.5,0.7 -0.8,1 0.1,0.1 0.1,0.1 0.2,0.2 -0.1,-0.1 -0.1,-0.2 -0.2,-0.2 z M 90,410.3 l -0.1,-0.1 0.1,0.1 c 0.5,0.7 1,1.4 1.5,2.1 0.5,0.6 1,1.2 1.5,1.9 0.5,0.7 1.2,1.2 1.8,1.8 0.3,0.3 0.6,0.8 0.9,1.1 0.5,0.6 0.9,1.3 1.6,1.8 1.2,0.9 2.1,1.9 3.1,3 0.7,0.7 1.2,1.5 2,2.1 0.9,0.6 1.3,1.6 2.1,2.3 0.4,0.3 0.8,0.8 1.2,1.1 1.1,0.8 2.2,1.5 3.4,2.2 0.8,0.4 1.5,0.9 2.4,1.1 3.1,1 6.2,2.1 9.4,2.8 1.7,0.4 3.4,0.8 5.2,0.7 0.6,0 1.3,0 1.9,0.2 2.4,0.7 4.8,1.1 7.3,1.4 1,0.1 2,0.3 3.1,0.5 0.9,0.2 1.9,0.3 2.8,0.5 1.3,0.2 2.5,0.4 3.8,0.6 2.6,0.5 5.2,0.9 7.7,1.8 1.3,0.5 2.7,0.9 4.1,1.3 0.6,0.2 1.2,0.4 1.8,0.6 1.6,0.6 3.1,1.3 4.7,1.9 1.7,0.7 3.4,1.4 4.9,2.5 0.4,0.3 1,0.5 1.5,0.7 0,0 0.1,0 0.2,-0.1 0,0 0.1,-0.2 0,-0.2 -0.2,-0.4 -0.4,-0.9 -0.7,-1.2 -0.8,-1 -1.7,-1.9 -2.6,-2.8 -0.5,-0.6 -1,-1.2 -1.9,-1.2 -0.3,0 -0.7,-0.3 -1,-0.6 -0.4,-0.4 -0.8,-0.8 -1.2,-1.2 -0.9,-0.9 -1.8,-1.8 -2.8,-2.6 -1.5,-1.1 -3.1,-2 -4.7,-2.8 -1.8,-0.9 -3.6,-1.7 -5.4,-2.5 -2.9,-1.2 -5.7,-2.4 -8.7,-3.3 -2.3,-0.7 -4.7,-1.1 -6.8,-2.2 -0.3,-0.1 -0.6,-0.1 -0.9,-0.2 -1.9,-0.5 -3.8,-1.1 -5.7,-1.9 -0.8,-0.4 -1.7,-0.7 -2.5,-0.8 -1.4,-0.2 -2.6,-0.6 -3.9,-1 -0.8,-0.3 -1.7,-0.5 -2.5,-0.6 -1.5,-0.3 -3,-0.7 -4.4,-1.2 -1.4,-0.5 -2.8,-1.1 -4.3,-1.4 -0.4,-0.1 -0.8,-0.2 -1.1,-0.4 -1.3,-0.6 -2.7,-1 -4.1,-1.3 -0.4,-0.1 -0.8,-0.3 -1.1,-0.4 -1.3,-0.3 -2.5,-0.9 -3.8,-1.4 -2.4,-1 -4.6,-2.2 -6.7,-3.7 -0.6,-0.4 -1.2,-0.7 -1.9,-1 -0.7,-0.1 -1,0 -1.2,0 z M 73.1,94.6 c 0.5,0 0.7,-0.3 0.9,-0.7 1.3,-2.2 3,-4.2 4.1,-6.5 0.1,-0.1 0.2,-0.3 0.3,-0.4 1.4,-1.5 2.5,-3.3 4.1,-4.7 0.8,-0.7 1.4,-1.7 1.8,-2.8 1,-2.4 2.1,-4.7 3.2,-6.9 1.5,-2.9 2.6,-6 3.4,-9.2 1.1,-4.4 2,-8.9 3,-13.3 0.6,-2.5 1.3,-4.9 2.4,-7.3 0.5,-1 0.9,-2 1.4,-3.1 1.1,-2.5 2.2,-5 3.5,-7.4 1.7,-3.2 3.7,-6.2 6.1,-8.9 2.3,-2.7 4.6,-5.3 7.3,-7.6 2.3,-2 4.6,-4 6.8,-6 v 0 l 0.1,0.1 c -0.3,0 -0.6,-0.1 -0.9,-0.1 -1,0.3 -2,0.5 -3,0.9 -2.6,1 -5.2,2 -7.8,3.1 -1.3,0.5 -2.6,1.3 -3.6,2.3 -2.3,2 -4.3,4.3 -6.1,6.7 -1.7,2.3 -3.5,4.6 -5.2,6.9 -1.3,1.7 -2.4,3.6 -3.4,5.5 -1.1,1.9 -1.8,3.9 -3,5.7 -0.2,0.3 -0.4,0.7 -0.5,1.1 -0.7,2 -1.8,3.9 -2.6,5.9 -0.7,1.9 -1.4,3.7 -1.9,5.7 -0.5,1.9 -1,3.7 -1.7,5.5 -0.4,1.1 -0.7,2.3 -0.9,3.5 -0.3,1.7 -0.7,3.4 -1,5.2 -0.5,2.2 -1.2,4.3 -1.3,6.6 -0.8,3.3 -1.3,6.6 -2.1,9.8 -0.4,1.8 -1,3.5 -1.5,5.3 -0.7,1.8 -1.3,3.5 -1.9,5.1 0,0.1 0,0.1 0.1,0.1 -0.1,0 -0.1,0 -0.1,-0.1 z M 60,361.9 c 0.1,-0.2 0.1,-0.2 0.1,0 0,0 -0.1,0 -0.1,-0.1 0.8,0.7 1.2,1.7 1.7,2.6 0.8,1.5 1.6,3.1 2.5,4.7 0.4,0.8 0.8,1.5 1.1,2.4 0.5,1.3 1.2,2.6 2.1,3.8 0.3,0.4 0.7,0.9 0.9,1.4 0.9,1.9 2.4,3.4 4.1,4.6 2.4,1.6 4.7,3.3 7.5,4.2 1.9,0.6 3.7,1.5 5.7,1.8 0.3,0 0.6,0.1 0.9,0.3 1.8,0.8 3.8,1.3 5.7,1.7 1.1,0.2 2.2,0.6 3.2,0.9 0.6,0.2 1.2,0.4 1.8,0.5 2.6,0.6 5.3,1.3 7.9,1.9 0.4,0.1 0.8,0.2 1.2,0.3 1.3,0.3 2.6,0.7 3.9,1 3,0.8 6,1.5 8.9,2.7 0.7,0.3 1.5,0.5 2.3,0.7 0.1,0 0.2,-0.1 0.3,-0.2 0,0 0,-0.2 0,-0.2 -0.4,-0.7 -0.9,-1.3 -1.6,-1.8 -0.8,-0.6 -1.6,-1.4 -2.2,-2.2 -0.2,-0.2 -0.4,-0.5 -0.7,-0.6 -1.3,-0.5 -2.1,-1.4 -2.9,-2.4 -1.5,-1.7 -3.1,-3.2 -4.7,-4.7 -1.4,-1.2 -2.9,-2.3 -4.5,-3.1 -2,-1 -4,-1.9 -6.1,-2.9 -1.4,-0.7 -2.8,-1.5 -4.3,-2.1 -1.1,-0.5 -2.2,-1 -3.3,-1.4 -1.2,-0.5 -2.4,-0.9 -3.6,-1.4 -0.9,-0.4 -1.8,-0.8 -2.6,-1.2 -1.6,-0.7 -3.2,-1.5 -4.8,-2.2 -1.9,-0.8 -3.8,-1.6 -5.8,-2.4 -1.3,-0.6 -2.6,-1.2 -4,-1.6 -1.7,-0.5 -3.2,-1.3 -4.8,-2.2 -1.6,-0.9 -3.3,-1.7 -5,-2.3 0,-0.5 -0.4,-0.7 -0.8,-0.5 z m 176.4,69.9 c -0.4,-0.2 -0.8,0 -1.2,0.1 -1.7,0.5 -3.3,1.2 -5,1.6 -3.4,0.9 -6.8,1.6 -10.2,2.7 -0.5,0.1 -0.9,0.3 -1.4,0.3 -2.1,0.1 -4.1,0.7 -6.1,1.3 -2.9,0.8 -5.8,1.9 -8.7,2.4 -0.9,0.2 -1.7,0.5 -2.5,0.7 -0.5,0.2 -1.1,0.4 -1.5,0.8 -0.5,0.5 -1.2,0.8 -1.8,1.1 -0.9,0.4 -1.7,0.9 -2.5,1.3 -1.1,0.6 -2,1.4 -2.6,2.4 -0.5,0.8 -0.9,1.7 -1.7,2.3 -0.4,0.3 -0.7,0.9 -0.9,1.4 -1.5,2.8 -2.9,5.6 -4,8.7 -0.6,1.9 -1.4,3.8 -2.3,5.5 -0.6,1 -1,2.2 -1.4,3.3 -0.2,0.5 -0.4,1.1 -0.6,1.6 -0.6,0 -1.3,-0.1 -1.8,0.4 -0.1,0.1 -0.3,0.2 -0.4,0.2 -0.2,0 -0.5,0 -0.7,-0.2 -0.2,-0.2 -0.5,-0.5 -0.6,-0.7 -0.2,-0.8 -0.5,-1.7 -0.5,-2.6 -0.1,-3.1 -0.9,-6.2 -1.7,-9.2 -0.5,-1.8 -1.5,-3.1 -3.1,-4.1 -0.7,-0.4 -1.3,-0.9 -1.9,-1.4 -3.4,-3.1 -7.2,-5.5 -11.6,-6.9 -0.3,-0.1 -0.6,-0.3 -0.9,-0.4 -1,-0.4 -2,-0.9 -3.1,-1.3 -2,-0.7 -4.1,-1.2 -6.1,-2.1 -0.3,-0.1 -0.6,-0.2 -0.9,-0.3 -1.1,-0.3 -2.2,-0.5 -3.3,-0.8 -0.8,-0.2 -1.6,-0.3 -2.4,-0.4 -1.1,0 -2.2,-0.2 -3.3,-0.6 -0.4,-0.1 -0.8,-0.2 -1.2,-0.3 -2.1,-0.3 -4.1,-0.6 -6.2,-0.9 -1.4,-0.2 -2.8,-0.5 -4.2,-0.9 -1.1,-0.3 -2.2,-0.6 -3.3,-0.6 -1.3,0 -2.6,-0.2 -3.8,-0.5 -2.2,-0.6 -4.5,-1 -6.7,-1.8 -0.1,-0.1 -0.3,-0.1 -0.5,-0.1 -0.1,0 -0.2,0 -0.2,0.1 0,0.1 0,0.3 0,0.4 0.2,0.3 0.3,0.6 0.6,0.8 0.6,0.5 1.2,1.1 1.8,1.6 0.8,0.6 1.4,1.5 2.2,2.1 0.9,0.6 1.8,1.3 2.7,2 0.1,0.1 0.2,0.2 0.4,0.3 1.5,1.2 3,2.4 4.5,3.5 1.6,1.2 3,2.6 4.6,3.8 1.3,1 2.6,2.2 4,3 1.3,0.7 2.5,1.5 3.7,2.2 1.6,1 3.1,2 4.7,2.8 1.6,0.9 3.4,1.3 5,2.3 0.1,0.1 0.3,0.1 0.4,0.2 1.7,0.6 3.4,1.3 5.2,1.9 1,0.4 1.9,0.7 2.9,1.1 0.7,0.3 1.3,0.6 2,0.7 0.7,0.2 1.4,0.4 2,0.7 2.2,0.9 4.4,1.8 6.7,2.6 2.2,0.8 4.3,1.8 6.4,2.7 1.2,0.6 2.5,1.1 3.6,1.9 0.6,0.4 1.2,0.8 1.9,0.9 1,-0.6 1.8,-1.3 2.7,-2 0.1,-0.1 0.1,-0.3 0.1,-0.4 0.4,0.2 0.8,0 1.1,-0.2 1.4,-0.8 2.8,-1.6 4.4,-1.9 2.6,-0.6 5.3,-1.3 8,-1.1 0.2,0 0.3,0 0.5,0 0.8,-0.2 1.5,-0.4 2.2,0.3 0.2,0.2 0.6,0.1 0.9,0.1 0.9,0.1 1.8,0.1 2.6,0.1 0.4,0 0.8,0.1 1.2,0.1 0.5,-0.1 0.4,-0.6 0.6,-0.9 0.4,-0.5 0.9,-0.9 1.4,-1.3 1.9,-1.6 3.6,-3.3 5.3,-5.1 1.1,-1.2 2.2,-2.5 3.4,-3.7 2.5,-2.6 5,-5.2 7.5,-7.7 0.8,-0.8 1.5,-1.6 2.3,-2.4 1.2,-1.2 2.1,-2.6 3.5,-3.6 1.5,-1.1 2.4,-2.8 4,-3.8 0.5,-0.8 1.2,-1.2 1.8,-1.9 0.6,-0.7 1.2,-1.2 1.8,-1.9 0.6,-0.6 1.1,-1.1 1.6,-1.8 0.5,0 0.5,-0.3 0.6,-0.5 0.2,0 0.5,0 0.2,-0.3 -0.1,-0.1 -0.3,0.1 -0.2,0.3 z M 40.7,322.1 c 0.1,0.2 0.1,0.2 -0.1,0.1 0,-0.1 0.1,-0.1 0.1,-0.1 -0.2,0.5 -0.2,0.9 0,1.4 0.2,0.4 0.4,0.7 0.6,1.1 1.4,2.5 2.6,5.1 3.8,7.7 1.4,3.1 2.6,6.3 4.3,9.3 0.1,0.2 0.2,0.4 0.3,0.7 0.6,1.8 1.4,3.4 2.2,5 0.9,1.8 1.8,3.5 2.8,5.3 0.2,0.4 0.4,0.7 0.7,1 1.5,1.6 2.8,3.5 4.8,4.6 0.4,0.2 0.7,0.6 1.1,0.9 1.1,0.9 2.3,1.7 3.7,2.2 1.2,0.4 2.4,0.9 3.5,1.6 1.3,0.8 2.7,1.4 4.1,1.9 2.1,0.9 4.3,1.8 6.4,2.7 1.7,0.7 3.4,1.4 5.1,2.1 1.1,0.5 2.3,0.8 3.3,1.4 1.1,0.6 2.3,1.1 3.5,1.5 1,0.3 1.9,0.8 2.9,1.2 0.8,0.3 1.6,0.7 2.4,1 0.6,0.2 1.2,0.5 1.7,0.8 1.7,0.8 3.3,1.6 5,2.4 1.1,0.5 2.2,0.9 3.3,1.4 0.1,0 0.3,-0.1 0.5,-0.2 -0.4,-0.6 -0.7,-1.3 -1.1,-1.8 -1.5,-2.1 -3.2,-4.2 -4.5,-6.5 -0.1,-0.2 -0.3,-0.3 -0.5,-0.5 -1.5,-1.8 -2.9,-3.8 -4.1,-5.9 -1.5,-2.5 -3.1,-5 -4.7,-7.5 -0.9,-1.3 -1.9,-2.6 -3.1,-3.6 -2.1,-1.8 -4.1,-3.8 -6.1,-5.7 -1.5,-1.4 -3.1,-2.8 -4.6,-4.1 -1,-0.8 -2.1,-1.5 -3.1,-2.2 -2.9,-1.9 -5.9,-3.4 -8.9,-5.1 -0.5,-0.3 -1,-0.6 -1.4,-0.9 -1.2,-0.7 -2.3,-1.4 -3.6,-1.9 -2.8,-1.1 -5.4,-2.8 -8.1,-4.1 -0.3,-0.1 -0.5,-0.3 -0.8,-0.5 -2.8,-1.7 -5.6,-3.4 -8.5,-4.8 -1.4,-0.6 -2.3,-1.1 -2.9,-1.9 z m 242.2,-14.7 c 0.2,0 0.3,0.1 0.5,0 0.4,-0.2 0.9,-0.4 1.3,-0.7 2.1,-1.6 4.4,-2.6 6.8,-3.5 2.2,-0.8 4.3,-1.8 6.4,-2.6 1.1,-0.5 2.2,-0.9 3.3,-1.5 3.1,-1.6 6.1,-3.1 9.3,-4.3 0.9,-0.3 1.8,-0.7 2.6,-1.2 1.8,-1.1 3.7,-2.1 5.6,-3.2 3.7,-2.1 7.2,-4.5 9.9,-7.8 0.6,-0.8 1.1,-1.6 1.4,-2.5 0.4,-1.2 0.8,-2.4 1.3,-3.6 1,-2.4 1.6,-4.9 2.1,-7.3 0.9,-3.8 1.5,-7.7 2.3,-11.5 0.3,-1.3 0.6,-2.6 0.9,-4 0.3,-1.3 0.7,-2.6 0.7,-4 0,-0.5 0.2,-1.1 0.3,-1.6 0.8,-3 1.1,-6.1 2,-9.1 0.1,-0.3 0.1,-0.6 0.1,-0.9 0.1,-1 0.3,-2.1 0.6,-3 0.3,-0.8 0.4,-1.7 0.3,-2.6 -0.4,-0.1 -0.6,0.1 -0.8,0.3 -1.9,2.4 -4.1,4.5 -6.4,6.4 -1.6,1.3 -3.2,2.7 -5,3.7 -0.9,0.5 -1.8,1 -2.7,1.5 -2.8,1.8 -5.5,3.5 -8.2,5.3 -0.7,0.5 -1.5,1 -2.2,1.5 -1,0.7 -1.9,1.5 -2.9,2.1 -1.1,0.7 -1.9,1.7 -2.9,2.5 -0.1,0.1 -0.3,0.2 -0.4,0.3 -3.2,2.8 -6.1,5.9 -8.1,9.7 -0.2,0.3 -0.4,0.7 -0.7,1 -0.4,0.5 -0.7,1 -1,1.6 -0.3,0.7 -0.6,1.3 -1.4,1.5 -0.3,0.1 -0.5,0.4 -0.6,0.7 -0.2,0.5 -0.4,1 -0.6,1.6 -0.4,1.3 -0.8,2.6 -1.3,3.8 -0.6,1.3 -1.1,2.7 -1.5,4 -0.2,0.6 -0.4,1.2 -0.7,1.8 -0.9,1.4 -1.2,2.9 -1.6,4.5 -0.2,0.7 -0.4,1.4 -0.7,2 -0.4,0.8 -0.9,1.5 -1.2,2.3 -0.3,0.9 -0.6,1.8 -1,2.7 -0.4,0.9 -0.8,1.7 -1.2,2.6 -0.9,2 -1.6,4 -2.6,5.9 -0.8,1.5 -1.3,3.1 -1.9,4.6 -0.1,0.5 -0.1,0.8 -0.1,1 0,0.1 -0.1,0 -0.1,0.1 0,0 0,0.1 0,0.1 0.1,0.1 0.2,0 0.1,-0.2 z M 99.6,18.6 c -0.5,-0.1 -1,0 -1.4,0.2 -0.9,0.4 -1.9,0.9 -2.8,1.3 -2.4,1 -4.8,2.2 -7.1,3.4 -2.5,1.3 -5,2.6 -7.4,3.9 -0.4,0.2 -0.9,0.4 -1.2,0.7 -1,0.8 -2.1,1.4 -3.2,2.1 -0.5,0.3 -1.1,0.7 -1.6,1 -1.2,0.9 -2.5,1.8 -3.7,2.6 -2.1,1.4 -4.1,3 -6,4.8 -2.5,2.4 -5.1,4.6 -7.6,6.9 -1.2,1.1 -2.4,2.1 -3.4,3.3 -1,1.1 -2.1,2.2 -3.2,3.2 -1.2,1 -2.2,2.1 -3.1,3.3 -1,1.3 -2,2.7 -3,4 -1,1.3 -1.8,2.6 -2.7,4 -0.6,1 -1,2 -1.4,3 -0.8,2.5 -1.7,5 -2.4,7.5 -0.6,2 -1,4 -1.1,6.1 -0.3,3.5 -0.2,7 -0.3,10.5 0,0.5 0,1 0.1,1.4 0.1,0.8 0.2,1.6 0.2,2.4 0,0.6 0.1,1.3 0.2,1.9 0.3,1.7 0.5,3.5 1,5.2 0.2,0.4 0.3,0.9 0.3,1.4 0.2,1.6 0.6,3.1 1.1,4.7 1.2,3.7 2.4,7.4 3.7,11.1 0.4,1.3 1,2.5 1.5,3.8 0.4,1 0.7,2 1.1,2.9 0.4,1.1 0.8,2.3 1.3,3.4 1.1,2.4 1.8,4.9 2.4,7.5 0.3,1.2 0.5,2.3 0.6,3.5 0.2,1.7 0.3,3.5 0.4,5.3 0,0.1 0.2,0.2 0.3,0.3 0.4,-0.6 0.6,-1.3 0.7,-2 0.3,-1.2 0.5,-2.5 1,-3.7 1.1,-3 1.8,-6.1 2.9,-9.1 1.3,-3.9 2.7,-7.7 4.6,-11.3 0.5,-0.9 0.9,-1.8 1.4,-2.8 0.2,-0.5 0.5,-1.1 0.4,-1.6 -0.1,-0.8 0.1,-1.4 0.4,-2.1 0.3,-0.7 0.7,-1.5 0.9,-2.2 0.3,-0.7 0.6,-1.3 1.1,-1.8 0.3,-0.3 0.5,-0.8 0.7,-1.2 1.1,-2.4 2.2,-4.8 3.2,-7.2 0.5,-1.1 1,-2.2 1.3,-3.3 0.5,-1.6 1,-3.2 1.7,-4.7 1.2,-2.9 1.8,-6 2.5,-9 0.5,-2.3 0.9,-4.7 1.6,-7 0.2,-0.8 0.5,-1.5 0.5,-2.3 0,-1.3 0.3,-2.5 0.6,-3.8 0.4,-1.7 0.8,-3.4 1.2,-5.1 0.6,-2.5 1.1,-5 1.7,-7.5 0.4,-1.9 1.1,-3.8 1.5,-5.8 0.3,-1.5 1,-3 1.5,-4.5 1.6,-4.3 3.9,-8.2 5.8,-12.4 0.1,-0.1 0.1,-0.3 0.2,-0.4 1.7,-3 3.5,-5.9 5.6,-8.6 0.2,-0.2 0.3,-0.3 0.5,-0.5 1.4,-2.2 3.1,-4.2 4.9,-6.2 -0.2,-0.1 -0.2,-0.4 0,-0.5 l 0.1,-0.1 z M 89,76.5 c 0.3,0.1 0.6,0 0.9,-0.2 1.5,-1.2 3.1,-2.2 4.8,-3.2 2,-1.1 4,-2.3 6,-3.5 1.7,-1 3.5,-1.8 5.2,-2.9 2.4,-1.5 4.9,-2.8 7.4,-4 1.3,-0.6 2.6,-1.2 3.8,-2 2.3,-1.4 4.9,-2.3 7.4,-3.3 3.7,-1.4 7.5,-2.6 11.3,-4 3.4,-1.3 6.9,-2.1 10.4,-2.9 2.5,-0.5 5,-1 7.5,-1.7 2.9,-0.8 5.9,-1.4 8.9,-1.7 1.2,-0.2 2.4,-0.2 3.6,-0.3 2,-0.1 4,0 6,-0.4 0.2,0 0.3,0 0.5,0 2.1,-0.1 4.2,-0.1 6.2,-0.2 0.6,0 1.3,0 1.9,0.1 2.4,0.5 4.9,0.6 7.4,0.7 1.5,0.1 3,0.1 4.5,0.2 2.6,0.3 5.3,0.3 7.8,0.9 0.2,0.1 0.5,0.1 0.7,0.1 2.3,0 4.6,0.6 6.9,0.9 2,0.4 4,0.9 6,1.6 4.6,1.5 9.2,3.1 13.8,4.8 1.1,0.4 2.3,0.8 3.4,1.2 1.1,0.4 2.2,1 3.3,1.4 2,0.9 4,2 6,3.1 0.4,0.2 0.7,0.4 1.1,0.4 0.1,0 0.2,-0.1 0.2,-0.2 -0.1,-0.4 -0.2,-0.8 -0.4,-1.1 -1.6,-3.1 -2.8,-6.4 -3.8,-9.8 -0.1,-0.3 -0.2,-0.6 -0.3,-0.9 -0.2,-1.4 -0.5,-2.7 -0.9,-4 -0.3,-1.1 -0.4,-2.2 -0.6,-3.3 -0.2,-1.1 -0.6,-2.2 -0.8,-3.3 -0.4,-2.2 -1,-4.4 -1.6,-6.5 -0.7,-2.4 -1.4,-4.7 -2.3,-7 -0.2,-0.6 -0.5,-1.2 -0.6,-1.8 -0.8,-2.9 -1.9,-5.7 -3,-8.6 -0.3,-0.9 -0.7,-1.8 -1.3,-2.5 C 225.2,11.1 224.1,9.5 223,7.9 222.8,7.6 222.6,7.4 222.4,7.2 221.7,6.5 221,5.9 220.3,5.3 219.4,4.6 218.3,4 217,4 c -1.2,0 -2.4,-0.1 -3.6,-0.3 -1.7,-0.3 -3.3,-0.2 -5,-0.3 -1.7,0 -3.3,-0.3 -5,-0.2 -0.9,0.1 -1.8,0 -2.6,-0.1 -2.6,-0.3 -5.2,-0.5 -7.9,-0.4 -0.4,0 -0.8,-0.1 -1.2,-0.1 -0.5,0 -0.9,0 -1.4,0 -0.5,0 -1,0 -1.4,0 -1.2,-0.1 -2.4,0 -3.6,0 -1.7,0.1 -3.4,0.1 -5,0.1 -1.4,0 -2.9,-0.2 -4.3,-0.2 -1.5,0.1 -3,0.2 -4.5,0 -0.2,0 -0.3,0 -0.5,0 -1.4,0.3 -2.9,0.3 -4.3,0.3 -0.3,0 -0.6,0 -1,0 -1.6,0.3 -3.2,0.2 -4.8,0.4 -3.1,0.3 -6.2,0.6 -9.3,1 -1,0.1 -2,0.5 -3.1,0.3 -3,0.3 -6,0.5 -9,1 -2,0.3 -4,0.6 -5.9,0.6 -1.8,0.1 -3.4,0.5 -4.8,1.7 -1.4,1.2 -2.8,2.4 -4.3,3.4 -3.4,2.4 -6.4,5.3 -9.4,8.1 -2.2,2.1 -4.1,4.5 -6.1,6.8 -0.5,0.5 -0.9,1.1 -1.3,1.7 -1.7,2.5 -3.2,5.1 -4.7,7.8 -0.5,0.9 -0.8,1.9 -1.2,2.9 -0.1,0.2 -0.2,0.4 -0.3,0.6 -1.2,2.4 -2.3,4.9 -3.2,7.5 -0.5,1.3 -0.9,2.6 -1.2,3.9 -0.3,1.3 -0.5,2.7 -0.8,4 -0.6,2.9 -1.4,5.8 -2,8.6 -0.6,3.1 -1.7,6 -2.9,8.9 -0.2,0.4 -0.4,0.9 -0.7,1.3 -1.1,1.1 -1.4,2.2 -1.7,3.2 0,0.1 -0.1,0.1 -0.1,0.1 0,0 0,0.1 0,0.1 0.1,0.1 0.2,0 0.1,-0.2 z m 7.9,-1.3 c -0.3,0.1 -0.7,0.2 -0.9,0.4 -1.1,0.6 -2.2,1.3 -3.3,2 -1.7,1.2 -3.3,2.4 -4.6,4.1 -0.9,1.2 -2,2.3 -3,3.4 -0.9,0.9 -1.8,1.9 -2.6,2.8 -1.5,1.8 -3,3.6 -4.3,5.4 -1.6,2.2 -3,4.5 -4.6,6.7 -2.2,3.3 -4.2,6.8 -6.3,10.2 -0.8,1.3 -1.6,2.6 -2.2,4 -1,2.4 -2.2,4.6 -3.4,6.9 -0.8,1.6 -1.6,3.3 -2.2,5 -0.8,2.4 -1.8,4.8 -2.4,7.3 -1.1,2.4 -1.3,5.1 -2.5,7.5 -0.6,2.2 -1.1,4.3 -1.7,6.5 -0.3,1.2 -0.7,2.4 -1,3.7 -0.8,3.3 -1.5,6.7 -2.3,10 -0.1,0.3 -0.1,0.6 -0.2,0.9 -0.3,2.5 -0.9,4.9 -1.2,7.3 0,0.2 0,0.3 -0.1,0.5 -0.5,2.5 -0.7,5.1 -1,7.6 -0.1,0.6 -0.2,1.3 -0.3,1.9 -0.1,0.7 -0.2,1.4 -0.3,2.1 -0.1,1 -0.2,2.1 -0.3,3.1 -0.3,2.7 -0.3,5.4 -0.7,8.1 -0.1,0.5 0,1 -0.1,1.4 0,0.5 0,1 0,1.4 -0.1,1.3 -0.2,2.6 -0.2,3.8 -0.1,3.1 -0.1,6.2 -0.1,9.3 0,2.8 0,5.6 0.5,8.4 0.4,2.6 0.6,5.2 1,7.8 0.2,1.3 0.4,2.7 0.7,4 0.3,1.1 0.5,2.2 0.7,3.3 0.2,1.2 0.5,2.3 0.7,3.5 0.2,0.9 0.4,1.9 0.6,2.8 0.5,2.1 1.1,4.2 1.5,6.3 0.9,4.4 2.2,8.7 3.6,12.9 0.3,1 0.6,2 0.7,3 -0.1,0.1 -0.1,0.2 -0.1,0.3 -0.5,0.4 -0.6,0.9 -0.5,1.5 0.3,1 0.5,2 0.8,3 0.7,2.8 1.3,5.6 2,8.4 0.3,1.3 0.7,2.6 1,3.9 0.6,2.4 1.1,4.8 1.8,7.2 0.9,3.5 2,6.9 3.3,10.3 0.5,1.3 1,2.7 1.5,4 0.1,1.6 1,2.9 1.5,4.3 0.6,1.6 1.3,3.1 1.9,4.7 1.3,3.3 2.5,6.7 4.5,9.8 0.1,0.1 0.1,0.3 0.2,0.4 0.9,1.9 1.8,3.8 2.8,5.6 1,1.8 2,3.6 3.2,5.4 0.8,1.2 1.5,2.5 2.1,3.8 0.9,2 1.9,3.8 3.1,5.7 1.4,2.3 2.8,4.7 4.2,7 0.6,1 1.2,2.1 1.8,3.1 1.9,3.1 3.8,6.3 5.9,9.3 0.1,0.2 0.3,0.4 0.4,0.6 2.1,3.4 4.3,6.7 6.6,10 0.9,1.2 1.8,2.5 2.7,3.7 2.4,3.4 4.8,6.8 7.6,9.9 1.9,2.1 3.6,4.3 5.7,6.2 0.6,0.5 1.1,1.1 1.6,1.8 0.8,1.3 1.9,2.4 3,3.5 1.5,1.6 3.2,3.1 4.6,4.9 0.3,0.4 0.8,0.8 1.1,1.2 0.8,0.8 1.6,1.6 2.3,2.4 1,1 1.9,2.1 2.9,3.2 1.2,1.3 2.5,2.5 3.7,3.7 2.3,2.4 4.6,4.7 7,6.9 1.7,1.7 3.5,3.3 5.1,5.1 1.4,1.5 2.7,2.9 4.2,4.3 0.1,0.1 0.2,0.2 0.3,0.3 3.3,3.5 6.7,6.8 10.1,10.3 1.2,1.2 2.3,2.4 3.5,3.6 1.4,1.4 2.4,3 3.6,4.4 2.2,2.6 3.9,5.5 5.5,8.4 0.9,1.8 1.7,3.6 2.2,5.5 0.4,1.5 0.7,2.9 0.9,4.5 0,0.3 0.1,0.6 0.2,0.9 0,0.2 0.1,0.3 0.3,0.3 0.1,0 0.3,-0.1 0.4,-0.2 1.1,-1.9 1.9,-3.9 2.6,-5.9 0.8,-2.3 1.7,-4.7 2.9,-6.8 1.2,-2.2 2.4,-4.4 3.6,-6.5 0.7,-1.3 1.4,-2.5 2.2,-3.7 1.9,-2.8 3.8,-5.5 5.7,-8.3 1.3,-1.9 2.7,-3.7 4,-5.7 1.7,-2.5 3.3,-5.1 5,-7.6 2.4,-3.3 4.6,-6.7 7,-10 2,-2.8 4.1,-5.5 6.2,-8.2 0.6,-0.7 1.1,-1.5 1.7,-2.3 0.4,-0.5 0.7,-1.1 1.1,-1.6 1.1,-1.4 2.1,-2.8 3.1,-4.3 1.8,-2.4 3.5,-5 5.4,-7.3 0.3,-0.4 0.6,-0.8 0.9,-1.1 1.7,-2.3 3.3,-4.7 5,-7.1 2.3,-3.2 4.7,-6.3 6.8,-9.6 1.6,-2.4 3.3,-4.7 4.9,-7.1 2.2,-3.2 4.5,-6.4 6.5,-9.8 0.6,-0.9 1.2,-1.9 1.9,-2.8 1.7,-2.3 2.9,-4.8 4.2,-7.3 0.5,-0.9 0.7,-2 1.2,-2.9 0.6,-1 1,-2 1.5,-3 0.2,-0.4 0.5,-0.9 1,-1 0.6,-0.1 1,-0.5 1.3,-1 0.7,-1.2 1.4,-2.3 2,-3.5 1,-2 2.1,-4 3.1,-6 1,-2.1 2,-4.2 3,-6.3 0.9,-1.9 1.7,-3.8 2.5,-5.7 1.2,-2.6 2.4,-5.2 3.4,-7.9 0.6,-1.6 1.4,-3.1 2,-4.6 1.1,-2.5 2.6,-4.8 3.2,-7.5 0,-0.2 0.1,-0.3 0.2,-0.4 1.3,-3.2 2.8,-6.4 3.9,-9.8 0.1,-0.2 0.2,-0.5 0.3,-0.7 1.2,-2 1.8,-4.2 2.4,-6.5 0.3,-1.1 0.7,-2.1 1,-3.2 0.2,-0.5 0.4,-1.1 0.5,-1.6 0.6,-2.8 1.6,-5.5 2.4,-8.3 0.9,-3.2 1.7,-6.5 2.5,-9.8 0.3,-1.4 0.6,-2.8 1,-4.2 0.5,-1.4 0.8,-2.9 1.1,-4.4 0.7,-4.3 1.6,-8.6 2.4,-13 0.6,-3.1 1.4,-6.1 1.5,-9.2 0,-0.2 0,-0.5 0.1,-0.7 0.4,-1.1 0.4,-2.2 0.5,-3.3 0,-1 0.2,-2.1 0.1,-3.1 0,-0.3 0.1,-0.6 0.1,-0.9 0.1,-0.6 0.2,-1.1 0.2,-1.7 -0.1,-1.7 0.1,-3.3 0.3,-5 0.1,-0.7 0.1,-1.4 0,-2.1 -0.2,-0.6 -0.1,-1.3 0,-1.9 0.2,-2.7 0.6,-5.4 0.4,-8.1 -0.1,-1.3 0.1,-2.7 0.1,-4.1 0,-0.6 0,-1.1 0,-1.7 0,-0.7 -0.1,-1.4 -0.1,-2.1 -0.1,-1.4 -0.1,-2.7 -0.3,-4.1 -0.4,-2.1 -0.3,-4.3 -0.8,-6.4 0.1,-0.9 -0.3,-1.7 -0.3,-2.6 0,-1 -0.2,-1.9 -0.5,-2.8 -0.5,-1.5 -0.7,-3.1 -1,-4.7 -0.2,-0.9 -0.2,-1.7 -0.3,-2.6 -0.1,-0.9 -0.3,-1.9 -0.7,-2.8 -0.7,-1.9 -1.2,-3.8 -1.8,-5.7 -0.1,-0.2 -0.2,-0.5 -0.2,-0.7 0,-1.2 -0.5,-2.3 -1,-3.4 -0.2,-0.4 -0.4,-0.9 -0.4,-1.4 0,-0.4 -0.1,-0.8 -0.3,-1.2 -0.9,-2.6 -1.9,-5.3 -2.8,-7.9 -0.4,-1 -0.7,-2 -1.3,-2.8 -0.7,-1.1 -1,-2.3 -1.4,-3.6 -0.1,-0.4 0,-0.8 0.2,-1.1 0.1,-0.2 0.1,-0.5 0,-0.7 -0.3,-0.6 -0.5,-1.2 -0.8,-1.7 -1.3,-3.3 -2.6,-6.7 -4.3,-9.9 -0.3,-0.6 -0.6,-1.3 -1,-1.9 -1,-1.9 -2,-3.8 -2.9,-5.8 -1,-2 -2.3,-3.8 -3.3,-5.9 -0.1,-0.1 -0.2,-0.3 -0.3,-0.4 -1.1,-1.8 -2.1,-3.6 -3.1,-5.4 -0.8,-1.5 -1.7,-2.9 -2.7,-4.2 -1.3,-1.7 -2.5,-3.5 -3.7,-5.3 -1.2,-1.8 -2.6,-3.4 -4.3,-4.9 -1.1,-0.9 -2.2,-1.9 -2.9,-3.2 -0.2,-0.3 -0.6,-0.6 -0.8,-0.9 -1.3,-1.5 -3,-2.7 -4.2,-4.2 -1.2,-1.4 -2.7,-2.5 -3.7,-4 -0.1,-0.1 -0.2,-0.2 -0.4,-0.3 -0.1,-0.1 -0.3,-0.2 -0.4,-0.3 -0.6,-0.4 -1.5,-0.5 -2,0.1 -0.8,1.1 -2,1.8 -3,2.8 -2.2,2.2 -4.8,3.9 -7.1,6.1 -1.4,1.3 -2.9,2.5 -4.4,3.7 -0.8,0.7 -1.6,1.4 -2.2,2.2 -1,1.2 -2.1,2.2 -3.2,3.2 -1.2,1 -2.4,1.9 -3.3,3.1 -0.1,0.2 -0.3,0.3 -0.5,0.5 -2.6,2.5 -5.5,4.9 -7.9,7.7 -0.1,0.1 -0.3,0.2 -0.4,0.3 -1.9,1.8 -3.8,3.6 -5.5,5.7 -0.6,0.7 -1.3,1.4 -2,2 -1.7,1.6 -3.4,3.2 -5,4.8 -1.9,1.8 -3.7,3.8 -5.3,5.8 -0.7,0.9 -1.4,1.7 -2.2,2.5 -0.7,0.6 -1.3,1.4 -1.9,2.1 -0.4,0.5 -0.8,1 -1.3,1.4 -2.1,2 -3.9,4.2 -5.6,6.5 -0.3,0.4 -0.6,0.7 -0.9,1.1 -0.2,0.3 -0.5,0.6 -0.6,1 -0.5,1.1 -1.3,2 -2.1,2.9 -1.4,1.5 -2.9,3 -4,4.7 -1.1,1.6 -2.3,3 -3.8,4.3 -1.1,-0.4 -2,-0.9 -2.8,-1.7 -1.1,-1.1 -2.3,-2 -3.6,-2.8 -2,-1.3 -3.7,-2.7 -5.5,-4.2 -0.9,-0.7 -1.7,-1.4 -2.7,-2 -0.9,-0.5 -1.7,-1.2 -2.5,-1.9 -0.4,-0.3 -0.7,-0.6 -1.1,-0.9 -2.4,-1.5 -4.6,-3.2 -6.7,-5 -1.9,-1.7 -3.9,-3.3 -5.8,-5 -0.9,-0.9 -1.9,-1.7 -2.9,-2.5 -1.7,-1.4 -3.4,-2.9 -5,-4.5 -0.9,-0.9 -1.9,-1.7 -2.8,-2.6 -1.1,-1 -2.3,-2 -3.4,-3 -2.2,-2 -4.6,-3.7 -6.6,-5.9 -0.4,-0.5 -1,-0.8 -1.5,-1.2 -0.7,-0.6 -1.4,-1.1 -2,-1.7 -1.1,-1.1 -2.4,-2.2 -3.6,-3.2 -1.5,-1.3 -3,-2.7 -4.4,-4 -0.3,-0.3 -0.5,-0.6 -0.8,-0.9 -1.4,-1.7 -2.9,-3.2 -4.5,-4.7 -1.6,-1.5 -3.3,-3 -4.9,-4.6 -1.6,-1.6 -3.3,-3.2 -5,-4.8 -1.8,-1.8 -3.8,-3.4 -5.7,-5.1 -0.3,0.6 -0.5,0.5 -0.8,0.3 z M 234,61.4 c -0.1,-0.2 -0.2,-0.4 -0.3,-0.5 -0.4,-0.3 -0.8,-0.5 -1.3,-0.7 -1.4,-0.7 -3,-1.2 -4.5,-1.7 -2.1,-0.8 -4.2,-1.6 -6.3,-2.3 -1.9,-0.7 -3.8,-1.2 -5.7,-1.9 -1.3,-0.4 -2.5,-1 -3.8,-1.4 -0.4,-0.1 -0.8,-0.3 -1.1,-0.4 -3.1,-0.6 -6.2,-1.5 -9.4,-1.6 -0.5,0 -0.9,-0.2 -1.4,-0.2 -3.4,-0.5 -6.8,-0.9 -10.3,-1 -2.2,-0.1 -4.5,0 -6.7,-0.3 -1,-0.1 -2.1,-0.2 -3.1,-0.3 -5.9,-0.3 -11.8,0.3 -17.7,0.6 -0.4,0 -0.8,0.1 -1.2,0.2 -3.5,0.8 -7,1.6 -10.5,2.4 -1.7,0.4 -3.4,0.9 -5.1,1.3 -2.4,0.6 -4.8,1.2 -7.1,2 -2.4,0.8 -4.8,1.8 -7.3,2.4 -0.3,0.1 -0.6,0.2 -0.9,0.4 -0.9,0.4 -1.7,0.8 -2.7,1.1 -1.2,0.4 -2.4,0.9 -3.6,1.3 -1.4,0.5 -2.7,1.3 -4.2,1.9 -1.3,0.5 -2.4,1.3 -3.6,1.9 -0.4,0.2 -0.5,0.7 -0.2,1 1.4,1.4 2.7,2.7 4.1,4.1 0.9,0.8 1.8,1.6 2.6,2.5 1.9,1.9 3.7,4 5.8,5.7 0.9,0.7 1.7,1.5 2.5,2.3 0.5,0.5 1.1,0.9 1.6,1.5 2.2,2.4 4.5,4.5 6.9,6.7 0.3,0.3 0.6,0.6 0.9,0.8 2.3,1.8 4.5,3.9 6.6,5.9 2.2,2 4.2,4.1 6.4,6.1 2.5,2.2 4.9,4.4 7.3,6.6 0.3,0.3 0.6,0.5 0.9,0.8 3.2,3.3 6.7,6.2 9.9,9.4 1.5,1.5 3.2,2.6 4.7,4 0.5,0.5 1.2,0.8 1.8,1.2 0.2,0.1 0.5,0 0.6,-0.2 0.4,-0.4 0.7,-0.9 1.1,-1.3 1.5,-2 3,-3.9 4.8,-5.7 0.2,-0.2 0.4,-0.5 0.6,-0.7 1.8,-2.4 3.6,-4.7 5.7,-6.8 1.2,-1.3 2.5,-2.5 3.6,-3.9 1.7,-2.1 3.6,-4.1 5.5,-6 1.3,-1.3 2.6,-2.6 3.7,-4.1 0.7,-0.9 1.5,-1.7 2.3,-2.4 0.8,-0.8 1.7,-1.5 2.4,-2.4 1.1,-1.3 2.2,-2.5 3.4,-3.7 1.3,-1.3 2.5,-2.7 3.7,-4.1 0.6,-0.7 1.3,-1.4 1.9,-2.1 1.6,-1.7 3.4,-3.4 4.8,-5.3 0.8,-1 1.6,-2 2.5,-2.9 1.3,-1.3 2.6,-2.6 3.8,-4 1.2,-1.3 2.4,-2.5 3.7,-3.7 0.8,-0.9 1.3,-1.7 1.9,-2.5 z m 65.2,1.4 c -0.2,-2.6 -0.3,-5.3 -0.9,-7.9 -0.3,-1.2 -0.5,-2.4 -0.7,-3.5 -0.3,-1.3 -0.6,-2.5 -1.1,-3.7 -0.3,-0.6 -0.5,-1.4 -0.7,-2 -0.4,-1.4 -1.1,-2.7 -2.3,-3.6 -1.2,-0.9 -2.2,-2.1 -3.4,-3.1 -1.2,-1 -2.4,-2.1 -3.7,-3.1 -1.7,-1.4 -3.5,-2.8 -5.1,-4.3 -1.3,-1.1 -2.9,-1.7 -4,-3 -2.6,-1.6 -5,-3.4 -7.4,-5.3 -0.1,-0.1 -0.1,-0.1 -0.2,-0.1 -2.4,-1.4 -4.8,-2.9 -7.2,-4.3 -1.8,-1 -3.7,-1.9 -5.4,-3.1 -0.3,-0.2 -0.7,-0.4 -1.1,-0.5 -1.9,-0.8 -3.7,-1.8 -5.6,-2.7 -0.4,-0.2 -0.9,-0.4 -1.3,-0.5 -1.3,-0.3 -2.4,-0.9 -3.5,-1.5 -0.8,-0.4 -1.7,-0.9 -2.5,-1.3 -0.1,0 -0.2,0 -0.2,0 -0.1,0.1 -0.2,0.3 -0.2,0.4 0.1,0.4 0.3,0.7 0.5,1.1 1.1,2 2,4 2.7,6.1 0.6,1.8 1.3,3.6 2,5.4 0.2,0.6 0.4,1.2 0.4,1.9 0,0.3 0,0.6 0.1,0.9 0.5,1.9 0.7,3.8 1,5.7 0.3,1.9 0.5,3.8 0.8,5.7 0.1,0.5 0.1,1 0.1,1.4 0,0.5 0,1 0.1,1.4 0.3,2.5 0.7,4.9 1,7.4 0.3,2.6 0.8,5.2 1.3,7.8 0.1,0.5 0.3,0.9 0.3,1.4 0.2,2.2 0.8,4.2 1.4,6.3 0.6,2.1 1.4,4.1 2.4,6 0.7,1.3 1.4,2.7 1.9,4.1 0.1,0.3 0.3,0.6 0.5,0.8 1,1.1 2,2.3 3.1,3.3 1.3,1.1 2.6,2.2 3.7,3.4 0.5,0.6 1.1,1.2 1.6,1.8 0.2,0.3 0.5,0.6 0.8,0.9 0.3,0.3 0.6,0.5 0.9,0.8 0.8,0.8 1.5,1.6 2.3,2.5 1.1,1.3 2.3,2.5 3.1,4 0.6,1.1 1.3,2.2 2.2,3.1 0.3,0.3 0.5,0.6 0.7,0.9 0.3,0.5 0.7,1.1 1.2,1.5 0.3,0.3 0.6,0.8 0.8,1.2 0.6,1.2 1.2,2.4 1.9,3.6 0.8,1.2 1.6,2.4 2.1,3.8 0.1,0.3 0.3,0.6 0.5,0.8 0.5,0.6 0.8,1.2 1.1,1.8 0.5,1 1.2,1.9 1.8,2.9 0.5,1 1,2 1.5,3 0,0.1 0.3,0.1 0.4,0.1 0.1,0 0.2,-0.1 0.2,-0.1 0.1,-0.2 0.1,-0.5 0.1,-0.7 0.1,-2.8 0.5,-5.6 1.1,-8.3 0.4,-2 0.9,-4.1 1.6,-6 0.9,-2.5 1.7,-5 2.3,-7.6 0.2,-0.9 0.5,-1.7 0.6,-2.6 0.4,-2 1.1,-4 1.3,-6.1 0.2,-1.6 0.5,-3.2 1.1,-4.6 0.3,-0.8 0.6,-1.7 0.7,-2.5 0.4,-2.8 0.8,-5.7 1.2,-8.6 0.1,-0.8 0.1,-1.7 0.1,-2.6 z M 99.6,74.2 c 1.1,0.7 1.8,1.8 2.9,2.7 1.2,0.8 2.2,1.8 3.2,2.9 1.1,1.2 2.3,2.2 3.5,3.3 0.9,0.8 1.8,1.6 2.6,2.4 0.9,0.9 1.8,1.8 2.8,2.6 0.7,0.5 1.3,1.1 1.9,1.8 0.6,0.8 1.3,1.6 2,2.4 0.3,0.4 0.7,0.8 1.1,1.2 1,0.9 2.2,1.6 3.1,2.7 0.6,0.8 1.4,1.4 2.1,1.9 0.8,0.6 1.5,1.2 2.1,1.9 0.6,0.7 1.3,1.4 2,2 1.3,1 2.4,2.1 3.6,3.2 0.9,0.8 1.8,1.6 2.7,2.4 2.1,1.9 4.4,3.7 6.3,5.8 0.2,0.2 0.3,0.4 0.5,0.5 0.8,0.3 1.3,1 1.8,1.5 1.2,1.2 2.5,2.3 3.6,3.5 1.2,1.3 2.9,1.9 4,3.4 0.1,0.1 0.3,0.2 0.4,0.3 0.5,0.2 1,0.6 1.3,1 0.3,0.5 0.8,0.8 1.2,1.1 1.5,1.3 3.1,2.5 4.5,3.9 0.9,0.9 1.9,1.7 2.9,2.4 1.1,0.8 2.2,1.6 3.3,2.4 0.7,0.6 1.5,1.2 2.3,1.7 1.9,1.4 3.8,2.7 5.5,4.2 2,1.7 4.2,3.2 6.2,4.8 0.2,0.1 0.4,0.2 0.6,0.4 0.1,0 0.1,0.1 0.2,0.1 0.2,0.1 0.5,0 0.6,-0.1 1.1,-1.5 2.2,-2.9 3.3,-4.4 0.6,-0.8 1.3,-1.6 2,-2.3 0.9,-0.9 1.8,-1.8 2.4,-3 0.5,-0.9 1.1,-1.7 1.7,-2.6 1,-0.7 1.6,-1.8 2.3,-2.7 1.1,-1.3 2.3,-2.6 3.5,-3.9 1.4,-1.5 2.8,-3.1 4.2,-4.6 0.3,-0.4 0.7,-0.7 0.9,-1.1 0.6,-1 1.4,-1.8 2.3,-2.4 0.5,-0.3 0.8,-0.7 1.1,-1.2 0.1,-0.2 0.3,-0.4 0.5,-0.5 1.5,-1.1 2.5,-2.7 4.1,-3.7 1.6,-1.6 3.1,-3.2 4.7,-4.8 0.5,-0.5 0.9,-1.2 1.4,-1.6 1.5,-1.4 2.8,-3 4.4,-4.4 0.8,-0.7 1.5,-1.4 2.2,-2.2 1.3,-1.4 2.7,-2.7 4.1,-4 0.8,-0.8 1.7,-1.5 2.4,-2.3 0.7,-0.8 1.4,-1.5 2.2,-2.2 1.6,-1.5 3.2,-2.9 4.7,-4.4 0.8,-0.9 1.7,-1.7 2.6,-2.5 2.9,-2.6 5.9,-5.2 9,-7.5 0.5,-0.4 1,-0.8 1.4,-1.3 0.7,-1 1.8,-1.5 2.7,-2.4 0.2,-0.2 0.5,-0.4 0.7,-0.6 0.2,-0.2 0.2,-0.9 -0.1,-1.1 -0.7,-0.5 -1.5,-1 -2.1,-1.5 -1.5,-1.2 -3.2,-2.2 -4.9,-3 -2,-0.9 -4,-1.9 -6,-2.9 -0.4,-0.2 -0.7,-0.4 -1.1,-0.5 -0.4,-0.2 -0.8,-0.1 -1.1,0.2 -1.5,1.6 -3.4,3 -4.5,4.9 -0.2,0.3 -0.4,0.5 -0.6,0.7 -1.4,1.3 -2.6,2.8 -4.1,4 -0.9,0.7 -1.6,1.6 -2.3,2.4 -0.3,0.3 -0.5,0.6 -0.8,0.9 -0.9,0.8 -1.6,1.8 -2.3,2.7 -0.6,0.9 -1.3,1.6 -2.1,2.3 -0.6,0.5 -1.2,1.1 -1.7,1.7 -1.2,1.6 -2.6,3 -4,4.4 -0.5,0.5 -0.9,0.9 -1.3,1.4 -1,1.3 -2.2,2.5 -3.4,3.7 -1.3,1.2 -2.5,2.5 -3.6,3.8 -0.8,0.9 -1.6,1.8 -2.4,2.7 -1,1 -2,2 -3,3.1 -0.9,1 -1.8,2.1 -2.7,3.1 -1.1,1.2 -2.3,2.4 -3.4,3.7 -1.9,2.2 -3.8,4.3 -5.5,6.6 -0.7,0.9 -1.4,1.8 -2.1,2.6 -1.9,2.2 -3.8,4.3 -5.4,6.7 -0.3,0.5 -0.8,0.8 -1.1,1.3 -0.4,0.5 -0.9,0.6 -1.4,0.8 -0.4,0.2 -0.8,0.1 -1.1,-0.1 -0.4,-0.2 -0.8,-0.5 -1.2,-0.8 -1.1,-1 -2.3,-1.9 -3.5,-2.9 -1,-0.8 -2,-1.6 -2.9,-2.5 -1,-1 -2.1,-1.9 -3.2,-2.9 -0.7,-0.6 -1.5,-1.3 -2.1,-2 -1.8,-2 -3.9,-3.7 -5.9,-5.6 -2.3,-2.2 -4.7,-4.3 -7,-6.5 -1.4,-1.4 -3,-2.7 -4.4,-4.1 -2.5,-2.5 -5.1,-4.9 -7.7,-7.2 -3.4,-3.1 -6.8,-6.1 -9.9,-9.4 -0.3,-0.4 -0.7,-0.7 -1,-1 -1.6,-1.3 -2.9,-2.9 -4.6,-4.2 -0.3,-0.2 -0.6,-0.5 -0.9,-0.8 -2.5,-3 -5.3,-5.5 -8,-8.2 -0.6,-0.6 -1.3,-1.2 -1.9,-1.8 -0.3,-0.3 -0.7,-0.3 -1.1,-0.1 -1.7,1.2 -3.7,1.8 -5.3,3.2 -0.2,0.1 -0.4,0.2 -0.6,0.3 -1.9,1 -3.8,2 -5.7,3.1 0,0.1 -0.4,0.4 -0.6,1.1 z M 309,174.3 c 0.5,-0.2 0.6,-0.6 0.7,-0.9 1.1,-2.2 2.1,-4.5 3.2,-6.7 0.8,-1.6 1.5,-3.2 2.6,-4.6 0.2,-0.3 0.4,-0.5 0.5,-0.8 1.6,-3.2 3.8,-6.1 5.8,-9.1 1.1,-1.7 2.5,-3.4 3.6,-5.1 1.5,-2.2 3,-4.4 4.2,-6.7 1,-1.9 2.1,-3.8 3.1,-5.7 0.2,-0.4 0.4,-0.7 0.5,-1.1 0.8,-1.7 1.5,-3.3 2.3,-5 0.9,-2 1.8,-3.9 2.1,-6.1 0,-0.3 0.2,-0.6 0.3,-0.9 0.4,-1.6 0.6,-3.3 0.6,-5 0,-0.6 0,-1.3 -0.2,-1.9 -0.8,-2 -1.4,-4.1 -2.2,-6.1 -0.6,-1.6 -1.3,-3.1 -1.8,-4.7 -0.1,-0.3 -0.2,-0.6 -0.4,-0.8 -0.5,-0.6 -0.7,-1.2 -1,-1.9 -0.5,-1.2 -0.9,-2.4 -1.5,-3.5 -0.4,-0.7 -0.8,-1.4 -0.9,-2.2 -0.1,-0.6 -0.4,-1.1 -0.8,-1.5 -0.7,-0.7 -1.1,-1.5 -1.5,-2.4 -0.5,-1.4 -1.2,-2.8 -1.9,-4.1 -0.4,-0.6 -0.6,-1.3 -0.8,-2 -0.2,-0.8 -1.1,-1.2 -1.3,-2 0,-0.1 -0.1,-0.2 -0.1,-0.2 -0.8,-1.6 -1.6,-3.3 -2.6,-4.9 -0.5,-0.7 -0.9,-1.5 -1.2,-2.3 -0.3,-0.8 -0.7,-1.4 -1.2,-2.1 -0.8,-1 -1.4,-2.1 -2.1,-3.2 -0.5,-1.8 -1.9,-3.1 -3.1,-4.5 0,0 -0.1,0 -0.2,0 -0.1,0 -0.2,0.1 -0.2,0.1 0,0.5 -0.1,0.9 -0.1,1.4 0,1.3 0.1,2.6 0,3.8 -0.2,2 -0.5,4 -1.1,5.9 -0.3,0.8 -0.4,1.7 -0.6,2.6 -0.1,0.5 -0.2,0.9 -0.3,1.4 -0.4,1.4 -0.7,2.8 -1.1,4.2 -0.4,1.6 -0.8,3.3 -1.4,4.8 -1.1,2.8 -2.3,5.5 -3.4,8.2 -1.1,2.6 -2.1,5.2 -3.1,7.8 -0.6,1.6 -1.2,3.1 -1.8,4.7 -1,2.7 -1.8,5.4 -2.1,8.3 -0.2,2 -0.3,4 -0.2,6 0.2,2.6 0.4,5.3 0.4,7.9 0,1.5 0.5,3 0.6,4.5 0,0.3 0.2,0.6 0.3,0.9 0.7,2.2 1.5,4.4 2.2,6.6 1.2,4.1 2.3,8.1 3.6,12.2 0.5,1.7 0.9,3.4 1.2,5.1 0.3,1.8 0.7,3.6 1.1,5.4 0.3,1.3 0.5,2.7 0.8,4 0.1,0.9 0.2,1.6 0.5,2.2 z m 36.4,-20.8 c 0.2,-2.4 -0.1,-5.1 -0.6,-7.8 0,-0.1 -0.1,-0.2 -0.2,-0.4 -0.1,-0.1 -0.4,0.1 -0.5,0.4 -0.7,1.5 -1.5,3 -2.2,4.5 -2,4 -4.6,7.7 -7.4,11.2 -1.6,2 -3.3,3.9 -5,5.8 -0.6,0.7 -1.1,1.4 -1.6,2.1 -0.5,0.8 -1,1.6 -1.6,2.4 -1.7,2.2 -3.5,4.4 -5.3,6.5 -1.2,1.5 -2.4,3 -3.4,4.6 -1.6,2.6 -3.2,5.2 -4.2,8.1 -0.3,0.9 -0.5,1.9 -0.8,2.7 -1,2.5 -1.3,5.1 -2.1,7.6 -0.2,0.6 -0.3,1.2 -0.5,1.8 -0.2,0.4 -0.3,0.9 -0.4,1.4 -0.1,1.4 -0.2,2.7 -0.3,4.1 0,0.6 -0.1,1.3 -0.1,1.9 -0.1,1.1 -0.2,2.2 -0.2,3.3 -0.1,1.6 -0.2,3.2 -0.3,4.8 -0.2,2.2 -0.7,4.4 -0.9,6.6 -0.1,0.6 -0.1,1.3 -0.3,1.9 -0.7,2.3 -0.7,4.7 -1.5,7 0,0.2 0,0.3 -0.1,0.5 -0.2,0.6 -0.1,1.3 -0.1,1.9 -0.1,0.7 -0.4,1.4 -0.4,2.1 -0.2,1.4 -0.2,2.9 -0.7,4.2 0,0.1 0.2,0.2 0.3,0.3 0,0 0.2,0 0.2,0 0.6,-0.6 1.1,-1.2 1.6,-1.7 0.9,-1 1.8,-2 2.8,-2.9 1.6,-1.4 3.2,-2.7 4.8,-4 0.6,-0.5 1.3,-1 1.9,-1.5 2,-1.4 3.9,-2.7 5.9,-4.1 0.9,-0.6 1.8,-1.3 2.6,-2.1 0.5,-0.4 0.9,-0.9 1.5,-1.2 1.7,-1.1 3.2,-2.4 4.6,-3.8 1,-0.9 2,-1.8 3,-2.8 0.5,-0.4 0.9,-0.9 1.3,-1.4 0.7,-0.9 1.4,-1.8 2.2,-2.6 0.6,-0.6 1.1,-1.1 1.6,-1.8 1.4,-1.9 2.7,-3.8 4.1,-5.6 0.7,-1 0.9,-2.2 1.7,-3.1 0.1,-0.2 0.1,-0.4 0.2,-0.7 0.4,-3.9 1,-7.8 0.8,-11.7 0,-0.3 0,-0.6 0.1,-1 0.2,-1.7 0.3,-3.3 0.1,-5 -0.1,-0.6 0,-1.1 0,-1.7 0.1,-2.9 0.3,-5.7 0,-8.6 -0.1,-0.6 0,-1.1 0,-1.7 0,-1.5 0,-3 -0.1,-4.6 -0.1,-1.3 -0.2,-2.5 -0.2,-3.8 -0.1,-2.6 0.3,-5.3 -0.1,-7.9 0,-0.2 0,-0.3 0,-0.5 -0.2,-0.9 -0.2,-2.1 -0.2,-3.7 z M 3.7,176.4 c 0,0.3 0,0.9 0,1.4 0.1,1.9 0.1,3.8 0,5.7 -0.1,1.7 0,3.4 0.1,5 0.1,1.2 0.3,2.4 0.2,3.6 -0.1,1.2 0.3,2.4 0.3,3.6 0,1.6 0.1,3.2 0.4,4.8 0.1,0.7 0.2,1.4 0.2,2.1 0.1,4.7 0.9,9.4 1.6,14 0.1,0.5 0.2,0.9 0.4,1.4 0.8,1.8 1.5,3.7 2.5,5.4 0.6,1 1.3,2 1.9,3 1.1,1.7 2,3.4 3.3,5 1.1,1.4 2.2,2.9 3.5,4.2 0.9,0.9 1.7,1.9 2.5,2.9 0.3,0.3 0.4,0.7 0.7,0.9 0.6,0.5 1.1,1.2 1.6,1.8 0.6,0.6 1.3,1.1 1.9,1.8 1.5,1.6 3.2,2.9 4.8,4.3 1.1,0.9 2.3,1.8 3.4,2.6 2.7,2.1 5.6,4 8.1,6.4 1,0.9 2,1.8 3,2.7 0.8,0.8 1.7,1.5 2.3,2.4 2,2.5 4.3,4.7 6,7.4 0,0.1 0.1,0.1 0.2,0.1 0.1,0 0.2,0.1 0.2,0 0.1,-0.1 0.3,-0.2 0.2,-0.3 -1.1,-5 -2.4,-9.9 -3.3,-15 -0.5,-2.7 -1.1,-5.5 -1.7,-8.2 -0.5,-2.6 -1.1,-5.2 -1.8,-7.7 -0.3,-1.4 -1,-2.7 -0.8,-4.2 0,-0.3 -0.1,-0.6 -0.2,-0.9 -0.6,-1.7 -1.1,-3.3 -1.8,-4.9 -0.4,-1 -0.8,-1.9 -0.9,-2.9 -0.1,-0.6 -0.4,-1.2 -0.6,-1.8 -0.8,-1.6 -1.5,-3.2 -2.3,-4.7 -1,-1.9 -2,-3.8 -3,-5.7 -2.3,-4.6 -2.6,-5.1 -5.7,-9.4 -0.7,-1 -1.4,-2.2 -2.2,-3.1 -1.1,-1.2 -1.9,-2.5 -2.9,-3.8 -1.8,-2.5 -3.7,-5 -5.8,-7.3 -2.4,-2.6 -4.5,-5.4 -6.7,-8.1 -0.3,-0.4 -0.6,-0.8 -0.8,-1.2 -1.2,-2.1 -2.6,-4 -3.6,-6.2 -0.1,-0.2 -0.2,-0.4 -0.4,-0.6 -1.6,-2.4 -2.8,-5 -3.7,-7.8 -0.2,-0.5 -0.3,-0.9 -0.4,-1.4 -0.1,-0.4 -0.4,-0.6 -0.4,-0.5 -0.1,0.1 -0.2,0.3 -0.2,0.4 -0.1,1.4 -0.2,2.9 -0.2,4.3 0.2,2.8 -0.1,5.6 0.1,8.5 z M 25,94.8 c 0,-1.4 0.1,-2.9 0.1,-4.3 0,-0.3 -0.1,-0.6 -0.1,-0.9 0,0 -0.1,-0.1 -0.2,-0.1 -0.1,0 -0.2,0 -0.2,0 -0.2,0.2 -0.3,0.3 -0.4,0.5 -1.4,2.6 -2.9,5.1 -4,7.9 -0.2,0.4 -0.4,0.9 -0.6,1.3 -1.8,3.4 -3,7.1 -4.7,10.5 0,0.1 -0.1,0.1 -0.1,0.2 -0.6,1.8 -1.2,3.6 -1.9,5.4 -0.3,0.8 -0.3,1.8 -0.8,2.5 -0.5,2.1 -1.2,4.1 -1.8,6.2 -0.1,0.5 -0.2,0.9 -0.3,1.4 -0.7,2.1 -1,4.2 -1.6,6.3 -0.3,1.2 -0.5,2.5 -0.2,3.8 0.2,1.2 0.1,2.4 0.4,3.6 0.5,2.2 0.8,4.4 1.2,6.6 0.2,1 0.4,2 0.8,3 0.4,1 0.8,2.1 1.1,3.2 0.9,3 2.3,5.8 3.8,8.5 1.6,3 3.6,5.6 5.6,8.4 1.6,2.2 3.3,4.3 4.8,6.6 3,4.2 6,8.3 8.9,12.5 1.6,2.2 3.1,4.5 4.4,6.8 0.5,1 1.1,1.9 1.7,2.9 0.4,0.8 0.9,1.5 1.3,2.3 0.1,0.1 0.3,0.1 0.4,0.1 0,0 0.1,-0.1 0.1,-0.2 0.2,-3.2 0.4,-6.4 0.4,-9.6 0.1,-3 0.4,-5.9 0.8,-8.8 0.2,-1.7 0.3,-3.3 0.1,-5 -0.2,-1.2 -0.4,-2.5 0.2,-3.8 0.1,-0.2 0.1,-0.5 0.1,-0.7 -0.1,-1.5 -0.1,-3 -0.2,-4.5 -0.3,-2.3 -0.4,-4.6 -0.8,-6.9 -0.3,-1.9 -0.7,-3.8 -1.2,-5.6 -0.7,-2.5 -1.7,-4.8 -2.6,-7.2 -0.6,-1.6 -1.2,-3.1 -2,-4.6 -0.8,-1.5 -1.3,-3.1 -1.8,-4.7 -0.6,-2.1 -1.4,-4.3 -2,-6.4 0,-0.2 -0.1,-0.3 -0.2,-0.4 -1.2,-2.8 -2.2,-5.7 -3.1,-8.6 -0.5,-1.8 -1.1,-3.7 -1.6,-5.5 -1.8,-5.7 -2.5,-9.4 -3.4,-15.4 0,-0.2 -0.1,-0.5 -0.1,-0.7 C 24.9,99.2 25.2,97 25,94.8 Z m 219.2,278.4 c 0.2,0 0.5,0 0.6,-0.1 1.6,-0.9 3.4,-1.5 5.1,-2 2.1,-0.6 4.2,-1.1 6.3,-1.6 1.7,-0.4 3.4,-0.8 5.2,-1 1.3,-0.1 2.5,-0.4 3.8,-0.6 2.1,-0.4 4.2,-0.8 6.2,-1.6 1.8,-0.3 3.6,-0.8 5.3,-1.5 2.3,-0.8 4.7,-1.6 6.9,-2.8 2.6,-1.3 4.9,-2.9 7.3,-4.6 1.4,-0.9 2.5,-2.2 3.9,-3.2 1.4,-1.1 2.3,-2.4 3.1,-3.9 0.7,-1.4 1.4,-2.7 2.2,-4 0.4,-0.7 0.7,-1.4 1,-2.2 0.6,-1.4 1.2,-2.8 1.9,-4.2 1.9,-3.8 3.9,-7.5 5.7,-11.3 1.7,-3.5 3.4,-7 5.3,-10.5 0.2,-0.4 0.4,-0.9 0.6,-1.3 1.2,-2.8 2.5,-5.6 3.7,-8.3 0.1,-0.2 0.1,-0.5 0.2,-0.7 0,-0.1 0,-0.1 -0.1,-0.2 -0.1,-0.2 -0.2,-0.3 -0.4,-0.2 -0.9,0.5 -1.8,1 -2.7,1.5 -0.5,0.3 -1,0.6 -1.5,0.7 -3.2,0.9 -6.4,2.1 -9.7,2.8 -0.6,0.1 -1.2,0.4 -1.8,0.7 -2,0.8 -4,1.7 -5.9,2.6 -1.2,0.6 -2.5,1 -3.7,1.8 -0.3,0.2 -0.7,0.4 -1.1,0.5 -1.3,0.3 -2.3,1.1 -3.5,1.6 -1.3,0.5 -2.4,1.2 -3.6,1.9 -1.4,0.9 -2.9,1.7 -4.1,2.8 -1.2,0.6 -2.1,1.5 -3.1,2.2 -1,0.7 -1.8,1.5 -2.6,2.5 -0.5,0.6 -1,1.2 -1.5,1.8 -0.5,0.6 -1.1,1.2 -1.6,1.8 -0.5,0.6 -0.8,1.2 -1.6,1.3 -0.2,0 -0.4,0.3 -0.5,0.5 -0.2,0.3 -0.4,0.7 -0.6,1 -1.1,1.9 -2.1,3.7 -3.2,5.6 -0.3,0.5 -0.6,1.2 -1.2,1.5 -0.4,0.3 -0.7,0.6 -0.9,1.1 -1.1,2.1 -2.2,4.1 -3.6,6 -0.8,1.1 -1.5,2.3 -2.3,3.4 -0.9,1.2 -1.6,2.6 -2.5,3.8 -0.9,1.3 -1.8,2.6 -2.7,4 -1.5,2.3 -3,4.5 -4.6,6.7 -1.3,1.8 -2.5,3.7 -3.8,5.6 0.1,-0.1 0.1,0 0.1,0.1 z M 72.9,325.6 c 0,-0.3 0.2,-0.5 0.1,-0.7 -0.7,-1.4 -1.4,-2.9 -2.2,-4.3 -0.7,-1.3 -1.5,-2.7 -2.1,-4 -0.6,-1.3 -1.3,-2.6 -1.7,-3.9 -0.5,-1.4 -1.2,-2.8 -1.7,-4.2 0,-0.1 -0.1,-0.1 -0.1,-0.2 -0.7,-2.3 -1.7,-4.5 -2.5,-6.7 -0.2,-0.4 -0.4,-0.7 -0.7,-0.9 -0.6,-0.4 -0.9,-1.1 -1.2,-1.7 -0.7,-1.5 -1.4,-3 -2.4,-4.4 -1.5,-2.2 -3,-4.3 -4.6,-6.4 -1.4,-1.9 -3,-3.8 -4.6,-5.5 -1.2,-1.2 -2.3,-2.4 -3.5,-3.7 -0.5,-0.6 -1,-1.2 -1.6,-1.8 -1.8,-1.7 -3.5,-3.5 -5.3,-5.2 -1.6,-1.5 -3.3,-3 -5,-4.5 -0.2,-0.2 -0.4,-0.3 -0.6,-0.4 -1,-0.7 -1.9,-1.4 -2.9,-2.2 -2,-1.6 -4,-3.2 -6.1,-4.7 -2.5,-1.8 -4.7,-3.8 -6.9,-6 -1.1,-1.1 -2.1,-2.4 -3.2,-3.5 -0.1,-0.1 -0.3,-0.1 -0.4,-0.1 0,0 -0.1,0.1 -0.1,0.2 0.2,0.8 0.2,1.6 0.8,2.2 0.5,0.5 0.7,1 0.8,1.7 0.1,0.5 0.2,1.1 0.4,1.6 0.5,1.5 1.1,3 1.5,4.5 0.7,2.1 1.3,4.1 1.9,6.2 0.4,1.8 0.9,3.5 1.6,5.3 0.2,0.4 0.3,0.9 0.5,1.3 0.5,1.9 1,3.9 1.6,5.8 0.4,1.5 0.8,2.9 1.4,4.3 0.3,0.8 0.5,1.7 0.8,2.5 0.5,1.7 1,3.4 2,4.8 0.2,0.3 0.4,0.7 0.5,1.1 0.2,0.6 0.4,1.2 0.6,1.8 0.5,1.3 1.1,2.5 2.1,3.5 0.4,0.4 0.7,0.8 1.1,1.3 1.8,2.3 3.8,4.3 6.2,5.9 0.9,0.6 1.8,1.4 2.7,2 1.7,1.2 3.4,2.4 5.3,3.1 0.7,0.3 1.4,0.8 2.1,1.1 1,0.5 1.9,1.1 2.9,1.6 2.2,1.1 4.4,2.3 6.6,3.4 0.9,0.4 1.7,0.9 2.6,1.3 0.6,0.3 1.3,0.6 1.9,0.9 1.8,1 3.6,2 5.4,3 1.6,0.8 3,1.7 4.4,2.9 0.4,0.8 1,1.2 1.6,1.7 z m 135.7,97.7 c 1,-0.3 2,-0.7 3.1,-1.1 0.7,-0.2 1.3,-0.6 2,-0.8 2.6,-0.7 5.2,-1.4 7.9,-2 3.1,-0.7 6.2,-1.6 9.2,-2.7 1.5,-0.5 3,-1.1 4.5,-1.5 1.5,-0.4 2.9,-0.8 4.3,-1.4 0.7,-0.3 1.4,-0.4 2.1,-0.6 0.5,-0.1 0.9,-0.2 1.4,-0.4 1.4,-0.5 2.8,-1 4.3,-1.6 1.4,-0.5 2.7,-1 4,-1.6 1.5,-0.7 2.9,-1.2 4.4,-1.8 2.1,-0.9 4,-2 5.3,-3.9 0.4,-0.6 0.9,-1.1 1.4,-1.6 0.5,-0.5 0.9,-1.1 1.4,-1.7 2.2,-2.9 4.4,-5.9 6.7,-8.8 0.8,-1 1.5,-2 2.3,-3.1 0.8,-1.1 1.6,-2.2 2.4,-3.3 0.6,-0.8 1.2,-1.7 1.9,-2.5 1.8,-2.3 3.5,-4.5 5.1,-6.9 0.1,-0.1 0.1,-0.3 0.1,-0.5 0,0 -0.1,-0.1 -0.2,-0.1 -0.4,0.1 -0.8,0.2 -1.1,0.3 -2.3,1 -4.5,2 -7,2.5 -1,0.2 -2,0.4 -3,0.6 -1.4,0.3 -2.8,0.7 -4.2,1 -1.2,0.3 -2.3,0.5 -3.5,0.7 -1.2,0.2 -2.3,0.5 -3.5,0.8 -3.1,0.8 -6.2,1.6 -9.2,2.6 -1.2,0.4 -2.4,0.9 -3.5,1.5 -0.9,0.4 -1.7,0.9 -2.6,1.3 -2.5,1.2 -5,2.5 -7.4,3.9 -0.8,0.4 -1.5,0.9 -2.2,1.4 -1.9,1.4 -3.7,3 -5.4,4.7 -0.9,0.8 -1.7,1.6 -2.7,2.4 -0.5,0.4 -1,0.8 -1.7,0.8 -0.5,0 -0.9,0.4 -1.2,0.8 -0.7,1 -1.4,1.9 -2.1,2.9 -0.3,0.5 -0.6,0.9 -1,1.4 -1.3,1.6 -2.6,3.3 -3.8,4.9 -0.2,0.3 -0.4,0.5 -0.6,0.8 -1.5,2.3 -3.1,4.4 -4.8,6.6 -1.3,1.7 -2.5,3.5 -3.5,5.4 -0.1,0.1 0,0.3 0.1,0.4 0,0.1 0.1,0.1 0.3,0.2 z m -54,7.2 c -0.1,-0.2 -0.2,-0.4 -0.4,-0.6 -1.7,-2 -3.6,-3.9 -5.3,-5.8 -0.8,-1 -1.7,-1.9 -2.6,-2.8 -0.4,-0.5 -0.9,-0.9 -1.4,-1.3 -0.5,-0.4 -1,-0.8 -1.4,-1.2 -2.1,-2.1 -4.2,-4.1 -6.2,-6.3 -0.4,-0.5 -0.9,-0.9 -1.3,-1.4 -0.9,-0.8 -1.7,-1.6 -2.6,-2.5 -1.4,-1.4 -2.7,-2.9 -4.4,-4 -1.4,-1.5 -3.3,-2.5 -5,-3.7 -1.3,-0.9 -2.6,-1.5 -4.1,-1.9 -1,-0.3 -2,-0.6 -2.9,-1 -2.5,-0.9 -5.1,-1.7 -7.8,-2.4 -0.9,-0.2 -1.7,-0.3 -2.6,-0.5 -0.9,-0.2 -1.7,-0.5 -2.5,-0.7 -2,-0.5 -4,-1.1 -6,-1.6 -0.2,-0.1 -0.5,-0.1 -0.7,-0.2 -1.4,-0.1 -2.6,-0.6 -4,-1 -1.3,-0.3 -2.6,-0.7 -3.9,-1 -0.8,-0.2 -1.5,-0.4 -2.3,-0.6 -1.4,-0.5 -2.8,-1.1 -4.3,-1.5 -3.1,-0.8 -6.1,-1.8 -8.8,-3.6 -0.2,-0.1 -0.4,-0.2 -0.6,-0.3 -0.1,0 -0.2,0 -0.2,0 -0.2,0.1 -0.2,0.2 -0.1,0.4 1.7,3.3 3.6,6.4 5.5,9.6 0.8,1.3 1.6,2.6 2.5,3.8 0.8,1.2 1.7,2.3 2.4,3.6 0.2,0.4 0.6,0.8 1.2,0.7 0.6,0 1.1,0.3 1.5,0.7 0.6,0.7 1.1,1.4 1.8,1.9 1.9,1.4 3.6,3.2 5.8,4.2 1,0.5 1.9,1.2 2.8,1.8 0.4,0.3 0.8,0.5 1.2,0.8 2.5,1.2 5.1,2.3 7.8,3.1 1,0.3 2,0.6 3,0.9 1.1,0.4 2.3,0.8 3.4,1.1 1.2,0.3 2.4,0.7 3.6,1.2 1.4,0.6 2.8,1.1 4.4,1.2 0.4,0 0.8,0.2 1.2,0.3 1.7,0.4 3.4,1 5.1,1.3 0.9,0.1 1.9,0.4 2.7,0.9 1.3,0.7 2.7,1 4,1.4 1.2,0.4 2.4,0.8 3.7,1.2 1.8,0.5 3.5,1.1 5.3,1.6 1.1,0.3 2.3,0.6 3.4,1 2.3,0.9 4.6,1.7 6.8,2.8 0.7,0.4 1.5,0.6 2.2,0.9 -0.2,-0.2 0,-0.4 0.1,-0.5 z m 14.9,209.6 c 0.4,-0.6 0.5,-1.2 0.5,-1.9 0.1,-1.6 0.1,-3.2 0.2,-4.8 0,-1 0,-1.9 0.2,-2.9 0.3,-1.5 0.5,-3 0.4,-4.5 0,-0.5 0,-1 0.1,-1.4 0.2,-1.9 0.4,-3.8 0.6,-5.7 0.1,-0.8 0.1,-1.6 -0.2,-2.4 -0.1,-0.3 -0.1,-0.6 -0.2,-0.9 -0.4,-3.3 -1.3,-6.4 -2.2,-9.5 -0.3,-1 -0.6,-2 -1,-2.9 -1.4,-3 -3,-5.8 -5.1,-8.3 -0.4,-0.5 -0.8,-1 -1.2,-1.5 -1,-1.4 -2.1,-2.8 -3.3,-4.1 -0.9,-0.9 -1.8,-1.8 -2.6,-2.8 -2.4,-2.6 -4.9,-5.1 -6.6,-8.2 -0.2,-0.3 -0.4,-0.4 -0.6,-0.2 -0.1,0.1 -0.2,0.2 -0.3,0.4 -0.2,2 -0.3,4 -0.7,6 -0.3,2 -0.5,4 -0.6,6 0,0.9 -0.1,1.8 -0.2,2.6 -0.3,3.4 -0.2,6.9 -0.6,10.3 0,0.3 0,0.7 0.1,0.9 0.3,0.6 0.3,1.2 0.4,1.9 0.2,1.9 0.4,3.8 0.6,5.7 0.8,2.5 1.9,4.8 3.7,6.6 1,0.9 2,1.9 3.1,2.7 1,0.8 2,1.5 3,2.4 2.3,2.1 6.6,6.4 8.5,9.7 1,1.8 2.1,3.6 2.9,5.5 0.2,0.4 0.3,0.7 0.5,1.1 0.2,-0.1 0.4,0 0.6,0.2 z m 67.5,-3.7 c -0.1,0.7 -0.1,1.3 -0.2,1.9 -0.1,0.7 -0.2,1.4 -0.3,2.1 -0.5,2.9 -0.8,5.9 -1.7,8.7 -0.9,2.9 -1.7,5.8 -2.9,8.6 -0.3,0.7 -0.5,1.5 -0.8,2.3 -0.2,0.7 -0.4,1.4 -0.7,2 -0.9,2.5 -1.8,5 -2.1,7.6 -0.2,2.2 -0.6,4.4 -0.3,6.7 0.4,3.2 0.9,6.3 2.2,9.3 0.1,0.3 0.3,0.6 0.3,0.9 0.1,0.9 0.5,1.7 0.9,2.5 0.8,1.7 1.4,3.6 2.4,5.2 0.8,1.4 1.5,2.8 2,4.3 0.2,0.4 0.3,0.9 0.5,1.3 0.6,1 1.1,1.9 1.5,3 0.1,0.1 0.2,0.3 0.3,0.4 0.1,0.1 0.2,0.2 0.4,0.3 0.1,0 0.3,-0.1 0.3,-0.2 0.1,-0.2 0.2,-0.5 0.2,-0.7 0.3,-2.4 1,-4.7 1.6,-7 0.6,-2.2 1.1,-4.3 1.9,-6.4 0.4,-1 0.7,-2 0.9,-3 0.6,-2.6 1.3,-5.1 2.2,-7.6 0.3,-0.7 0.5,-1.5 0.6,-2.3 0.3,-1.9 0.6,-3.8 0.9,-5.7 0.1,-0.8 0.2,-1.6 0.2,-2.4 -0.1,-2.6 0,-5.3 -0.5,-7.9 -0.3,-1.3 -0.6,-2.7 -1.2,-3.9 -0.4,-0.9 -0.8,-1.7 -1.2,-2.6 -0.8,-1.7 -1.7,-3.5 -2.2,-5.3 -0.1,-0.3 -0.2,-0.6 -0.4,-0.9 -0.9,-2.1 -1.6,-4.2 -2.6,-6.2 -0.2,-0.4 -0.3,-0.9 -0.5,-1.4 -0.3,-1.3 -1,-2.3 -1.5,-3.5 0.2,0 0,0 -0.2,-0.1 z m -72.3,51.5 c 0.4,-2.2 0.8,-4.4 0.9,-6.6 0.1,-1 0.1,-2.1 0.2,-3.1 0.2,-1.9 0.6,-3.8 0.8,-5.7 0.3,-1.8 0.2,-3.7 0.3,-5.5 0,-0.5 -0.1,-1.1 -0.2,-1.7 -0.4,-1.5 -0.8,-3.1 -1.2,-4.6 -1,-3.5 -2.6,-6.9 -4.2,-10.2 -1.1,-2.2 -2.5,-4.3 -3.8,-6.4 -0.7,-1.1 -1.6,-2.2 -2.4,-3.2 -1.7,-2.2 -3.9,-4 -6,-5.8 -1.6,-1.4 -3.1,-2.9 -4,-5 -0.1,-0.3 -0.3,-0.6 -0.4,-0.8 -0.1,-0.2 -0.3,-0.3 -0.5,-0.5 -0.2,-0.1 -0.4,0.2 -0.5,0.7 -0.1,0.8 -0.2,1.6 -0.3,2.4 -0.1,1 -0.2,2.1 -0.3,3.1 -0.4,2.7 -0.8,5.4 -1.2,8 -0.2,1.1 -0.5,2.2 0.1,3.3 0.2,0.3 0.1,0.8 0,1.2 -0.1,1.4 0,2.7 0.1,4.1 0.1,1.4 0.3,2.7 0.7,4 0.7,2.3 1.6,4.5 3,6.5 0.2,0.3 0.3,0.6 0.5,0.8 0.2,0.3 0.4,0.5 0.6,0.7 1.7,1.8 3.4,3.6 5,5.5 1.1,1.2 2,2.5 3,3.7 1.2,1.2 2.2,2.5 3.2,3.9 1.7,2.3 3.4,4.6 4.5,7.3 0.2,0.5 0.5,1 0.8,1.5 0.3,0.6 0.6,1.3 0.9,2 0.1,0.1 0.2,0.3 0.3,0.4 -0.2,0.1 0,0 0.1,0 z m 12.5,-122.1 c 0.3,-1.2 0,-1.9 -0.3,-2.6 -0.7,-2 -1.4,-3.9 -2.2,-5.8 -1.3,-3.3 -3.2,-6.3 -5,-9.3 -1.2,-1.9 -2.5,-3.7 -4,-5.4 -1.2,-1.4 -2.3,-2.9 -3.4,-4.3 -1.5,-1.9 -2.8,-3.9 -4.2,-5.9 0,-0.1 -0.1,-0.1 -0.1,-0.2 -0.2,-0.3 -0.5,-0.4 -0.6,-0.3 -0.1,0.1 -0.2,0.2 -0.2,0.4 -0.3,1.9 -0.7,3.8 -1,5.7 -0.5,3.4 -1.3,6.7 -2,10.1 -0.3,1.4 -0.5,2.8 -0.8,4.2 -0.1,0.5 -0.1,1.1 0.2,1.6 0.2,0.4 0.2,0.9 0.3,1.4 0.1,0.9 0.1,1.8 0.2,2.6 0.1,1 0.2,1.9 0.6,2.8 0.2,0.4 0.2,0.8 0.3,1.2 0.3,1.1 0.8,2.1 1.3,3.1 0.6,1 1.3,2 2,3 1.3,1.6 2.5,3.3 3.9,4.8 1.5,1.5 3,2.9 4.5,4.3 1.6,1.4 3,3.1 4.2,4.9 0.8,1.1 1.6,2.2 2,3.6 0.3,1 0.9,1.8 1.3,2.8 0,0 0.1,0.1 0.2,0.1 0.1,0 0.2,0 0.2,-0.1 0.1,-0.1 0.1,-0.3 0.1,-0.5 0.2,-1.6 0.4,-3.2 0.7,-4.7 0.3,-1.7 0.5,-3.3 0.5,-5 0,-0.4 0,-0.8 0.1,-1.2 0.5,-2.4 0.7,-4.9 0.9,-7.4 0.2,-1.5 -0.1,-2.9 0.3,-3.9 z M 252.4,63.7 c -0.5,-1.1 -0.9,-2.6 -1.1,-4.1 -0.3,-1.8 -0.8,-3.6 -1.1,-5.4 -0.3,-1.3 -0.5,-2.7 -0.7,-4 -0.2,-0.9 -0.2,-1.9 -0.4,-2.8 -0.4,-2.7 -0.6,-5.4 -1,-8.1 -0.1,-0.5 -0.1,-1 -0.1,-1.4 0,-0.4 0,-0.8 -0.1,-1.2 -0.7,-4.2 -1.3,-8.4 -2,-12.5 -0.1,-0.5 -0.2,-1.1 -0.4,-1.6 -1.1,-2.9 -2.2,-5.8 -3.3,-8.7 -0.7,-2 -2.1,-3.6 -3.4,-5.2 -0.5,-0.6 -1.2,-1 -2,-1.1 -2.8,-0.5 -5.7,-0.9 -8.4,-1.7 -0.3,-0.1 -0.6,-0.1 -0.9,-0.2 -1,-0.1 -1.9,-0.2 -2.8,-0.5 -0.2,-0.1 -0.5,-0.1 -0.7,0 -0.1,0 -0.3,0.1 -0.4,0.2 0,0.1 0,0.3 0.1,0.4 1.4,1.2 2.4,2.8 3.5,4.2 1.1,1.4 2.2,3 2.8,4.7 0.8,2.2 1.7,4.3 2.4,6.5 0.7,2.4 1.5,4.7 2.3,7 1.2,3.3 2.3,6.6 2.8,10.1 0.1,0.4 0.2,0.8 0.3,1.2 0.6,2.6 1.3,5.1 1.8,7.7 0.4,2 1,4 1.6,6 0.9,3.2 2.4,6.1 4.2,8.9 1,1.6 2.4,2.8 4,3.7 0.7,0.4 1.3,0.9 2,1.3 0.7,0.4 1.4,0.8 2.1,1.2 0.2,0.1 0.6,0.1 0.6,-0.1 0,-0.1 0.1,-0.3 0,-0.4 -0.7,-1.3 -1.2,-2.6 -1.7,-4.1 z M 211.5,634 c 0,0 -0.1,0 -0.1,0 0.2,1.4 0.3,2.9 0.5,4.3 0.4,2.5 0.8,5 1.2,7.6 0.1,0.6 0.2,1.3 0.5,1.8 0.5,0.9 0.8,1.9 1.1,2.9 0.5,1.4 1.2,2.6 1.5,4 0,0.2 0.1,0.3 0.2,0.4 0.5,0.7 0.8,1.6 1.1,2.4 0.1,0.3 0.2,0.6 0.4,0.8 0.1,0.1 0.3,0.2 0.4,0.1 0.1,0 0.2,-0.2 0.3,-0.3 0.1,-0.2 0.1,-0.5 0.1,-0.7 0.1,-2.4 0.2,-4.8 0.7,-7.1 0.1,-0.2 0.1,-0.5 0.1,-0.7 0,-1.1 0.3,-2.2 0.7,-3.3 0.4,-1.3 0.9,-2.6 1.4,-3.8 0.9,-2.5 2.1,-4.8 2.9,-7.3 0.6,-1.6 1.1,-3.2 1.8,-4.7 1.1,-2.6 1.9,-5.3 2.6,-7.9 0.1,-0.5 0.2,-0.9 0.3,-1.4 0.5,-2.5 0.4,-4.9 0.2,-7.4 0,-0.5 -0.2,-1.1 -0.4,-1.6 -0.8,-2.5 -1.5,-5.1 -2.3,-7.6 -1,-3.2 -1.9,-6.4 -2.8,-9.7 -0.1,-0.2 -0.1,-0.5 -0.2,-0.7 -0.1,-0.1 -0.2,-0.2 -0.3,-0.2 -0.1,0 -0.3,0.2 -0.3,0.3 -0.2,1 -0.5,2 -0.6,3 -0.1,0.9 -0.3,1.7 -0.6,2.6 -0.4,1.1 -0.7,2.1 -1.1,3.2 -0.2,0.5 -0.4,1.1 -0.7,1.5 -1.2,1.9 -2.1,4 -3,6 -2.4,5.1 -4.1,10.4 -5,15.9 -0.2,1.5 -0.2,3 -0.8,4.5 -0.1,0.2 0,0.5 0,0.7 0.1,0.8 0.1,1.6 0.2,2.4 z m 84.2,-506.4 c 0.2,-0.3 0.4,-0.4 0.4,-0.6 0,-0.3 0,-0.6 0,-0.9 -0.3,-5.9 0.6,-11.6 3.1,-17 0.5,-1.1 1.1,-2.3 1.2,-3.6 0,-0.4 0.2,-0.8 0.4,-1.1 0.6,-1.4 1.2,-2.8 1.9,-4.2 0.5,-1 1,-2 1.3,-3.1 0.5,-1.4 1,-2.8 1.7,-4.2 0.3,-0.6 0.5,-1.2 0.7,-1.8 1.2,-3.1 2.1,-6.2 2.7,-9.4 0.4,-1.9 0.9,-3.7 1.3,-5.6 0.4,-1.6 0.7,-3.1 0.8,-4.7 0.1,-2.8 -0.2,-5.6 -0.5,-8.4 0,-0.2 -0.1,-0.5 -0.2,-0.7 -0.9,-1.7 -1.7,-3.5 -3.1,-4.8 -0.4,-0.5 -1,-0.8 -1.4,-1.3 -0.4,-0.5 -0.6,-1.1 -0.9,-1.7 -0.1,-0.1 -0.2,-0.3 -0.3,-0.4 -1.4,-1.5 -2.8,-3.1 -4.2,-4.6 -0.3,-0.3 -0.5,-0.6 -0.8,-0.8 -0.1,-0.1 -0.3,-0.1 -0.5,-0.1 0,0.8 0.3,1.6 0.4,2.3 0.8,3.4 1.5,6.7 1.7,10.2 0.1,1.4 0.2,2.7 0.1,4.1 -0.3,2.3 -0.6,4.6 -0.9,6.9 -0.2,1.4 -0.5,2.8 -1,4.2 -0.5,1.4 -0.9,2.9 -1.1,4.4 -0.2,1.7 -0.6,3.3 -1,4.9 -0.8,2.8 -1.4,5.6 -2.1,8.4 -0.1,0.5 -0.2,0.9 -0.4,1.4 -1.5,4.1 -2.6,8.2 -3.1,12.5 -0.3,2.2 -0.3,4.5 -0.4,6.7 -0.1,1.2 0.1,2.4 0.2,3.6 0.2,1.1 0.4,2.2 1.1,3.1 0.2,0.2 0.3,0.6 0.4,0.9 0.6,1.4 1.1,2.8 1.7,4.2 0.2,0.3 0.5,0.7 0.8,1.2 z M 46.6,162.5 c 0.2,-0.2 0.5,-0.3 0.5,-0.5 0.3,-1.3 0.6,-2.7 0.8,-4 0.1,-0.3 0.1,-0.6 0.1,-0.9 0,-2.5 0,-4.9 0,-7.4 0,-0.6 0.2,-1.1 0.1,-1.7 -0.3,-1.9 0,-3.8 -0.3,-5.7 -0.2,-1.5 -0.3,-3 -0.5,-4.5 -0.6,-2.9 -1.3,-5.8 -2.6,-8.5 -0.4,-0.9 -0.7,-1.8 -1,-2.7 -0.5,-1.6 -1,-3.2 -1.8,-4.7 -0.4,-0.9 -0.7,-1.8 -1,-2.7 -1.3,-4 -2.7,-8 -3.9,-12.1 -0.3,-1 -0.7,-2 -0.8,-3 -0.1,-0.9 -0.3,-1.9 -0.5,-2.8 -0.8,-2.9 -1.2,-6 -1.3,-9 -0.2,-3.3 -0.1,-6.5 0,-9.8 0.2,-3.4 0.6,-6.8 1.7,-10.1 0,-0.2 0.1,-0.3 0.1,-0.5 0,-0.1 -0.1,-0.3 -0.2,-0.4 -0.1,0.1 -0.3,0.1 -0.4,0.2 -0.2,0.2 -0.3,0.3 -0.4,0.6 -1.3,2.4 -2.7,4.7 -4.4,6.9 -1,1.3 -1.7,2.7 -2,4.3 -0.1,0.4 -0.2,0.8 -0.3,1.2 -0.4,1.9 -0.9,3.9 -0.9,5.9 0,1.4 0,2.7 0,4.1 0,2.4 -0.2,4.8 0.4,7.1 0.1,0.3 0,0.6 0.1,1 0.1,0.6 0.2,1.3 0.3,1.9 0.2,1 0.4,2 0.6,3.1 0.6,2.8 1.2,5.6 2,8.4 0.5,1.4 0.9,2.9 1.3,4.4 0.8,2.9 1.9,5.8 2.8,8.7 0,0.2 0.1,0.3 0.2,0.5 1.8,3.6 2.9,7.6 4.3,11.4 0.5,1.3 0.8,2.6 1.5,3.8 0.1,0.2 0.2,0.4 0.3,0.7 0.3,0.9 0.7,1.8 1,2.7 1.5,3.8 2.9,7.6 3.5,11.7 0.1,0.4 0.4,1.4 0.7,2.4 z m 171.1,409.2 c -0.1,-0.7 -0.1,-1.4 -0.2,-2.1 -0.6,-2.3 -1.1,-4.7 -1.8,-6.9 -0.6,-2.1 -1.2,-4.3 -1.7,-6.5 -0.1,-0.3 -0.2,-0.6 -0.3,-0.9 -0.1,-0.1 -0.2,-0.3 -0.3,-0.3 -0.1,0 -0.3,0.1 -0.3,0.2 -0.5,1.2 -1,2.3 -1.5,3.5 -1,2.5 -2.2,4.8 -3.6,7 -0.3,0.5 -0.7,1.1 -1,1.6 -1.4,2.7 -3.1,5.2 -5.1,7.5 -0.9,1.1 -1.8,2.2 -2.2,3.6 -0.2,0.6 -0.5,1.2 -0.8,1.8 -0.5,1.1 -0.9,2.2 -1.1,3.4 -0.3,1.7 -0.7,3.4 -0.8,5.2 0,0.5 -0.1,0.9 -0.3,1.4 -0.3,1 -0.1,1.9 0.2,2.8 0.3,0.8 0.5,1.7 0.7,2.5 0.2,0.9 0.5,1.7 0.7,2.5 0.1,0.6 0.1,1.1 -0.1,1.6 -0.2,0.5 -0.1,0.9 0,1.4 1.2,3.8 2.3,7.6 3.5,11.4 0,0.2 0.1,0.3 0.2,0.4 0,0.1 0.1,0.1 0.2,0.1 0.1,0.1 0.2,0 0.3,-0.2 0.3,-0.7 0.3,-1.4 0.4,-2.1 0.3,-2.9 1,-5.7 2,-8.4 1.2,-3.1 2.7,-6.1 4.5,-9 1.1,-1.6 2,-3.3 2.9,-4.9 0.8,-1.4 1.3,-2.9 2,-4.3 1.4,-2.7 2.2,-5.7 2.9,-8.6 0.4,-1 0.7,-2.3 0.6,-3.7 z m 92.5,-383.1 c 0.1,0.5 0.1,0.9 0.2,1.4 0,0 0.1,0.1 0.2,0.1 0.1,0 0.2,0 0.2,-0.1 0.3,-0.7 0.7,-1.4 1,-2.2 0.4,-0.8 0.7,-1.6 1.1,-2.4 1.2,-2.1 2.3,-4.2 3.9,-6 0.2,-0.2 0.2,-0.4 0.4,-0.6 1,-1.5 2.1,-2.9 3.2,-4.2 1.2,-1.5 2.4,-3 3.6,-4.5 0.3,-0.4 0.6,-0.7 0.9,-1.2 1.4,-2.3 3.3,-4.3 5,-6.4 1.6,-2 3.3,-3.9 4.8,-6 1.8,-2.5 4.3,-6.4 5.6,-9.2 0.9,-1.9 1.8,-3.7 2.7,-5.6 0.9,-1.9 1.3,-3.9 0.9,-6.1 -0.2,-1.1 -0.5,-2.2 -0.6,-3.3 -0.3,-2.8 -1.3,-5.4 -2,-8.1 -0.1,-0.3 -0.2,-0.6 -0.3,-0.9 -0.1,-0.2 -0.2,-0.2 -0.4,-0.1 -0.1,0 -0.1,0.1 -0.2,0.1 -0.5,1.4 -0.9,2.9 -1.5,4.3 -1.9,4.3 -3.7,8.7 -6,12.8 -0.6,1.1 -1.2,2.2 -2,3.3 -1.1,1.5 -2.1,3 -3,4.6 -0.8,1.4 -1.7,2.7 -2.7,4 -1.4,2 -2.8,4.1 -4.3,6.1 -1.3,1.8 -2.3,3.8 -3.5,5.7 -2.4,4.1 -4.5,8.3 -6.2,12.7 -0.5,1.2 -0.8,2.4 -0.6,3.7 0.1,0.4 0.1,0.8 0,1.2 -0.3,2.5 0,4.7 -0.4,6.9 z M 6.9,142.4 c -0.3,-0.1 -0.5,0 -0.5,0.3 -0.3,1.3 -0.6,2.7 -0.7,4 -0.2,2.1 -0.5,4.1 -0.9,6.2 -0.2,0.7 -0.2,1.4 -0.2,2.1 0,0.3 0.1,0.7 0.2,0.9 0.3,0.5 0.4,1 0.5,1.6 0.1,0.5 0.3,1.1 0.4,1.6 0.5,1.4 0.9,2.9 1.4,4.3 0.9,2.8 2,5.6 3.5,8.1 0.7,1.2 1.5,2.3 2.1,3.5 1,1.9 2.1,3.8 3.5,5.4 0.5,0.5 0.9,1.1 1.3,1.7 1.5,1.9 2.8,3.9 4.5,5.6 1.6,1.6 3,3.6 4.4,5.4 1.8,2.3 3.4,4.8 5.3,7.1 1.4,1.7 2.7,3.6 4,5.4 0.3,0.5 0.6,0.9 0.9,1.4 1.2,2.3 2.4,4.7 3.7,7 0.4,0.8 0.8,1.7 1.3,2.6 0.4,0.8 0.8,1.6 1.4,2.2 0,0 0.2,0.1 0.2,0 0.1,0 0.1,-0.1 0.1,-0.1 0,-0.1 0,-0.2 0,-0.2 -0.4,-3.3 -0.5,-6.7 -0.5,-10 0,-1 -0.2,-2.1 -0.7,-3 -0.8,-1.7 -1.5,-3.3 -2.4,-5 -1.7,-3.1 -3.4,-6.2 -5.4,-9.1 -2,-3 -4,-6 -6.1,-8.9 -1.5,-2.1 -3,-4.1 -4.5,-6.2 -2.5,-3.4 -4.9,-6.9 -7.3,-10.4 -1.5,-2.1 -3,-4.1 -3.8,-6.6 -0.2,-0.5 -0.4,-0.9 -0.6,-1.3 -1.2,-2.3 -2.3,-4.7 -3.1,-7.2 -1,-2.8 -1.9,-5.5 -2,-8.4 z m 50.9,145.1 c -0.4,-1.7 -0.8,-3.3 -1.2,-5 -0.5,-1.9 -1.2,-3.8 -2.1,-5.6 -1.6,-2.9 -3.6,-5.7 -5.6,-8.4 -1.2,-1.6 -2.6,-3.1 -3.8,-4.6 -0.6,-0.7 -1.2,-1.5 -1.9,-2.2 -1.4,-1.4 -2.9,-2.7 -4.4,-4.1 -1.3,-1.2 -2.6,-2.3 -4,-3.4 -2.8,-2.1 -5.7,-4.2 -8.3,-6.5 -2.5,-2.1 -4.8,-4.5 -6.9,-6.9 -1.1,-1.3 -2.2,-2.5 -3.3,-3.7 -0.6,-0.7 -1.2,-1.3 -1.8,-1.9 -0.5,-0.6 -1,-1.2 -1.5,-1.9 -1.4,-2.1 -2.7,-4.1 -4.1,-6.2 -0.1,-0.1 -0.2,-0.3 -0.3,-0.4 -0.1,-0.1 -0.3,-0.1 -0.4,-0.2 0,0.1 -0.1,0.3 -0.1,0.4 0,0.2 0,0.5 0.1,0.7 0.6,2.7 1.3,5.4 1.9,8.2 0.2,0.9 0.5,1.9 0.6,2.8 0.2,1.6 0.7,3.1 1.3,4.6 0.5,1.2 1.1,2.3 2,3.3 0.9,1.1 1.9,2.2 2.8,3.3 0.5,0.5 0.8,1.2 1.3,1.7 1.9,2.2 4.1,4 6.3,5.9 0.1,0.1 0.2,0.2 0.4,0.3 1.7,0.9 3.1,2.2 4.7,3.3 3.2,2.3 6.2,4.8 9.2,7.2 1.2,1 2.4,2.1 3.5,3.2 1.3,1.4 2.6,2.9 4.1,4 0.1,0.1 0.3,0.2 0.3,0.3 1.2,1.5 2.6,2.8 3.9,4.2 2.5,2.6 4.8,5.3 6.9,8.3 0.1,0.1 0.2,0.2 0.4,0.3 0,0 0.2,0 0.2,-0.1 0.1,-0.2 -0.2,-0.6 -0.2,-0.9 z m 132.6,283.3 c 0.2,-0.1 0.4,-0.1 0.4,-0.2 0.2,-0.3 0.4,-0.7 0.5,-1.1 0.6,-1.4 1.1,-2.8 1.8,-4.2 1.2,-2.3 2.6,-4.6 3.9,-6.9 1.1,-2 2.4,-3.8 3.6,-5.7 1.4,-2.1 2.9,-4.2 4.2,-6.4 1,-1.7 2,-3.4 2.5,-5.4 0.3,-1.2 0.8,-2.2 0.7,-3.5 0,-0.5 0.2,-0.9 0.3,-1.4 0.3,-1.2 0.3,-2.4 0,-3.6 -0.9,-4.1 -1.7,-8.3 -2.2,-12.5 0,-0.4 -0.2,-0.8 -0.3,-1.2 0,-0.1 -0.1,-0.1 -0.2,-0.1 -0.1,0 -0.3,0 -0.4,0.1 -0.1,0.1 -0.2,0.2 -0.3,0.4 -2.1,3.3 -4.4,6.5 -6.7,9.6 -1.5,2 -2.9,4 -4.4,6 -0.8,1 -1.3,2.2 -1.7,3.4 -0.7,2.3 -1.2,4.6 -1.5,7 -0.4,2.8 -0.9,5.5 -1.4,8.3 -0.2,1.2 -0.3,2.4 -0.2,3.6 0.1,0.7 0,1.4 -0.2,2.1 -0.4,1.3 -0.3,2.5 -0.1,3.8 0.6,2.8 1.1,5.4 1.7,7.9 z m -31,154.6 c 0.5,-0.2 0.5,-0.7 0.6,-1 0.1,-0.9 0.1,-1.8 0.3,-2.6 0.5,-2.3 0.7,-4.5 0.9,-6.9 0,-0.6 0,-1.1 -0.3,-1.6 -0.2,-0.3 -0.2,-0.8 -0.2,-1.1 -0.1,-0.7 -0.1,-1.4 -0.1,-2.1 -0.3,-2.6 -1.1,-5.1 -2,-7.6 -0.8,-2.3 -1.8,-4.6 -2.9,-6.8 -2,-4.2 -4.7,-8 -8.1,-11.2 -2.3,-2.2 -4.5,-4.5 -6.5,-7 -1.1,-1.4 -2.1,-2.8 -2.6,-4.5 -0.1,-0.2 -0.2,-0.4 -0.3,-0.7 0,-0.1 -0.1,-0.2 -0.1,-0.2 -0.1,-0.1 -0.2,-0.1 -0.2,-0.1 -0.1,0.1 -0.3,0.1 -0.3,0.2 -0.4,1.9 -0.5,3.9 -1.2,5.8 -0.1,0.2 0,0.5 0.1,0.7 0.2,0.4 0.3,0.9 0.4,1.4 0.1,1 0.2,1.9 0.3,2.9 0.2,2.4 0.5,4.8 1.2,7.1 0.3,1.1 0.7,2.1 1.3,3.1 0.7,1.2 1.5,2.4 2.3,3.6 1,1.5 1.9,2.9 2.9,4.4 0.7,1 1.3,2 2.1,2.9 0.9,1.1 1.8,2.2 2.5,3.5 0.4,0.7 0.9,1.3 1.4,1.9 0.5,0.6 1,1.2 1.5,1.9 1,1.5 2,2.9 2.9,4.4 1.4,2.4 2.7,4.9 3.4,7.6 -0.1,0.7 0.3,1.3 0.7,2 z M 84.6,345.7 c 0.1,-0.1 0.1,-0.2 0.2,-0.3 -1.7,-3 -3.5,-5.9 -5.2,-8.9 -0.6,-1 -1.2,-2 -2.2,-2.8 -0.9,-0.8 -1.7,-1.7 -2.5,-2.6 -2.5,-2.7 -5.5,-4.9 -8.5,-6.9 -3.6,-2.4 -7.4,-4.4 -11.2,-6.4 -3.4,-1.8 -6.9,-3.4 -10.1,-5.4 -0.7,-0.5 -1.6,-0.8 -2.4,-1.2 -1.1,-0.6 -2.1,-1.1 -3.1,-1.8 -2,-1.3 -3.9,-2.7 -5.8,-4.3 -0.6,-0.5 -1.1,-0.9 -1.7,-1.3 -0.1,0 -0.2,0 -0.2,0 -0.2,0.1 -0.2,0.2 -0.2,0.4 0.1,0.4 0.3,0.8 0.4,1.1 0.5,1.2 1.2,2.3 1.6,3.5 0.5,1.4 1.2,2.8 1.8,4.2 0.8,1.9 2,3.4 3.3,5 0.4,0.4 0.7,0.8 1.2,1.2 1,0.8 2,1.6 3,2.3 0.5,0.4 1.1,0.7 1.6,1 2.2,1.2 4.4,2.3 6.5,3.5 2.8,1.6 5.6,3.1 8.4,4.5 1.5,0.8 3,1.4 4.5,2.2 1.5,0.7 2.8,1.8 4.5,2.3 0.1,0 0.3,0.1 0.4,0.2 0.4,0.6 1,0.7 1.6,1 0.5,0.3 1,0.5 1.5,0.8 1.9,1.1 3.7,2.2 5.5,3.3 1,0.6 1.8,1.2 2.7,2 1,0.9 2.1,1.6 3,2.6 0.6,0.3 1.1,0.5 1.4,0.8 z m 215.3,-84.3 c 0.2,-0.1 0.4,-0.2 0.6,-0.4 0.8,-1 1.6,-2 2.4,-3 2.3,-2.6 4.8,-4.9 7.5,-7 2.2,-1.7 4.5,-3.3 6.8,-4.8 0.9,-0.6 1.9,-1.2 2.8,-1.8 1.9,-1.2 3.7,-2.5 5.8,-3.4 0.3,-0.1 0.6,-0.3 0.8,-0.5 3.7,-2.6 7.2,-5.5 10.2,-9 1.5,-1.7 2.8,-3.4 3.8,-5.5 1.1,-2.3 1.9,-4.7 2.3,-7.3 0.2,-1.5 0.5,-3 0.7,-4.5 0.1,-0.5 0,-1 0.1,-1.4 0,-0.1 0,-0.2 -0.1,-0.2 -0.1,-0.1 -0.2,-0.2 -0.3,-0.2 -0.1,0 -0.2,0 -0.2,0.1 -1.6,2.3 -3.4,4.4 -5.4,6.4 -0.4,0.4 -0.7,0.9 -1,1.3 -0.3,0.4 -0.6,0.8 -0.9,1.1 -1.6,1.5 -3.3,3 -4.9,4.6 -0.4,0.4 -0.8,0.8 -1.3,1.1 -1.4,0.9 -2.7,2 -4,3.1 -0.4,0.4 -0.9,0.7 -1.3,1.1 -1.6,1.2 -3.4,2.1 -4.8,3.5 -0.3,0.3 -0.8,0.5 -1.2,0.8 -0.3,0.2 -0.7,0.4 -1,0.6 -2,1.7 -4.1,3.3 -6.1,5 -1.5,1.2 -2.8,2.7 -3.9,4.2 -1.2,1.6 -2.3,3.3 -3.4,4.9 -0.6,0.9 -1,1.8 -1.4,2.8 -0.3,0.5 -0.5,1 -0.8,1.4 -0.2,0.4 -0.4,0.7 -0.3,1.1 0.1,0.6 0,1.1 -0.2,1.6 -0.5,0.9 -0.6,2 -1.2,2.9 -0.2,0.3 -0.2,0.8 -0.1,1.4 z m 26.9,27.3 c -0.6,0.1 -1.1,0.5 -1.6,0.9 -0.7,0.5 -1.4,1 -2.1,1.5 -1.2,0.8 -2.4,1.6 -3.7,2.2 -1.2,0.5 -2.2,1.3 -3.3,1.9 -1,0.5 -2,1 -3,1.5 -0.6,0.3 -1.1,0.5 -1.8,0.7 -0.8,0.2 -1.7,0.5 -2.5,0.9 -1.2,0.7 -2.4,1.3 -3.7,1.8 -0.6,0.2 -1.1,0.6 -1.7,0.8 -2.1,1 -4.1,2.1 -6.3,3 -2.6,1 -5.2,2.1 -7.7,3.3 -2.6,1.3 -5,2.8 -7.1,4.8 -0.9,0.8 -1.6,1.8 -2.1,2.9 -0.6,1.5 -1.4,2.9 -2.2,4.2 -0.7,1.2 -1.3,2.4 -1.7,3.7 0,0.1 0.1,0.1 0.1,0.2 0,0 0.1,0.1 0.2,0.1 1.3,-0.8 2.6,-1.6 3.8,-2.5 0.8,-0.6 1.7,-1.2 2.6,-1.6 0.6,-0.3 1.1,-0.6 1.7,-0.9 1.6,-0.8 3.2,-1.8 4.9,-2.4 1.8,-0.7 3.4,-1.8 5.2,-2.4 0.1,0 0.2,0 0.2,-0.1 1,-0.4 1.9,-0.8 2.9,-1.2 1.9,-0.8 3.8,-1.6 5.8,-2.1 2.2,-0.6 4.4,-1.3 6.7,-2 2,-0.6 3.8,-1.6 5.6,-2.6 1.7,-1 3.3,-2.2 4.8,-3.6 0.4,-0.4 0.8,-0.8 1,-1.3 0.6,-1.2 1.2,-2.4 1.7,-3.7 0.5,-1.2 1,-2.3 1.5,-3.5 0.5,-1.2 0.9,-2.4 1.6,-3.4 0.4,-0.4 0.4,-0.8 0.2,-1.1 z M 179.3,511 c 0,0 0.1,0 0,0 0.1,-0.8 0.1,-1.6 0.1,-2.4 0,-0.4 0,-0.8 0,-1.2 0,-0.3 -0.3,-0.6 -0.6,-0.6 -0.6,0 -1.1,0 -1.7,0.1 -1.7,0.3 -3.4,0.6 -5.2,0.9 -1.3,0.2 -2.7,0.4 -4,0.4 -2.5,0 -4.9,0.1 -7.4,-0.6 -0.1,0 -0.3,0 -0.5,0.1 -0.2,0 -0.4,0.4 -0.3,0.6 0.2,0.7 0.9,1.3 0.9,2.2 -0.1,1.7 0.5,3.3 0.9,4.9 0.4,1.7 1.2,3.1 2.2,4.5 0.4,0.6 0.8,1.2 1.3,1.7 0.5,0.7 1.1,1.4 1.6,2.1 1.4,1.8 3.2,3.4 4.5,5.2 0.6,0.8 1.2,1.5 1.8,2.3 2,2.5 3.9,5.1 5.1,8.1 0.2,0.6 0.6,1.1 1.1,1.5 0,0 0.1,0 0.2,0 0.1,0 0.2,-0.1 0.2,-0.1 0.1,-0.3 0.2,-0.6 0.2,-0.9 0.1,-3.2 0.1,-6.4 0.6,-9.5 0,-0.3 0,-0.6 0,-1 0,-0.8 0,-1.6 0,-2.4 0,-1.3 0.1,-2.6 0,-3.8 -0.4,-4.1 -0.7,-8.1 -1,-12.1 z m 40,66.9 c -0.2,0.4 -0.4,0.6 -0.4,0.9 -0.5,2.3 -1.4,4.4 -2.3,6.5 -1.5,3.4 -3.2,6.6 -5.1,9.7 -1.3,2 -2.4,4.1 -3.4,6.3 -1.8,4 -2.8,8.1 -3.3,12.4 -0.2,1.4 -0.3,2.9 0,4.3 0.1,0.8 0.2,1.6 0.3,2.4 0,0.3 0,0.6 0,0.9 -0.1,0.5 0,0.9 0.1,1.4 0.5,1.8 1.1,3.5 1.5,5.3 0.2,0.6 0.3,1.2 0.7,1.8 0.5,0.8 0.9,1.7 1,2.7 0.1,0.3 0.2,0.6 0.4,0.9 0.1,0.1 0.2,0.1 0.4,0.2 0,0 0.1,-0.1 0.1,-0.2 0.1,-1.1 0,-2.2 0.2,-3.3 0.2,-1.8 0.5,-3.6 0.8,-5.5 0.5,-3.5 1.6,-6.8 2.7,-10.2 1.2,-3.6 2.9,-6.9 4.7,-10.2 1.2,-2.2 2,-4.5 2.7,-6.9 0.7,-2.5 1.1,-5 1.8,-7.4 0.3,-1.1 0.3,-2.2 -0.1,-3.3 -0.1,-0.4 -0.2,-0.8 -0.2,-1.2 -0.2,-2.4 -1,-4.7 -1.8,-6.9 -0.4,-0.1 -0.6,-0.3 -0.8,-0.6 z m 72.5,-217.3 c -0.1,0 -0.2,-0.1 -0.2,-0.1 -0.6,0.3 -1.3,0.6 -1.9,1 -1.7,1 -3.4,2.1 -5.1,3.2 -1.1,0.6 -2.2,1.3 -3.5,1.6 -0.5,0.1 -1,0.4 -1.6,0.6 -2.3,0.8 -4.6,1.7 -7.1,2.2 -0.3,0.1 -0.6,0.2 -0.9,0.3 -2.6,0.9 -5.3,1.3 -7.9,1.7 -2.4,0.4 -4.9,0.8 -7.3,1.4 -1.2,0.3 -2.3,0.6 -3.5,0.9 -0.9,0.2 -1.9,0.4 -2.8,0.7 -1.1,0.3 -2.1,0.6 -3.1,1.2 -2.6,1.6 -5.1,3.3 -7.2,5.5 -0.2,0.2 -0.4,0.5 -0.6,0.7 -0.2,0.3 -0.6,0.1 -0.9,0.2 -0.5,0.3 -0.9,0.7 -1.2,1.2 -0.9,1.2 -1.6,2.6 -2.7,3.7 -1.2,1.3 -2.1,2.8 -3.1,4.2 0,0 0,0.2 0,0.2 0.1,0.1 0.3,0.2 0.4,0.1 2.3,-1.6 4.6,-3.1 7.1,-4.5 1.5,-0.8 2.9,-1.8 4.5,-2.3 0.2,-0.1 0.4,-0.2 0.6,-0.3 3,-2 6.4,-2.9 9.8,-3.9 3.1,-0.9 6.1,-1.8 9.3,-2.3 0.2,0 0.3,-0.1 0.5,-0.1 2.8,-0.8 5.6,-1.3 8.4,-1.8 2.9,-0.5 5.5,-1.5 8.2,-2.7 1,-0.5 2.1,-0.8 3,-1.5 1,-0.8 2.2,-1.4 3.2,-2.1 0.4,-0.3 0.7,-0.6 1,-1 1.3,-1.6 2.2,-3.5 3.3,-5.3 0.4,-0.8 0.9,-1.5 1.3,-2.3 0,-0.1 0,-0.3 0,-0.4 z m -44.1,359.6 c 0.4,-0.2 0.4,-0.6 0.5,-1 0.6,-3 1.1,-6 1.7,-8.9 0.3,-1.4 0.3,-2.9 0.6,-4.3 0.2,-1.2 0.4,-2.4 0.4,-3.6 0.2,-3.3 0.9,-6.5 1.5,-9.7 0.2,-1.3 0.5,-2.7 0.7,-4 0.1,-1.1 0.3,-2.2 0.5,-3.3 0.4,-1.7 0.5,-3.5 0.6,-5.2 0.1,-1 0.1,-2.1 0.2,-3.1 0.1,-1.6 -0.2,-3.2 -1,-4.6 -0.9,-1.7 -1.8,-3.4 -2.6,-5.1 -0.2,-0.3 -0.3,-0.9 -0.7,-0.8 -0.5,0.1 -0.3,0.6 -0.3,1 0,1.2 -0.1,2.4 -0.4,3.6 -0.3,1.3 -0.5,2.7 -0.6,4 -0.2,1.5 -0.5,3 -1,4.4 -0.3,1.1 -0.6,2.1 -1,3.2 -0.6,2.2 -1.3,4.4 -1.9,6.7 -0.2,0.8 -0.6,1.7 -0.8,2.5 -0.8,2.5 -1.6,5 -2.2,7.6 -0.5,1.7 -0.8,3.4 -0.9,5.2 -0.1,2 0.3,3.8 1.2,5.6 0.6,1.2 1.4,2.3 2,3.5 0.2,0.5 0.6,1 0.9,1.4 0.9,1.1 1.5,2.4 1.8,3.9 0.2,0.3 0.4,0.7 0.8,1 z M 181.4,506.4 c 0.3,0.7 0.8,1.2 0.9,2 0.4,3.7 1.1,7.4 1.3,11.2 0,0.8 0.2,1.6 0.2,2.4 0.2,2.5 0.4,5.1 0.6,7.6 0,0.5 0.2,1.1 0.3,1.6 0,0 0.1,0.1 0.2,0.1 0.1,0 0.2,0 0.2,0 0.2,-0.2 0.3,-0.4 0.4,-0.6 1.4,-2.5 3.1,-4.8 4.7,-7.2 0.4,-0.6 0.9,-1.1 1.3,-1.7 1.3,-1.6 2.7,-3.2 4,-4.8 2,-2.4 3.5,-5.1 4.8,-8 0.7,-1.5 1.1,-3.2 1.4,-4.8 0.2,-0.9 0.2,-1.3 -0.9,-1.5 -1.6,-0.3 -3,-1 -4,-2.4 -0.1,-0.2 -0.4,-0.3 -0.6,-0.1 -0.5,0.3 -1,0.5 -1.5,0.8 -1.5,1 -3.1,1.7 -4.8,2.2 -2.8,0.8 -5.4,1.8 -8.1,2.8 0,0.1 -0.2,0.3 -0.4,0.4 z m -29.8,55.5 c -0.1,0.3 -0.2,0.5 -0.3,0.7 -0.5,2.2 -0.9,4.4 -1.3,6.6 -0.1,0.5 -0.2,0.9 -0.1,1.4 0,0.8 0.1,1.6 0.1,2.4 0,1.5 0.6,2.8 1.4,4 2,3.1 4.4,5.9 7,8.5 2,2.1 4,4.2 5.7,6.5 0.6,0.8 1.3,1.7 1.9,2.5 2,2.4 3.6,5.1 4.6,8.1 0.4,1.2 0.9,2.4 1.1,3.7 0.1,0.4 0.2,0.8 0.4,1.1 0,0.1 0.2,0.1 0.4,0.1 0.2,-1.4 0.5,-2.8 0.7,-4.3 0.1,-0.8 0.3,-1.6 0.4,-2.4 0.1,-0.9 0.1,-1.8 0.2,-2.6 0.1,-0.8 -0.2,-1.6 -0.3,-2.4 -0.1,-1.9 -0.6,-3.8 -1.4,-5.6 -0.6,-1.6 -1.5,-3.2 -2.1,-4.8 -0.4,-1.2 -1.1,-2.3 -1.9,-3.3 -1.5,-1.8 -3,-3.5 -4.8,-5 -2.2,-1.9 -4.3,-3.8 -6,-6.2 -0.6,-0.8 -1.3,-1.7 -1.9,-2.5 -1.5,-1.8 -2.6,-3.8 -3.3,-6.1 -0.1,-0.1 -0.3,-0.2 -0.5,-0.4 z m 80.7,60.2 c -0.4,0.1 -0.6,0.3 -0.7,0.6 -0.5,1.8 -1,3.5 -1.6,5.3 -1,2.9 -2.1,5.7 -3.1,8.5 -0.6,1.7 -1.2,3.3 -2,4.9 -0.6,1.3 -1.2,2.6 -1.6,4 -0.4,1 -0.6,2 -0.8,3 -0.4,2 -0.4,4 -0.9,5.9 -0.1,0.4 -0.1,0.8 -0.1,1.2 0,1.4 -0.1,2.9 -0.1,4.3 0,1.7 0.1,3.3 0.6,5 0.3,0.8 0.5,1.7 0.7,2.5 0.1,0.3 0.1,0.7 0,0.9 -0.2,0.6 -0.1,1.1 0.1,1.6 0.4,1.2 1.1,2.3 1.8,3.4 0.1,0.1 0.3,0.1 0.4,0.2 0,0 0.1,-0.1 0.1,-0.1 0.2,-1.5 0.4,-3 0.6,-4.5 0.2,-1.3 0.3,-2.7 0.7,-4 1,-3.1 2,-6.2 3.1,-9.3 0.1,-0.2 0.1,-0.3 0.2,-0.4 1.3,-3.3 2.3,-6.6 3.1,-10.1 0.7,-3.4 1.3,-6.7 1.5,-10.2 0.1,-1.8 0.2,-3.5 -0.2,-5.2 -0.1,-0.4 0.1,-0.8 0.3,-1.1 0.1,-0.2 0.2,-0.4 0.3,-0.6 -1,-1.9 -1.2,-4.1 -2.4,-5.8 z m -68.8,77.4 c -0.1,-0.2 -0.1,-0.5 -0.2,-0.7 -0.3,-0.6 -0.3,-1.2 -0.3,-1.9 -0.1,-3 -0.8,-5.8 -1.7,-8.7 -0.1,-0.4 -0.2,-0.8 -0.4,-1.1 -0.8,-1.1 -1.2,-2.4 -1.8,-3.6 -1,-2.2 -2.5,-4.1 -3.9,-6 -1.9,-2.6 -4.1,-5.1 -6.1,-7.7 -0.1,-0.1 -0.2,-0.2 -0.3,-0.4 -1.3,-1.5 -2.7,-2.9 -4,-4.4 -1.6,-1.8 -2.8,-3.9 -3.7,-6.1 -0.2,-0.5 -0.4,-1 -0.6,-1.5 0,-0.1 -0.1,-0.2 -0.2,-0.1 -0.1,0 -0.3,0.1 -0.3,0.2 -0.5,1.8 -0.8,3.6 -1,5.4 0,0.5 0.1,1 0.5,1.3 0.5,0.4 0.6,0.9 0.6,1.5 0,0.4 0,0.8 0,1.2 -0.1,2.6 0.5,5 1.8,7.4 1.2,2.2 2.9,4 4.7,5.7 1.4,1.3 2.8,2.6 4.2,4 2,2 3.8,4.1 5.2,6.5 1.5,2.5 3,5.1 4,7.9 0.3,1 0.8,1.9 1.1,2.9 0.3,1 0.8,1.9 1.1,2.9 0,0.1 0.2,0.3 0.3,0.4 0,0 0.1,0.1 0.2,0.1 0.1,0 0.1,-0.1 0.2,-0.1 0.1,-0.1 0.1,-0.1 0.1,-0.2 0.1,-1.7 0.3,-3.3 0.5,-4.9 z m -18.2,-84.3 c -0.1,0.3 -0.2,0.6 -0.2,0.9 -0.2,1.6 -0.4,3.2 -0.5,4.8 0,0.2 0,0.5 0.1,0.7 0.2,0.5 0.4,1 0.6,1.6 0.3,1.1 0.7,2.1 0.9,3.2 0.3,1.5 1.1,2.8 1.8,4.1 0.2,0.3 0.5,0.6 0.8,0.9 1.5,1.7 3.3,3 4.9,4.5 1.7,1.6 3.4,3.1 4.7,5.1 0.2,0.3 0.5,0.6 0.8,0.9 0.5,0.6 1,1.3 1.4,1.9 0.5,0.7 0.9,1.5 1.4,2.3 1.3,2.2 2.6,4.4 3.6,6.8 0.5,1.3 1.2,2.6 1.7,3.9 0.1,0.1 0.1,0.3 0.2,0.4 0.1,0.1 0.2,0.1 0.4,0.2 0.1,0 0.2,-0.1 0.2,-0.1 0.1,-0.2 0.2,-0.4 0.2,-0.7 0.1,-1.4 0.3,-2.9 0.5,-4.3 0.1,-0.9 0.2,-1.9 0.2,-2.9 0,-0.7 -0.3,-1.4 -0.5,-2.1 -0.2,-0.9 -0.3,-1.9 -0.6,-2.8 -0.7,-2 -1.3,-3.9 -2.2,-5.8 -1.6,-3.5 -3.5,-6.8 -6.3,-9.6 -0.2,-0.2 -0.4,-0.5 -0.6,-0.7 -1.4,-1.6 -3,-3.1 -4.6,-4.5 -1.1,-0.9 -2.2,-1.8 -3.3,-2.7 -1.9,-1.7 -3.8,-3.4 -4.9,-5.8 -0.3,-0.1 -0.5,-0.1 -0.7,-0.2 z m 65.1,-72.9 c -0.4,0 -0.6,0.3 -0.7,0.5 -0.3,1.3 -1,2.5 -1.6,3.8 -0.7,1.5 -1.8,2.7 -2.5,4 -1.6,1.7 -2.7,3.7 -4,5.7 -1.3,2.1 -2.6,4.2 -3.8,6.4 -0.8,1.4 -1.5,2.8 -2.5,4.1 -0.7,1.5 -1.5,3 -1.9,4.6 -0.7,2.6 -1.1,5.1 -0.4,7.8 0.2,0.9 0.4,1.7 0,2.6 -0.1,0.2 0,0.5 0,0.7 0.3,1.2 0.6,2.3 0.9,3.5 0,0.1 0.3,0.2 0.4,0.2 0.1,0 0.3,-0.2 0.3,-0.3 0.2,-0.9 0.4,-1.9 0.6,-2.8 0.7,-4.1 2.5,-7.7 5.2,-10.9 1.2,-1.5 2.4,-3 3.3,-4.7 0.9,-1.7 1.9,-3.4 2.9,-5 1.4,-2.3 2.3,-4.9 3.6,-7.3 0.4,-0.8 0.6,-1.8 0.9,-2.7 0.7,-1.9 0.7,-3.8 0.4,-5.7 -0.4,-1.6 -0.8,-3 -1.1,-4.5 z m -32.2,14.9 c 0.1,-1.1 0.3,-2.2 0.2,-3.3 -0.1,-1.1 0.6,-2.1 0.1,-3.3 -0.4,-1 -0.5,-2.2 -0.8,-3.2 -0.1,-0.6 -0.3,-1.2 -0.4,-1.9 -0.3,-1.5 -0.7,-3 -1.4,-4.3 -1.2,-2.3 -2.3,-4.5 -3.9,-6.6 -0.6,-0.8 -1.2,-1.5 -1.7,-2.3 -1.3,-2.1 -3,-4 -4.7,-5.8 -2.1,-2.2 -3.8,-4.5 -5.2,-7.1 -0.2,-0.3 -0.4,-0.5 -0.6,-0.8 0,-0.1 -0.2,-0.1 -0.2,-0.1 -0.1,0.1 -0.3,0.1 -0.4,0.2 -0.2,1.6 -0.5,3.2 -0.6,4.7 -0.1,0.8 0,1.6 0.2,2.4 0.2,0.6 0.3,1.2 0.4,1.9 0,0.2 0,0.5 0.1,0.7 0.7,1.2 1,2.5 1.8,3.6 2,2.6 3.8,5.3 5.8,7.9 2.1,2.6 4.2,5.3 5.9,8.1 0,0.1 0.1,0.1 0.1,0.2 1.5,2.4 3.1,4.9 4,7.6 0.2,0.4 0.4,0.8 0.7,1.2 0.2,0.2 0.4,0.2 0.6,0.2 z m -43.4,131.6 c -0.1,0.2 -0.3,0.4 -0.3,0.6 -0.6,2.2 -0.9,4.4 0.2,6.5 0.2,0.4 0.3,0.7 0.5,1.1 1.3,2.5 2.5,5 3.8,7.5 1.2,2.2 2.5,4.3 3.7,6.4 0.6,1.1 1.3,2.2 2,3.2 1.1,1.6 2.1,3.2 3.2,4.8 0.4,0.7 0.8,1.4 1.4,2 0.8,0.8 1.3,1.8 1.9,2.7 1.6,2.7 3.6,5.1 5.6,7.4 0.2,0.2 0.4,0.5 0.8,0.5 0.1,-0.7 0.1,-1.4 -0.1,-2.1 -0.5,-2.3 -1.3,-4.4 -2.1,-6.6 -0.7,-2 -1.5,-3.9 -2.6,-5.6 -1.5,-2.5 -3,-4.9 -4.8,-7.2 -0.3,-0.4 -0.6,-0.7 -0.8,-1.2 -0.4,-0.9 -1,-1.6 -1.7,-2.3 -0.5,-0.5 -0.9,-1.1 -1.3,-1.7 -1.6,-2.3 -3.3,-4.5 -4.6,-7 -0.2,-0.3 -0.4,-0.7 -0.7,-1 -1.5,-2.2 -2.8,-4.5 -3.4,-7.1 -0.1,-0.3 -0.3,-0.7 -0.7,-0.9 z m 51.6,-142.5 c 0.1,0.9 0.2,1.7 0.3,2.6 0,0.1 0.2,0.2 0.4,0.2 0,0 0.1,-0.1 0.2,-0.1 0.2,-1.2 0.5,-2.3 0.6,-3.5 0.4,-2.9 0.9,-5.8 1.9,-8.6 0.3,-0.8 0.6,-1.5 1,-2.2 1.1,-1.6 2.2,-3.2 3.3,-4.7 2.6,-3.5 5.1,-6.9 7.5,-10.5 0.8,-1.1 1.4,-2.3 1.7,-3.7 0.1,-0.5 0.3,-1.1 0.5,-1.6 0.2,-0.8 0.4,-1.5 0.8,-2.2 0.2,-0.2 0.2,-0.6 0.2,-0.9 -0.1,-1 -0.2,-2.1 -0.2,-3.1 0,-0.1 -0.1,-0.1 -0.1,-0.2 -0.2,-0.1 -0.3,0 -0.4,0.2 -0.4,0.9 -0.7,1.8 -1.1,2.6 -1.7,3.6 -4,6.9 -6.6,9.9 -2.9,3.2 -5.4,6.7 -7.6,10.4 -0.5,0.8 -0.9,1.7 -1.4,2.5 -0.2,0.4 -0.4,0.9 -0.5,1.3 -0.2,1.7 -0.3,3.5 -0.5,5.3 0.3,2.1 -0.2,4.2 0,6.3 z m -21.6,-46.7 c 1.8,0.6 3.6,0.7 5.4,0.8 2.4,0.1 4.8,-0.4 7.1,-0.6 0.1,0 0.2,0 0.2,-0.1 0.1,-0.1 0.1,-0.3 0.2,-0.4 0,0 -0.1,-0.1 -0.2,-0.1 -1.9,0 -3.8,-0.1 -5.7,-0.1 -2.2,0 -4.4,-0.4 -6.7,-0.7 -0.2,0 -0.3,-0.1 -0.5,-0.1 -1.6,-0.5 -3.2,-1 -4.7,-1.7 -1.4,-0.7 -2.6,-1.8 -3.9,-2.7 -0.3,-0.2 -0.5,-0.4 -0.7,-0.7 -0.8,-1 -1.5,-2 -2,-3.3 -0.3,-1 -0.7,-2 -1.1,-2.9 -0.5,-1.1 -0.8,-2.2 -1,-3.4 0,-0.3 -0.2,-0.6 -0.2,-0.9 -0.2,-0.5 -0.8,-0.7 -1.4,-0.5 -0.1,0.1 -0.2,0.2 -0.2,0.4 0,0.3 0.1,0.6 0.2,0.9 0.3,1.1 0.7,2.1 0.9,3.2 0.2,1.4 0.7,2.6 1.4,3.8 0.3,0.5 0.5,1 0.8,1.5 1,1.8 2.3,3.2 4.2,4.1 1,0.5 2,1 3,1.6 1.2,0.7 2.4,1.2 3.7,1.6 0.4,0.1 0.8,0.2 1.2,0.3 z m 15.4,3.5 c -0.1,-0.2 -0.2,-0.5 -0.3,-0.5 -0.3,0 -0.6,0 -0.9,0.1 -2.4,0.5 -4.9,0.8 -7.4,0.8 -1.6,0 -3.2,0 -4.8,0.2 -0.2,0 -0.3,0 -0.5,0 -1.4,-0.3 -2.8,-0.6 -4.2,-0.9 -1.1,-0.3 -2.1,-0.6 -3.2,-1 -0.5,-0.2 -0.9,-0.3 -1.3,-0.6 -0.6,-0.5 -1.2,-0.7 -1.9,-1 -2.7,-1.4 -5.3,-3.4 -6.8,-6.2 -0.5,-0.9 -0.9,-1.9 -1.3,-2.8 -0.4,-0.9 -0.6,-1.8 -1,-2.7 -0.6,-1.1 -0.8,-2.3 -0.9,-3.4 -0.1,-0.6 -0.1,-1.3 -0.1,-1.9 0,0 -0.1,-0.1 -0.1,-0.1 -0.1,0 -0.2,0.1 -0.2,0.2 0,0.7 -0.1,1.4 -0.1,2.1 0,0.3 -0.1,0.7 0.1,0.9 0.5,0.9 0.5,1.8 0.6,2.8 0.5,2.6 1.3,4.9 3.1,6.9 0.2,0.2 0.3,0.4 0.4,0.6 1.7,2.2 3.8,4.1 6.3,5.4 1.7,0.9 3.5,1.6 5.3,2 2.4,0.6 4.9,0.4 7.4,0.7 0.8,0.1 1.6,0.1 2.4,0 1.5,-0.2 3,-0.2 4.5,-0.3 1.5,-0.1 2.9,-0.8 4.4,-1 0.3,-0.2 0.4,-0.2 0.5,-0.3 z m -33.8,-31.7 c 2.7,0.1 5,0.2 7.3,0.3 0.4,0 0.8,0 1.2,0.1 1,0.2 2.1,0.3 3.1,0.4 2.2,0.1 4.3,0.6 6.4,1 0.8,0.4 1.7,0.4 2.6,0.5 0.6,0.1 1.3,0.2 1.9,0.4 0.6,0.2 1.2,0.4 1.8,0.5 1.2,0.3 2.5,0.4 3.5,1.4 0.1,0.1 0.3,0 0.4,0 0.2,-0.2 0.5,-0.4 0.7,-0.7 0.1,-0.1 0.1,-0.6 -0.1,-0.7 -0.8,-0.4 -1.6,-0.8 -2.4,-1 -2.9,-0.7 -5.7,-1.4 -8.6,-2.2 -0.9,-0.3 -1.9,-0.4 -2.8,-0.5 -1,0 -2.1,-0.1 -3.1,-0.2 -1.3,-0.1 -2.6,-0.2 -3.8,-0.1 -1,0 -2.1,0 -3.1,0 -1.7,0.1 -3.2,0.3 -5,0.8 z m 17.8,20.5 c 0,-0.2 0.1,-0.3 0,-0.5 -0.8,-1.4 -1.6,-2.7 -2.5,-4.1 -0.5,-0.7 -1.1,-1.4 -1.7,-2 -0.5,-0.4 -0.9,-0.9 -1.4,-1.3 -0.2,-0.2 -0.5,-0.4 -0.8,-0.6 -0.1,-0.1 -0.3,-0.1 -0.4,-0.1 -0.1,0.1 -0.2,0.3 -0.2,0.4 0,0.9 0.4,1.6 1.1,2.2 1.5,1.1 2.6,2.6 3.3,4.3 0.4,1.1 1.4,1.5 2.4,1.6 0.1,0.3 0.2,0.2 0.2,0.1 z m -4.8,-12.4 c -1,-0.2 -2,-0.5 -3,-0.7 -3.4,-0.5 -6.8,-0.8 -10.2,-0.7 -0.2,0 -0.4,0.3 -0.4,0.5 0,0.2 0,0.3 0.1,0.5 0.3,0.9 0.5,1 1.4,0.8 1.6,-0.4 3.3,-0.5 5,-0.5 1,0 1.9,0 2.9,0 0.4,0 0.8,0 1.2,0.1 0.9,0.3 1.9,0.2 3,0 z m 24.4,4.7 c -0.1,0 -0.2,-0.1 -0.2,-0.1 -0.7,0.4 -0.9,1.3 -1.6,1.7 -0.9,0.7 -1.5,1.6 -2,2.6 -0.4,0.8 -0.8,1.5 -1.3,2.3 -0.4,0.5 -0.5,1.1 -0.7,1.8 -0.1,0.2 0.3,0.6 0.6,0.6 0.4,0.1 0.7,-0.1 0.8,-0.4 0.3,-0.6 0.4,-1.2 0.8,-1.7 1.3,-2.2 2.2,-4.6 3.7,-6.6 0,-0.1 -0.1,-0.2 -0.1,-0.2 z m 5.6,6.9 c 0,-0.1 0,-0.2 -0.1,-0.2 -1.2,-1 -2.6,-1.4 -3.9,-1.9 -0.5,0.3 -0.7,0.8 -0.9,1.2 -0.2,0.5 -0.4,1 -0.6,1.5 -0.1,0.3 0.1,0.6 0.5,0.6 1.6,-0.1 3,-0.4 5,-1.2 z m 9.5,-16.6 c -1.1,0.2 -2.1,0.5 -3.2,0.8 -0.1,0 -0.2,0.2 -0.3,0.3 0.1,0 0.1,0.1 0.2,0.1 1.7,-0.1 3.3,-0.3 5,-0.4 0.8,-0.1 1.6,-0.1 2.4,0.1 0.5,0.2 1.1,0.2 1.6,0.1 0.1,0 0.2,-0.1 0.2,-0.1 -0.1,-0.1 -0.1,-0.3 -0.2,-0.3 -0.5,-0.1 -1,-0.2 -1.4,-0.1 -1,0.3 -1.9,0.1 -2.8,-0.1 -0.6,-0.2 -1.1,-0.3 -1.5,-0.4 z m 8.4,-3.8 c 0,0 -0.3,-0.2 -0.7,-0.3 0,0 -0.1,0.1 -0.2,0.1 0,0 -0.1,0.1 0,0.2 0.4,0.6 0.9,1.1 1.5,1.5 0.1,0.1 0.5,0 0.6,-0.2 0.2,-0.2 0.1,-0.5 0,-0.6 -0.3,-0.2 -0.6,-0.4 -1.2,-0.7 z m -6.5,26.2 c 0,0.1 -0.1,0.1 -0.1,0.2 0,0.1 0,0.2 0.1,0.2 0.4,0.4 0.9,0.7 1.4,0.7 0.1,0 0.2,-0.1 0.2,-0.1 0,0 0,-0.1 0,-0.2 -0.3,-0.5 -0.9,-0.7 -1.4,-0.8 0,-0.1 -0.1,-0.1 -0.2,0 z m -31.1,-17.8 c 0.6,0.6 1.1,0.9 1.7,1.1 0.1,0 0.3,-0.2 0.3,-0.3 0,-0.1 0,-0.3 -0.1,-0.4 -0.5,-0.3 -1.1,-0.4 -1.9,-0.4 z m -0.8,5.4 c 0,-0.1 0,-0.1 -0.1,-0.2 -0.1,0 -0.2,-0.1 -0.2,-0.1 -0.2,0.1 -0.2,0.2 0.1,0.3 0.1,0.1 0.1,0 0.2,0 z m -1.7,3.3 c 0,-0.1 -0.1,-0.2 -0.1,-0.1 -0.2,0.1 -0.2,0.2 -0.1,0.3 0,0.1 0.1,0.1 0.1,0.2 0,-0.2 0,-0.3 0.1,-0.4 z m -2.6,-3.9 0.1,-0.1 h -0.1 z" />
            <path id="path7" d="m 291.4,12.6 c -0.1,0.1 -0.1,0.2 -0.2,0.2 -0.1,-0.1 -0.3,-0.2 -0.4,-0.3 -0.1,0 -0.1,-0.2 -0.1,-0.2 0.1,-0.2 0.2,-0.2 0.4,-0.1 0.2,0.1 0.2,0.3 0.3,0.4 z" />
            <path id="path9" d="m 195.7,439.3 c 0.1,0.1 0.1,0.1 0.2,0.2 -0.1,-0.1 -0.2,-0.1 -0.2,-0.2 0,0.1 0,0 0,0 z" class="st4" />
            <polygon id="polygon11" points="88.9,410.4 88.8,410.3 " class="st4" />
            <path id="path13" d="m 58.9,361.9 c 0,0 0.1,0 0.1,0.1 0.1,-0.2 0,-0.2 -0.1,-0.1 0,0.1 0,0 0,0 z" class="st4" />
            <path id="path15" d="m 72,94.8 c 0,0 0,0.1 0.1,0.1 0,0 -0.1,-0.1 -0.1,-0.1 0,0 0,0 0,0 z" class="st4" />
            <polygon id="polygon17" points="98.5,18.7 98.6,18.6 " class="st4" />
            <path id="path19" d="m 120.3,10.1 v 0 c -0.1,-0.1 -0.1,0 0,0 -0.1,0 0,0 0,0 z" class="st4" />
            <path id="path21" d="m 194.4,482.3 c 0,0 0.1,0.1 0,0 0.1,0.1 0,0 0,0 z" class="st4" />
        </g>
</svg>
{% endmacro %}