{% macro doughnutpie(name, labels, data, color_set) %}
    <canvas id="myChart-{{ name }}" width="80vw" height="40vh"></canvas>
    <script>
        Chart.defaults.global.defaultFontFamily = 'Faune';
        var ctx = document.getElementById('myChart-{{ name }}').getContext('2d');
        // And for a doughnut chart
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels :
                    [{% for item in labels %}
                        "{{ item }}",
                    {% endfor %}],
                datasets: [{
                    label: "{{ name }}",
                    data :
                        [{% for item in data %}
                            "{{ item }}",
                        {% endfor %}],
                    backgroundColor:
                        [{% for item in color_set %}
                            "{{ item["lighter_color"] }}",
                        {% endfor %}],
                    borderColor:
                        [{% for item in color_set %}
                            "{{ item["main_color"] }}",
                        {% endfor %}],
                    HoverBackgroundColor:
                        [{% for item in color_set %}
                            "{{ item["other_colorstyle"] }}",
                        {% endfor %}],
                    HoverBorderColor: "rgba(220,220,220,1)",
                }]
            },
        });
    </script>
{% endmacro %}