{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; <a href="https://exploreve.fr">Explorêve</a> 2020</span>
        </div>
    </footer>
{% endblock %}