{% macro horizontal_bar(name, labels, data, color_set) %}
    <canvas id="myChart-{{ name }}" width="80vw" height="40vh"></canvas>
    <script>
        Chart.defaults.global.defaultFontFamily = 'Faune';
        var ctx = document.getElementById('myChart-{{ name }}').getContext('2d');
        new Chart(document.getElementById("myChart-{{ name }}"), {
            type: 'horizontalBar',
            data: {
                labels :
                    [{% for item in labels %}
                        "{{ item }}",
                    {% endfor %}],
                datasets: [{
                    label: "{{ name }}",
                    data : [{% for item in data %}
                        "{{ item }}",
                    {% endfor %}],
                    backgroundColor: [{% for item in color_set %}
                        "{{ item["main_color"] }}",
                    {% endfor %}],
                }],
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: 'Predicted world population (millions) in 2050'
                    }
                }
            }});
    </script>
{% endmacro %}