{% extends "stats/_base.html" %}

{% block body %}
    <div class="top-text">
        Mean per day: {{ mean_per_day }}
    </div>
    <div class="top-text">
        Median per day: {{ median_per_day }}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <canvas id="myChart" width="80vw" height="40vh"></canvas>
    <script>
        Chart.defaults.global.defaultFontFamily = 'Faune';
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels :
                    [{% for item in labels %}
                        "{{ item }}",
                    {% endfor %}],
                datasets: [{
                    label: "{{ title }}",
                    data :
                        [{% for item in data %}
                            "{{ item }}",
                        {% endfor %}],
                    fill: true,
                    lineTension: 0.1,
                    backgroundColor: "{{ background_color }}",
                    borderColor: "{{ border_color }}",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "{{ pointborder_color }}",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "{{ pointhover_color }})",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}