{% extends "stats/_base.html" %}
{% from "stats/_horizontal_bar_macro.html" import horizontal_bar %}
{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{ horizontal_bar("Top 3 movements", movements["labels"], movements["data"], movements["color_sets"]) }}
            </div>
            <div class="col-md-6">
                <div class="top-text">
                    Total number of ages: {{ ages["total"] }}
                </div>
                <div class="top-text">
                    Total of different ages: {{ ages["total_different"] }}
                </div>
                <div class="top-text">
                    Mean age: {{ ages["mean"] }}
                </div>
                <div class="top-text">
                    Median age: {{ ages["median"] }}
                </div>
                {{ horizontal_bar("Top 3 ages", ages["labels"], ages["data"], ages["color_sets"]) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
        </div>
    </div>
{% endblock %}