{% extends "stats/_base.html" %}

{% from 'stats/_color_scarf_macro.html' import color_scarf %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <p>Most of</p>
                {{ color_scarf(most_of_background, most_of_border, most_of_knot, "mostof") }}
            </div>
            <div class="col-md-4">
                <p>Mean</p>
                {{ color_scarf(mean_background, mean_border, mean_knot, "mean") }}
            </div>
            <div class="col-md-4">
                <p>Median</p>
                {{ color_scarf(median_background, median_border, median_knot, "median") }}
            </div>
        </div>
    </div>
{% endblock %}