{% extends "stats/_base.html" %}
{% from "stats/_doughnut_pie_macro.html" import doughnutpie %}
{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{ doughnutpie("Moderation", labels_mod, data_mod, color_set1) }}
            </div>
            <div class="col-md-6">
                {{ doughnutpie("Safe", labels_safe, data_safe, color_set2) }}
            </div>
        </div>
    </div>
{% endblock %}